<h2>The Game Design Document</h2>
<p>Ideally your design document can start with a single sentence that describes your game in it's entirety, including
  every
  mechanism. It's a mission statement, ie:
  <i>create a multiplayer fighting game that's all about deflection.</i>Refer to this to see if you're ever getting
  off-track
  or if you need to revise your mission statement.</p>
<p>It should serve a colleague in the same way a game manual serves a player. With that same level of informance. It's
  a guide
  on how to work on your game.</p>
<p>Here's a good format:</p>
<i>
  <ul>
    <li>Introduction / purpose statement.</li>
    <li>Game-play overview: a quick rundown of what the game is, the sorts of things that players will be doing, and
      what the goal
      of the game is:
      <ul>
        <li>Number of players.</li>
        <li>List of components.</li>
      </ul>
    </li>
    <li>Suggested ages.</li>
    <li>Starting a game: a list of steps that the player must take at the start of the game, ie. selecting a character,
      drawing
      cards etc.</li>
    <li>How to play: instruct players on what they can, or must make or do during phases or real-time segments.</li>
    <li>Game elements: describe each element in basic form.</li>
    <li>Elements in detail: describe each of the aforementioned elements in depth.</li>
    <li>Game end: Could go at the beginning and end of your document. Describes the end condition in great detail.
      Should describe
      all end conditions:
      <ul>
        <li>End condition.</li>
        <li>Win condition.</li>
        <li>Lose condition.</li>
        <li>Draw condition.</li>
      </ul>
    </li>
    <li>FAQ / other notes (optional).</li>
    <li>Strategies (optional). Describing optimal play strategies could help illuminate potential weaknesses in your
      design.</li>
    <li>Prototyping</li>
  </ul>
</i>
