<p>An AR project is very simple to get up-and-running with Vuforia. It's natively built-in to Unity and requires 3 components:</p>

<ul>
    <li>A Vuforia account that holds a license and image database.</li>
    <li>Unity, with our Vuforia license + database imported enabled.</li>
    <li>A web-cam with which to view our printed image to have Unity display something of our choosing.</li>
</ul>

<p>You also need to make sure Vuforia is enabled during Unity's installation to make sure you have access to the right features.</p>

<p>
    <img src="assets/images/unity/ar/vuforia/getting-started/unity-install.jpg">
</p>

<p>With that in-place, we're ready to take the first step towards seeing something like this in Unity using our phone or a web-cam:</p>

<p>
    <img src="assets/images/unity/ar/vuforia/getting-started/ARGolem.gif">
</p>

<p>So let's run through the steps:</p>

<h2>Vuforia</h2>

<ol>
    <li>Head to
        <a href="https://www.vuforia.com/">Vuforia</a>
    </li>
    <li>Click the link to the Dev Portal in the nav bar.</li>
    <li>Ensure you're logged in.</li>
    <li>Click Develop in the nav bar.</li>
    <li>
        <p>Take note of the License Manager and the Target Manager.</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/vuforia-license-target.JPG">
        </p>
    </li>
    <ul>
        <li>
            <b>License Manager</b>: For the most part, you only ever need to setup one license. It will generate a serial key
            that you're supposed to paste in to Unity.</li>
        <li>
            <b>Target Manager</b>: You create databases here. You will probably create 1 database and store a whole bunch of
            images inside that to start with. The database gets downloaded, and any images that belong to it become available
            in Unity.</li>
    </ul>
    <li>So, set-up your license. We'll come back to this later...</li>
    <li>Create a database, within that, you add a tracking image. It will ask you to upload a file and provide a width. 1 is
        fine for width.</li>
    <li>
        <p>Select the images you want access to in Unity and download your database as a package for Unity Editor.</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/database.JPG" alt="">
        </p>
    </li>
    <li>Your database will download in the form of a Unity Package which you can import to any Unity Project.</li>
</ol>

<h2>Unity</h2>

<ol>
    <li>
        <p>Enable Vuforia AR by browsing through
            <i>Edit > Player Settings</i>.</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/player-settings.JPG">
        </p>
    </li>
    <li>
        <p>You need to create your first Vuforia GameObject in order to complete the import process for Vuforia into any new
            project. Seeing as an AR camera is something you're going to need anyway, let's create one of those.</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/new-vuforia-camera.jpg">
        </p>
        <p>Having done this, you can delete your scene's Main Camera, we won't be using that one anymore.</p>
        <p>You'll notice your Project view has quite a few things imported into it now.</p>
    </li>
    <li>Now's the time to setup your usual project structure and then save your new scene.</li>
    <li>Import everything from your downloaded Unity Package from Vuforia.</li>
    <li>On your AR Camera, you'll find a button in the Inspector to bring you to the Vuforia Config.
        <ul>
            <li>
                <p>Paste your license from Vuforia here, if you need to copy it again, there's a button to automatically browse
                    to the site for you.</p>
                <p>
                    <img src="assets/images/unity/ar/vuforia/getting-started/vuforia-license.JPG">
                </p>
            </li>
            <li>
                <p>Enable your downloaded Vuforia database here, if you haven't downloaded it yet, there's a button that will
                    automatically browse to the site for you.</p>
                <p>
                    <img src="assets/images/unity/ar/vuforia/getting-started/vuforia-database-active.JPG">
                </p>
            </li>
        </ul>
    </li>
    <li>
        <p>You need to create an Image Target.</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/image-target.jpg">
        </p>
    </li>
    <li>Your image target has 3 settings you will want to change:
        <ul>
            <li>Select your database.</li>
            <li>
                <p>Select your image from that database.</p>
                <p>
                    <img src="assets/images/unity/ar/vuforia/getting-started/image-target-settings.JPG">
                </p>
            </li>
            <li>
                <p>Set the size of your image-target.</p>
                <p>
                    <img src="assets/images/unity/ar/vuforia/getting-started/image-target-advanced.JPG">
                </p>
                <p>I would say you should create a cube, which as we know, by default is 1x1x1 metres. Place the cube next to
                    your image target in your scene hierarchy (don't parent it) and now you will be able to see how big a
                    1m object is compared to your image target. This is exactly the size comparrison you should expect when
                    running your AR application through your phone or webcam.</p>
                <p>
                    <img src="assets/images/unity/ar/vuforia/getting-started/ar-scale-test.JPG">
                </p>
            </li>
        </ul>
    </li>
    <li>
        <p>Any objects you want to have appearing in AR need to be parented to your image target, let's say... this cube:</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/image-target-hierarchy.JPG">
        </p>
    </li>
    <li>
        <p>Print off your Image Target.</p>
        <p>Make sure this setting is disabled for the best result.</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/print-disable.JPG">
        </p>
    </li>
    <li>Plug in your Web-Cam.</li>
    <li>Hit the Play button in Unity.</li>
    <li>
        <p>Point your web-cam at your printed image. You should get this result:</p>
        <p>
            <img src="assets/images/unity/ar/vuforia/getting-started/ar-result.JPG">
        </p>
    </li>
</ol>