@media only screen and (max-width: 960px) {
    #content {
      left: 0px;
    }
  
    #content-list {
      border-right: 2px solid #33353d;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
      transition-duration: 0.25s;
    }
  
    #content-list.hide {
      width: 0px;
      transition-duration: 0.25s;
    }
  
    #content-list.hide ul {
      display: none;
    }
  
    #bg-click.hide {
      background: rgba(0, 0, 0, 0);
      transition-duration: 0.25s;
      z-index: -5;
    }
  
    .hamburger {
      display: flex !important;
      position: fixed;
      top:0px;
      left:0px;
      width: 50px !important;
      height: 38px !important;
      z-index: 5 !important;
    }

    nav {
        z-index: 2 !important;
    }

    #content h1 {
        font-size: 26px;
        max-height: 50px;
    }
}

@media only screen and (max-width: 500px) {
    #content {
        padding: 0px;
    }
    
    .img-sml {
        height: auto;
      }

    .youtube {
        width:300px;
        height:225px;
    }
  }