@media print {
    #content-list, nav {
        display: none !important;
    }

    h1 {
        position: absolute !important;
        top: -40px !important;
        left: 0px !important;
    }

    div {
        position: absolute !important;
        top: 20px !important;
        left: 0px !important;
        width: 100% !important;
        height: 100% !important;
        color: black !important;
        z-index: 1 !important;
        margin: 0px !important;
        padding: 0px !important;
        border: 0px !important;
    }

    img {
        max-width: 100% !important;
        box-shadow: none !important;
    }
}