<p>People will often say that X game has really good or bad graphics, and from saying that we usually get the general idea.
  "Okay, they thought it looked good or bad". But in industry, we need to be a little more precise. 'Graphics' actually refers
  to the technical rendering of on-screen visuals. Graphics are things like shadows, normal maps, depth of field, bloom,
  sub-surface scattering or tesselation. Better graphical capabilities allow us to display more polygons or have higher res
  shadows in our games, basically, more detail. More detail is not inherently better. Often when people say they want their
  games to have good graphics, what they really mean is that they want their game to look good. This isn't what graphics
  do, for this, we need aesthetics. Aesthetics are things like colour palette, use of shapes, lines, motion and balance.
  They're the things that our technology doesn't wholly do for us. It's our artistic flair and personal touch. A lot of games
  utilize great graphics, but that alone, when placed next to any game with a good aesthetic, pales in the contest to grab
  an audience.</p>
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/high-detail-bad-aesthetic.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/low-detail-good-aesthetic.png" class="img-sml">
<br>
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/team-fortress-vs-team-fortress-2.jpg">
<p>Detail != better.</p>
<h3>Graphics</h3>
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/graphics-final-fantasy-xii.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/graphics-killzone-2.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/graphics-nier.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/graphics-ico.png" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/graphics-resistance-fall-of-man.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/graphics-tomb-raider-3.png" class="img-sml">
<p>A common myth that I've heard is that thanks to new graphical capabilities, we're able to have larger worlds. It's not entirely
  true. Tomb Raider always had very large levels, just as large as many of the levels in Uncharted. Playing through a level
  in Doom was always something that could take you a few minutes if you're a pro who knows what they're doing.</p>
<iframe class="youtube" src="https://www.youtube.com/embed/TMYso30L9zI?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
<p>We keep hearing things like 'life-like graphics", "full immersion" and "endlessly expansive worlds". Marketting usually use
  graphics as the crutch to justify themselves saying this, and good move really, it's the easiest thing to sell, visuals
  are the first thing we come across usually with games. This is why we have misleading, subjective discussions about games
  having good or bad graphics. Consider that wandering around the world in Morrowind can take about as long as it took in
  Daggerfall.
</p>
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/old-still-vast.png" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/modern-same-vastness.jpg" class="img-sml">
<p>The graphics actually say very little about how expansive the world is, and our technological advancements haven't actually
  changed much about the size of our game worlds.</p>
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/aesthetics-south-park.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/aesthetics-okami.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/aesthetics-journey.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/aesthetics-uncharted-4.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/aesthetics-doom-2016.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/aesthetics-limbo.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/aesthetics-crash-bandicoot.jpg" class="img-sml">
<p>The screenshots above say "fun, action-packed" or "peaceful and thought provoking". The screenshots from before mostly communicate
  to us that they're games, but that's about all. It's hard to tell from looking at them if it's the sort of game we might
  enjoy.
</p>
<p>Graphics are pushed by advancements in technology like faster processing. Aesthetics are pushed by observations, experiences,
  imagination and iteration.
</p>
<p>Take a look at Dragon Ball Z. It's evolved a lot over time. These games are a few titles apart, but I find it interesting
  to compare the characters from the game to their versions from the cartoon. Budokai 1 looked awful, and a big part of it
  was that we were seeing familiar characters from an anime portrayed in 3D with all the flaws of typical 3D realtime-rendered
  assets. They did very little to dress-up the 3D graphics to match the aesthetic of the show. Later they introduced toon
  shaders and it really solved most of the aesthetic issues.</p>
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/dragon-ball-z-show-reference.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/dragon-ball-z-budokai-1.png" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/dragon-ball-z-budokai-2.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/dragon-ball-z-ps4.jpg" class="img-sml">