<p>Try to analyze your ideas up-front. in the design stage. You'll usually see ideas stand or fall when tested, but we can catch
  these early.</p>
<h2>Charts</h2>
<p>A two-axis grid of information. For example: list names of items, damage rating, range, cost, weight, etc. Seeing this prior
  to testing will allow you to compare, visualize, balance, etc.</p>
<p>
    <img src="assets/images/design/clockwork-game-design/chart-1.png">
</p>
<p>Numbers are a lot for people to process generally, Consider using stars instead of numbers, this abstracts the values, allowing
  us to stop worrying so much about the actual number:</p>
<p>
    <img src="assets/images/design/clockwork-game-design/chart-2.png">
</p>
<p>Lastly you could assess the weapon's overall value by numerically representing the average of all the star ratings.</p>
<p>
    <img src="assets/images/design/clockwork-game-design/chart-3.png">
</p>
<p>The average star rating would change drastically if you were to add or remove parameters from the chart. This clearly demonstrates the impact of adding more parameters or rules to your game, AKA: complexity / content.</p>
<h2>Mapping</h2>
<h3>Game structure maps</h3>
<p>The Clockwork pattern views games as consisting of:</p>
<ul>
  <li>The core mechanism.</li>
  <li>The goal.</li>
  <li>The supporting mechanisms.</li>
</ul>
<p>This gives us a mapped way in which we can visualize how our game is pieced together.</p>
<p>
    <img src="assets/images/design/clockwork-game-design/structure-map-good.png">
</p>
<p>You may have real problems on your hands if your map resembles the following:</p>
<p>
    <img src="assets/images/design/clockwork-game-design/structure-map-bad.png">
</p>
<h3>Connection maps</h3>
<p>
    <img src="assets/images/design/clockwork-game-design/connection-map.png">
</p>
<p>Maps like this are useful in some cases. Say you have multiple monsters in your game with elemental affinities. Some have
  advantages over others and some are strictly weak to certain other monsters. Connection maps are utilized here. Connections
  help visualize loose ends or isolated nodes, something that can be lost when monsters exist during the design phase only
  as an idea or written words.</p>