<app-app-list id="content-list" [ngClass]="{'hide': appsService.hidden}"></app-app-list>
<div id="bg-click-blocker"></div>
<div id="bg-click" [ngClass]="{'hide': appsService.hidden}" (click)="appsService.Toggle()"></div>

<div id="content">
        <div>
            <h1>{{globals.title}}</h1>
            <div><router-outlet name="app-content"></router-outlet></div>
        </div>
    </div>