<app-tutorials-list id="content-list" [ngClass]="{'hide': tutorialsService.hidden}"></app-tutorials-list>
<div id="bg-click" [ngClass]="{'hide': tutorialsService.hidden}" (click)="tutorialsService.Toggle()"></div>

<div id="content">
    <div>
        <h1>{{globals.title}}</h1>
        <div><router-outlet name="tutorials-content"></router-outlet></div>
    </div>
</div>