<p>The following guide offers the bare minimum needed to implement Firebase Databse in your project.</p>

<h2>Project Creation</h2>

<ol>
    <li>
        <p>Complete steps 1 & 2 following the Firebase Assistant. </p>
        <p><img src="assets/images/android-studio/firebase/authentication/email/ToolsFirebase.JPG"></p>
        <p><img src="assets/images/android-studio/firebase/database/FirebaseDatabaseAssistant.jpg"></p>
        <p>Let the assistant create a new Firebase project for you. This is the default option.</p>
    </li>
    <li>
        <p>
            DON'T follow step 3 in the assistant just yet. Head to your <a
                href="https://console.firebase.google.com/">firebase console</a>, click on your newly
            created project & address the data-share warning:
        </p>
        <p><img src="assets/images/android-studio/firebase/authentication/firebase-auth-getting-started/firebaseDataSharingWarning.JPG"
                alt=""></p>
    </li>
    <li>
        <p>
            Before you can follow step 3, you'll need to browse to your project through Firebase Console and create a
            Realtime Database. This is NOT to be confused with the Firestore Database.</p>
        <p><img src="assets/images/android-studio/firebase/database/AddRealtimeDatabase.gif" alt=""></p>
        <p>
            The above shows how to overcome step 3 through the Firebase Project's interface, however you should take
            note here. Essentially we are making our database public at this stage. This is temporary while we're
            testing. See the links shown in step 3 for a clearer guide on how to modify your rules.
        </p>
    </li>
    <li>
        <p>You should be able to complete steps 4 & 5 now. If step 3 hasn't been done properly, you'll see the following
            error in Android Studio:</p>
        <p>
            <code>
                W/RepoOperation: setValue at /message failed: DatabaseError: Permission denied
            </code>
        </p>
        <p>If you're able to complete steps 4 & 5, that confirms that you're able to connect to your database to send &
            receive data.</p>
        <p>To be sure, run your app after completing the 5 steps, and you SHOULD see that a "<mark>message</mark>"
            object can be found in your database, with the value: "<mark>Hello World!</mark>".</p>
        <p><img src="assets/images/android-studio/firebase/database/MessageHelloWorld.jpg" alt=""></p>
    </li>
    <li>
        <p>Try editing that value in Firebase while your app is running and keep an eye on your LogCat.</p>
        <p><img src="assets/images/android-studio/firebase/database/ForcingAValueToChange.gif" alt=""></p>
        <p><img src="assets/images/android-studio/firebase/database/ForcedValueChangeOutput.jpg" alt=""></p>
        <p>If this checks out, well done, you have a working database that sends & receives data.</p>
    </li>
</ol>

<h2>Rules</h2>

<p>Without going into too much detail, let's have another brief look at step 3 from the Firebase assistant about
    <mark>Rules</mark>.</p>
<p>You have a database open for the world to access, but you often don't want to give the world access to all the data
    at once, instead, you'd prefer that users are able to login and only then, access data that belongs to themselves.
    This is done through <mark>Rules</mark>.</p>
<p>Take note of this section of your database:</p>
<p><img src="assets/images/android-studio/firebase/database/DBRules.jpg" alt=""></p>
<p>Simply put, this is where you define rules for who can and can't access certain values in your database. This
    tutorial isn't about them, but it's good to be aware. To find out more, see the documentation <a
        href="https://firebase.google.com/docs/database/security/quickstart?authuser=0">here</a>.</p>
<p>They provide some simple template rules to get you started:</p>
<p><img src="assets/images/android-studio/firebase/database/DBDocumentationRules.JPG" alt=""></p>

<h2>Listeners</h2>

<ol>
    <li>
        <p>
            In order to get data from Firebase at all, you do so through <mark>listeners</mark>. This seems convoluted
            at-first if you're coming from a SQL background. A brief note is that typically when you add listeners to an
            object, you'd usually like to have the ability to remove them again at will.
        </p>
        <p>Whether that makes sense or not, declare your listeners as variables to make your life easier, you can later
            attach or remove these listener variables to objects as you please, giving you a lot more control:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">ValueEventListener</span> velTest <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">ValueEventListener</span>() &#123;
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onDataChange</span>(<span style="color:#569cd6;">@NonNull</span> <span style="color:#569cd6;">DataSnapshot</span> dataSnapshot) &#123;
            <span style="color:#569cd6;">String</span> value <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>getValue<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">String</span><span style="color:#b4b4b4;">.</span>class<span style="color:#b4b4b4;">)</span>;
            <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Value is: &quot;</span> <span style="color:#b4b4b4;">+</span> value<span style="color:#b4b4b4;">)</span>;
        }
    
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onCancelled</span>(<span style="color:#569cd6;">@NonNull</span> <span style="color:#569cd6;">DatabaseError</span> databaseError) &#123;
            <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>w<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Failed to read value.&quot;</span><span style="color:#b4b4b4;">,</span> databaseError<span style="color:#b4b4b4;">.</span>toException<span style="color:#b4b4b4;">())</span>;
        }
    };
        </pre>

    </li>

    <li>
        <p>In the above example, <code>velTest</code> becomes a listener you can add or remove as you please. The
            listener stored in that variable will also only persist for as long as the object containing the variable
            exists.</p>

        <p>Firebase provides 2 ways to use these listners:</p>
        <ol type="a" class="unspaced">
            <li>
                <p>
                    <code>myRef.addValueEventListener(velTest);</code>
                </p>
                <p>Commands your <mark>DatabaseReference</mark> to AUTOMATICALLY update whenever a change is detected
                    online, I.e.</p>

                <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">beginReadingFromDatabase</span>() &#123;
        <span style="color:#569cd6;">FirebaseDatabase</span> database <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FirebaseDatabase</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">()</span>;
        <span style="color:#569cd6;">DatabaseReference</span> myRef <span style="color:#b4b4b4;">=</span> database<span style="color:#b4b4b4;">.</span>getReference<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;message&quot;</span><span style="color:#b4b4b4;">)</span>;
    
        myRef<span style="color:#b4b4b4;">.</span>addValueEventListener<span style="color:#b4b4b4;">(</span>velTest<span style="color:#b4b4b4;">)</span>;
    }
                </pre>
                <p>Try calling this method in <mark>onCreate()</mark>, after having written a message to your database.
                </p>
            </li>
            <li>
                <p>
                    <code>myRef.addListenerForSingleValueEvent(velTest);</code>
                </p>
                <p>Commands your <mark>DatabaseReference</mark> to MANUALLY update ONCE at the time of calling this
                    method.</p>

                <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">readOnceFromDatabase</span>() &#123;
        <span style="color:#569cd6;">FirebaseDatabase</span> database <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FirebaseDatabase</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">()</span>;
        <span style="color:#569cd6;">DatabaseReference</span> myRef <span style="color:#b4b4b4;">=</span> database<span style="color:#b4b4b4;">.</span>getReference<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;message&quot;</span><span style="color:#b4b4b4;">)</span>;
    
        myRef<span style="color:#b4b4b4;">.</span>addValueEventListener<span style="color:#b4b4b4;">(</span>velTest<span style="color:#b4b4b4;">)</span>;
    }
                </pre>

                <p>Try calling this method in <mark>onTouchEvent()</mark>.</p>
            </li>
        </ol>
    </li>
</ol>

<h2>Heavier Data</h2>

<p>So the above works fine for sending & receiving a simple message to & from Firebase, but we'll usually be doing more
    than that for a game that has multiple users, online quest-completion tracking, inventory and level-up progress, etc.
</p>
<p>Let's have a go at storing data in sets.</p>

<ol>
    <li>You already have a project in Android Studio that works with your database on Firebase. Overwrite the files within this project with the ones extracted from <a href="assets/zips/android-studio/firebase/database/DBBasic.zip">this zip</a>.</li>
    <li>
        <p>In Android Studio, take note of the following Java class:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">User</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">User</span>(<span style="color:#569cd6;">String</span> _name, <span style="color:#569cd6;">int</span> _age, <span style="color:#569cd6;">boolean</span> _isCool) &#123;
            name <span style="color:#b4b4b4;">=</span> _name;
            age <span style="color:#b4b4b4;">=</span> _age;
            isCool <span style="color:#b4b4b4;">=</span> _isCool;
        }
        
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">String</span> name;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">int</span> age;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">boolean</span> isCool;
    }
        </pre>

        <p>We'll be able to turn this into data for our database, both at the time of sending, and at the time of receiving.</p>
    </li>
    <li>Have a look at <mark>MainActivity</mark>, you'll see it already sets up the necessary UI needed for us to input data and submit a form.</li>
    <li>
        <p>First, let's try to send some data to our database. Add the following code to <mark>setUser()</mark>:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">

    <span style="color:#57a64a;">// Some mandatory error checking.</span>
    <span style="color:#569cd6;">String</span> name <span style="color:#b4b4b4;">=</span> etName<span style="color:#b4b4b4;">.</span>getText<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
    <span style="color:#569cd6;">String</span> age <span style="color:#b4b4b4;">=</span> etAge<span style="color:#b4b4b4;">.</span>getText<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
    <span style="color:#569cd6;">if</span> (name<span style="color:#b4b4b4;">.</span>isEmpty<span style="color:#b4b4b4;">()</span>) &#123;
        etName<span style="color:#b4b4b4;">.</span>setError<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;Please provide a name&quot;</span><span style="color:#b4b4b4;">)</span>;
        etName<span style="color:#b4b4b4;">.</span>requestFocus<span style="color:#b4b4b4;">()</span>;
        <span style="color:#569cd6;">return</span>;
    }
    <span style="color:#569cd6;">if</span> (age<span style="color:#b4b4b4;">.</span>isEmpty<span style="color:#b4b4b4;">()</span>) &#123;
        etAge<span style="color:#b4b4b4;">.</span>setError<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;Please provide an age&quot;</span><span style="color:#b4b4b4;">)</span>;
        etAge<span style="color:#b4b4b4;">.</span>requestFocus<span style="color:#b4b4b4;">()</span>;
        <span style="color:#569cd6;">return</span>;
    }
        
    <span style="color:#57a64a;">// Make a new user from the form data.</span>
    <span style="color:#569cd6;">User</span> user <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">User</span>(
        etName<span style="color:#b4b4b4;">.</span>getText<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>
    ,   <span style="color:#569cd6;">Integer</span><span style="color:#b4b4b4;">.</span>parseInt<span style="color:#b4b4b4;">(</span>etAge<span style="color:#b4b4b4;">.</span>getText<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">())</span>
    ,   chIsCool<span style="color:#b4b4b4;">.</span>isChecked<span style="color:#b4b4b4;">()</span>
    );
        
    <span style="color:#57a64a;">// Set a location for us to insert our data.</span>
    <span style="color:#569cd6;">FirebaseDatabase</span> database <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FirebaseDatabase</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">()</span>;
    <span style="color:#569cd6;">DatabaseReference</span> dbRef <span style="color:#b4b4b4;">=</span> database<span style="color:#b4b4b4;">.</span>getReference<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;users&quot;</span><span style="color:#b4b4b4;">).</span>child<span style="color:#b4b4b4;">(</span>user<span style="color:#b4b4b4;">.</span>name<span style="color:#b4b4b4;">)</span>;
        
    <span style="color:#57a64a;">// Place a User into the reference taken on the previous line of code.</span>
    dbRef<span style="color:#b4b4b4;">.</span>setValue<span style="color:#b4b4b4;">(</span>user<span style="color:#b4b4b4;">)</span>;
        </pre>

        <p>Run your app, fill out the form and try to set a new user, you should be able to browse your new user's data in Firebase:</p>
        <p><img src="assets/images/android-studio/firebase/database/SetUserTest.JPG" alt=""></p>
    </li>
    <li>
        <p>
            As mentioned before, GETTING data requires a tad more effort. We need to establish a listener first which we'll attach to our <mark>DatabaseReference</mark> at the time we press the button, submitting our form. We won't be doing anything in the app's UI to test this, we'll just observe the feedback in our <mark>LogCat</mark>.
        </p>
        <p>Establish a listener with the following code, note that it has a case for handling a <mark>null</mark> snapshot. This is in-case we ask for a user who doesn't exist. We won't be able to test this yet, wait for the next step where we attach this listener to a <mark>DatabaseReference</mark>.</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">ValueEventListener</span> velGetUser <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">ValueEventListener</span>() &#123;
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onDataChange</span>(<span style="color:#569cd6;">DataSnapshot</span> dataSnapshot) &#123;
            <span style="color:#569cd6;">if</span> (dataSnapshot<span style="color:#b4b4b4;">.</span>getValue<span style="color:#b4b4b4;">()</span> <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
                <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;TEST&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;DataSnapshot: &quot;</span> <span style="color:#b4b4b4;">+</span> dataSnapshot<span style="color:#b4b4b4;">.</span>getValue<span style="color:#b4b4b4;">())</span>;
    
                <span style="color:#569cd6;">String</span> dsName <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>child<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;name&quot;</span><span style="color:#b4b4b4;">).</span>getValue<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
                <span style="color:#569cd6;">String</span> dsAge <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>child<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;age&quot;</span><span style="color:#b4b4b4;">).</span>getValue<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
                <span style="color:#569cd6;">String</span> dsIsCool <span style="color:#b4b4b4;">=</span> dataSnapshot<span style="color:#b4b4b4;">.</span>child<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;isCool&quot;</span><span style="color:#b4b4b4;">).</span>getValue<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
    
                <span style="color:#569cd6;">User</span> user <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">User</span>(
                    dsName
                ,   <span style="color:#569cd6;">Integer</span><span style="color:#b4b4b4;">.</span>parseInt<span style="color:#b4b4b4;">(</span>dsAge<span style="color:#b4b4b4;">)</span>
                ,   <span style="color:#569cd6;">Boolean</span><span style="color:#b4b4b4;">.</span>parseBoolean<span style="color:#b4b4b4;">(</span>dsIsCool<span style="color:#b4b4b4;">)</span>
                );
    
                <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;TEST&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;name: &quot;</span> <span style="color:#b4b4b4;">+</span> user<span style="color:#b4b4b4;">.</span>name <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot; | age: &quot;</span> <span style="color:#b4b4b4;">+</span> user<span style="color:#b4b4b4;">.</span>age <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot; | isCool: &quot;</span> <span style="color:#b4b4b4;">+</span> user<span style="color:#b4b4b4;">.</span>isCool<span style="color:#b4b4b4;">)</span>;
            } <span style="color:#569cd6;">else</span> &#123;
                <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>w<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;TEST&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;No user found by name: &quot;</span> <span style="color:#b4b4b4;">+</span> etName<span style="color:#b4b4b4;">.</span>getText<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">())</span>;
            }
        }
    
        <span style="color:#569cd6;">@Override</span>
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onCancelled</span>(<span style="color:#569cd6;">DatabaseError</span> databaseError) &#123;
            <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>w<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;TEST&quot;</span><span style="color:#b4b4b4;">,</span> databaseError<span style="color:#b4b4b4;">.</span>getMessage<span style="color:#b4b4b4;">())</span>;
        }
    };
        </pre>
    </li>
    <li>
        <p>
            Let's attach our listener to a <mark>DatabaseReference</mark>. Add the following code to <mark>getUser()</mark>:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">

    <span style="color:#57a64a;">// Some mandatory error checking.</span>
    <span style="color:#569cd6;">String</span> name <span style="color:#b4b4b4;">=</span> etName<span style="color:#b4b4b4;">.</span>getText<span style="color:#b4b4b4;">().</span>toString<span style="color:#b4b4b4;">()</span>;
        <span style="color:#569cd6;">if</span> (name<span style="color:#b4b4b4;">.</span>isEmpty<span style="color:#b4b4b4;">()</span>) &#123;
            etName<span style="color:#b4b4b4;">.</span>setError<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;Please provide a name&quot;</span><span style="color:#b4b4b4;">)</span>;
            etName<span style="color:#b4b4b4;">.</span>requestFocus<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">return</span>;
        }
        
    <span style="color:#57a64a;">// Set a location for us to get data from.</span>
    <span style="color:#569cd6;">FirebaseDatabase</span> database <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FirebaseDatabase</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">()</span>;
        <span style="color:#569cd6;">DatabaseReference</span> dbRef <span style="color:#b4b4b4;">=</span> database<span style="color:#b4b4b4;">.</span>getReference<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;users&quot;</span><span style="color:#b4b4b4;">).</span>child<span style="color:#b4b4b4;">(</span>name<span style="color:#b4b4b4;">)</span>;
        
    <span style="color:#57a64a;">// Trigger our listener instantly.</span>
    dbRef<span style="color:#b4b4b4;">.</span>addListenerForSingleValueEvent<span style="color:#b4b4b4;">(</span>velGetUser<span style="color:#b4b4b4;">)</span>;
        </pre>

        <p>You can now test your app. Input the name of a user you've stored before, and try to get their data. You should see confirmation in your <mark>LogCat</mark>.</p>
        <p><img src="assets/images/android-studio/firebase/database/GetUserTest.jpg" alt=""></p>
    </li>
</ol>

<p>If you're at your wits end trying to figure which step has gone wrong and it's just not working, <a href="assets/zips/android-studio/firebase/database/DBBasicComplete.zip">these files</a> have been tested alongside this tutorial and should work, provided they're imported correctly into a Firebase connected project.</p>