<p>
  Dictionaries are sort of like lists/arrays except... lists/arrays, you can select elements by index with a number. Lists/arrays
  are also built for being iterated through, whereas dictionaries not so much.
</p>

<p>
  Take the following example:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; myDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>   , <span style="color:#569cd6;">int</span>&gt; &#123;
        &#123; <span style="color:#d69d85;">&quot;buster&quot;</span>   , <span style="color:#b5cea8;">0</span>  &#125;,
        &#123; <span style="color:#d69d85;">&quot;jack&quot;</span>     , <span style="color:#b5cea8;">1</span>  &#125;,
        &#123; <span style="color:#d69d85;">&quot;martha&quot;</span>   , <span style="color:#b5cea8;">34</span> &#125;,
        &#123; <span style="color:#d69d85;">&quot;timothy&quot;</span>  , <span style="color:#b5cea8;">3</span>  &#125;,
        &#123; <span style="color:#d69d85;">&quot;sarah&quot;</span>    , <span style="color:#b5cea8;">4</span>  &#125;
    &#125;;

</pre>

<P>Holy moly! That's a lot of stuff going on for something that's meant to be "sort of like lists/arrays"!</P>

<p>
  Firstly, dictionaries always have 2 factors to them, the
  <mark>key</mark> and secondly the
  <mark>value</mark>. They value is the familiar part for us.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">int</span>[] foo <span style="color:#b4b4b4;">=</span> &#123; <span style="color:#b5cea8;">6</span>, <span style="color:#b5cea8;">8</span>, <span style="color:#b5cea8;">3</span> &#125;;

</pre>

<p>
  In the above array, 6, 8 and 3 are our values, so that's part #2 sorted... what's part #1 then? The key... ?
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(foo[<span style="color:#b5cea8;">0</span>]);

</pre>

<p>
    Well, it turns out you have been using keys to access values all along. 0 is the key, and it accesses the value of 6.
</p>

<p>
    A dictionary is like an array where you don't necessarily use a numbered index to get your values. Look again at the dictionary example above. It's saying that it's an array of integers, and that we can use strings to refer to them. If we logged:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(myDictionary[<span style="color:#d69d85;">&quot;timothy&quot;</span>]);

</pre>

<p>That would log 3. Note this example dictionary's type</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    &lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt;

</pre>

<p>
  You can change these types with whatever you want, get an int key to refer to an int value, a sprite to refer to a character's
  name, anything you want. The types can be swapped out just as easily as they can with lists/arrays.
</p>

<h2>Declaration</h2>

<p>
  This is the same as list, where you define the value type, but first you must also define your key type:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; myDictionary;

</pre>

<p>
  Just like lists, we can always define this later, but why not initialize it here?
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; myDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt;();

</pre>

<p>
  Also like lists, we can populate them during initialization as well:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; myDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt;() &#123;
        &#123; <span style="color:#d69d85;">&quot;buster&quot;</span>, <span style="color:#b5cea8;">0</span>  &#125;,
        &#123; <span style="color:#d69d85;">&quot;martha&quot;</span>, <span style="color:#b5cea8;">34</span> &#125;,
        &#123; <span style="color:#d69d85;">&quot;sarah&quot;</span> , <span style="color:#b5cea8;">4</span>  &#125;
    &#125;;

</pre>

<p>
  We again, don't need those paranthesis to take any arguments.
</p>

<h2>Assignment</h2>

<p>If you've initialized your dictionary already, you can simply use a method to add items.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    myDictionary<span style="color:#b4b4b4;">.</span>Add(<span style="color:#d69d85;">&quot;hurdyhurr&quot;</span>, <span style="color:#b5cea8;">12</span>);
    myDictionary<span style="color:#b4b4b4;">.</span>Add(<span style="color:#d69d85;">&quot;blep&quot;</span>, <span style="color:#b5cea8;">9</span>);
    myDictionary<span style="color:#b4b4b4;">.</span>Add(<span style="color:#d69d85;">&quot;wellywoo&quot;</span>, <span style="color:#b5cea8;">78</span>);

</pre>

<p>
  If you haven't initialized your dictionary yet, or you want to wipe your current dictionary and override it with a new one,
  you can do it like this:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    myDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; &#123;
        &#123; <span style="color:#d69d85;">&quot;buster&quot;</span>, <span style="color:#b5cea8;">0</span>  &#125;,
        &#123; <span style="color:#d69d85;">&quot;martha&quot;</span>, <span style="color:#b5cea8;">34</span> &#125;,
        &#123; <span style="color:#d69d85;">&quot;sarah&quot;</span> , <span style="color:#b5cea8;">4</span>  &#125;
    &#125;;

</pre>

<h2>Removing</h2>

<p>
  Unlike lists,
  <mark>RemoveAt()</mark> is not necessary and doesn't exist, you can still use plain old
  <mark>Remove()</mark> to get rid of a specific dictionary entry by key though.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    myDictionary<span style="color:#b4b4b4;">.</span>Remove(<span style="color:#d69d85;">&quot;hurdyhurr&quot;</span>);

</pre>

<p>
  Clearing works the exact same way.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    myDictionary<span style="color:#b4b4b4;">.</span>Clear();

</pre>

<h2>Get Values</h2>

<p>
  Simply use the key, in order to get access to the value. This is actually identical to the way we access values in a list/array,
  except lists/arrays keys are always numbers, dictionary keys can be any type.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(myDictionary[<span style="color:#d69d85;">&quot;martha&quot;</span>]);

</pre>

<p>
  From the most recent example, this would log 34. You typically wouldn't be trying to iterate through a dictionary, in fact
  they are they worst to iterate through, performance-wise, but you can manage it using a probably-unfamiliar data type like
  this:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">KeyValuePair</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; pair <span style="color:#569cd6;">in</span> myDictionary) &#123;
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(pair<span style="color:#b4b4b4;">.</span>Key);
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(pair<span style="color:#b4b4b4;">.</span>Value);
    &#125;

</pre>

<h2>Copying</h2>

<p>Dictionaries have a copy constructor just like lists, just assign a new dictionary and place an existing dictionary into
  the constructor.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; targetDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt;(myDictionary);

</pre>

<h2>Pros and Cons</h2>

<p>
  They're overkill for most cases, lists would come well before the point of needing a dictionary, and of course arrays before
  that. Dictionaries are great for the specific purpose of pairing elements from one type of data to elements from another.
  Let's say we will always equip a certain weapon when the player selects this particular image on their screen or something.
  They also work well for coding... well... actual dictionaries. You're essentially saying that this-thing-means-this-other-thing.
</p>

<p>
  They aren't great for iterating through and if that's what you're trying to do, then a dictionary is not what you're after,
  most likely.
</p>

<h2>Example</h2>

<p>
  Here's an example that puts all of the aforementioned to use. See if you can understand the way everything works:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; myDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt;() &#123;
        &#123; <span style="color:#d69d85;">&quot;buster&quot;</span>, <span style="color:#b5cea8;">0</span> &#125;,
        &#123; <span style="color:#d69d85;">&quot;martha&quot;</span>, <span style="color:#b5cea8;">34</span> &#125;,
        &#123; <span style="color:#d69d85;">&quot;sarah&quot;</span>, <span style="color:#b5cea8;">4</span> &#125;
    &#125;;
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> DictionaryExample() &#123;
        myDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; &#123;
            &#123; <span style="color:#d69d85;">&quot;buster&quot;</span>, <span style="color:#b5cea8;">0</span>  &#125;,
            &#123; <span style="color:#d69d85;">&quot;martha&quot;</span>, <span style="color:#b5cea8;">34</span> &#125;,
            &#123; <span style="color:#d69d85;">&quot;sarah&quot;</span> , <span style="color:#b5cea8;">4</span>  &#125;
        &#125;;
    
        myDictionary<span style="color:#b4b4b4;">.</span>Add(<span style="color:#d69d85;">&quot;hurdyhurr&quot;</span>, <span style="color:#b5cea8;">12</span>);
        myDictionary<span style="color:#b4b4b4;">.</span>Add(<span style="color:#d69d85;">&quot;blep&quot;</span>, <span style="color:#b5cea8;">9</span>);
        myDictionary<span style="color:#b4b4b4;">.</span>Add(<span style="color:#d69d85;">&quot;wellywoo&quot;</span>, <span style="color:#b5cea8;">78</span>);
        myDictionary<span style="color:#b4b4b4;">.</span>Remove(<span style="color:#d69d85;">&quot;hurdyhurr&quot;</span>);
        myDictionary<span style="color:#b4b4b4;">.</span>Clear();
    
        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">KeyValuePair</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; pair <span style="color:#569cd6;">in</span> myDictionary) &#123;
            <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(pair<span style="color:#b4b4b4;">.</span>Key);
            <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(pair<span style="color:#b4b4b4;">.</span>Value);
        &#125;
    
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(myDictionary[<span style="color:#d69d85;">&quot;timothy&quot;</span>]);
    
        <span style="color:#57a64a;">// Copy contents from one dictionary to another.</span>
        <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt; targetDictionary <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Dictionary</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#569cd6;">int</span>&gt;(myDictionary);
    
        <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(targetDictionary[<span style="color:#d69d85;">&quot;martha&quot;</span>]);
    &#125;

</pre>
