<h2>What's a game?</h2>
<p>The world can't have one answer because we've already got thousands. Our only choice is to subscribe to a taxonomy of our
  choice. Here's an example of a taxonomy by Chris Crawford:</p>
<ul>
  <li><b>Within entertainment:</b> Is it interactive?</li>
  <ul>
    <li class="red"><b>No:</b> Same class (or lack thereof) as books or movies.</li>
    <li class="green"><b>Yes:</b> Plaything.</li>
  </ul>
  <li><b>Within playthings:</b> Is there a goal?</li>
  <ul>
    <li class="red"><b>No:</b> Toy.</li>
    <li class="green"><b>Yes:</b> Challenge.</li>
  </ul>
  <li><b>Within challenges:</b> Is there an agent to compete against?</li>
  <ul>
    <li class="red"><b>No:</b> Puzzle.</li>
    <li class="green"><b>Yes:</b> Conflict.</li>
  </ul>
  <li><b>Within conflicts:</b> Can you impede your opponent(s)?</li>
  <ul>
    <li class="red"><b>No:</b> Competition.</li>
    <li class="green"><b>Yes:</b> Game.</li>
  </ul>
</ul>
<p>
  The problem with a taxonomy like this is that it's not orientated around understanding any fundamental value or functionality.
</p>
<h2>
  Remember the components of an interactive system
</h2>
<ul>
  <li>Rules are the smallest unit.</li>
  <li>A cluster of rules is called a mechanism.</li>
</ul>

<h2>
  The 4 forms of interactive systems
</h2>
<ul>
  <li><b>Toy</b></li>
  <ul>
    <li>An interactive system that can be explored. It has no goal.</li>
    <li><i>Value = exploration / mapping.</i></li>
  </ul>
  <li><b>Puzzle</b></li>
  <ul>
    <li>System with a binary goal prescribed. It is either solved or it's not.</li>
    <li><i>Value = solving.</i></li>
  </ul>
  <li><b>Contest</b></li>
  <ul>
    <li>System with an unsolvable, non-binary goal.</li>
    <li><i>Value = measurement / evaluation.</i></li>
  </ul>
  <li><b>Game</b></li>
  <ul>
    <li>System with a goal that uses obfuscation to build a contest of decision-making.</li>
    <li><i>Value = learning / understanding.</i></li>
  </ul>
</ul>
<p class="red">We're only concerned with the last one.</p>
<p>
  If ten-pin bowling was 1 round instead of 10, we would see who got the most pins but we would lose the value of measurement.
  The system would no longer detect the frequency of a player's accuracy. This would not eliminate the contest value, it
  would just have lesscontest value, especially as a tie is more possible.
</p>
<ul>
  <li>Games are interactive systems (<i>inherited from toys</i>).</li>
  <li>They contain a goal (<i>inherited from puzzles</i>).</li>
  <li>They provide measurement (<i>inherited from contests</i>).</li>
  <li>In addition, they have some form of obfuscation, usually in the form of incomplete information or massive complexity that
    makes it difficult to identify optimal inputs. Other forms, such as contests are about executing optimal inputs.</li>
</ul>
<p>
  <i>Naughts and Crosses</i> is a bad game but an adequate puzzle. It provides the binary of a goal, but poor space for contest evaluation
  and decision-making.</p>
<p>The value of understanding is what makes games fun. Other elements of games are fun too, like art-work, fantasy simulation,
  or obtaining status, however, the unique type of learning that we get from games is their essential property. A game with
  no understanding left to gain is solved.We get bored. We may still enjoy it for other values.</p>
<p>By this taxonomy, we look at Portal more as a puzzle than a game. It has a goal, but scarcely any contest, and decision-making
  is not hugely present. In Portal, we solve puzzles, and it's never as fun again on it's own. When you know the answer,
  there's no solving involved, the value of puzzles. Players may find entertainment by leaping through a portal on the floor,
  exiting on the ceiling, and looping between two portals repeatedly. This becomes an interactive system, but a Toy. We are
  enjoying Portal as a Toy. You could come up with your own rules to re-introduce an element of contest to it, such as a
  self-imposed time-limit, yet solution has still killed the puzzle.</p>
<ul>
  <li>Toys break if there is nothing left to explore.</li>
  <li>Puzzles break when there is no solving that occurs.</li>
  <li>Contests break if all contestants are maxing-out on their measurements.</li>
  <li>Games break when the decision tree is solved.</li>
</ul>
<p>Even a near-break is just as effective as a complete break. Why is it worth the player's time to get that last 12% of understanding
  in some incredibly complex or difficult game? What do they get out of it?</p>
<p>There is one main reason for games to break: The remaining understanding is too difficult to access. There are 2 reasons
  why this might be:</p>
<ol>
  <li>The system is solved, there truly is no more understanding to find. See Naughts and Crosses.</li>
  <li>The system is not quite completely solved, but the remaining understanding requires some near impossible or difficult feat
    that simply doesn't seem worth the time investment.</li>
</ol>
<h2>Accidental anti-forms (What isn't a game?)</h2>
<p>A lot of components are placed into games as additional content. </p>
<ul>
  <li>
    <b>Gambling machines:</b> Often require only basic competence, after that, players are just waiting for that big payout.
  </li>
  <li>
    <b>Fantasy Simulators:</b> Rely on a player agreeing to make-believe that they're a jet-pilot or brave warrior. This is extrinsic value, the fun is
    not generated by the interactivity in the game itself (intrinsic).
  </li>
  <li>
    <b>Chores / labour machines:</b> Also only offer extrinsic value. Grinding is an example. The player does routine, low / no risk tasks repeatedly for an eventual benefit of some kind. The player is probably not gaining understanding and is therefore not having fun. The value is
    not provided by the mechanics themselves, rather the players willingness to do a chore for a reward. The player is
    the only one responsible for providing value to the game in this instance.
  </li>
</ul>