<p>
    So, first problem with lerp animations? Linearity. They are too linear. There's no easing. It's straight to-and-from.
</p>

<p>
    <img src="assets/images/unity/code-practices/animation-curves/lerp-linearity.gif">
</p>

<p>
    I'm sliding it manually here, but if this was automated in a coroutine, it wouldn't look rigid at best.
</p>

<p>
    We can take an example from the previous lesson on lerps, and just change one thing. The fraction, also known as <mark>t</mark>.
</p>

<p>
    Take the following code:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Vector3</span> start <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>left <span style="color:#b4b4b4;">*</span> <span style="color:#b5cea8;">8</span>;
    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Vector3</span> end <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>right <span style="color:#b4b4b4;">*</span> <span style="color:#b5cea8;">8</span>;
    
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Coroutine</span> corMove;
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
        <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>GetKeyDown(<span style="color:#b8d7a3;">KeyCode</span><span style="color:#b4b4b4;">.</span>Space) <span style="color:#b4b4b4;">&amp;&amp;</span> corMove <span style="color:#b4b4b4;">==</span> <span style="color:#569cd6;">null</span>) &#123;
            corMove <span style="color:#b4b4b4;">=</span> StartCoroutine(Move());
        &#125;
    &#125;
    
    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> Move() &#123;
        <span style="color:#569cd6;">float</span> t <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>;
        <span style="color:#569cd6;">float</span> duration <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">1.0f</span>;
    
        <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&lt;</span> duration) &#123;
            transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(start, end, t<span style="color:#b4b4b4;">/</span>duration);
    
            t <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
            <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;
    
        corMove <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">null</span>;
    &#125;

</pre>

<p>
    When I press spacebar, our coroutine will start, I've locked it off so we can't accidentally trigger it more than once. It simply makes our cube travel from -8 in x, to +8 in x.</p>
<p>
    <img src="assets/images/unity/code-practices/animation-curves/lerp-move-linear.gif">
</p>

<p>
    Now, I'm going to <mark>ping-pong</mark> this by simply repeating our while loop, and then wrapping the entire coroutine in an endless while loop. So the <mark>coroutine</mark> looks like this:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> Move() &#123;
        <span style="color:#569cd6;">while</span> (<span style="color:#569cd6;">true</span>) &#123;
            <span style="color:#569cd6;">float</span> t <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>;
            <span style="color:#569cd6;">float</span> duration <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">1.0f</span>;

            <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&lt;</span> duration) &#123;
                transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(start, end, t<span style="color:#b4b4b4;">/</span>duration);

                t <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
                <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
            &#125;

            <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&gt;</span> <span style="color:#b5cea8;">0</span>) &#123;
                transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(start, end, t <span style="color:#b4b4b4;">/</span> duration);

                t <span style="color:#b4b4b4;">-=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
                <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
            &#125;
        &#125;
    &#125;

</pre>

<p>
    <img src="assets/images/unity/code-practices/animation-curves/lerp-move-ping-pong.gif">
</p>

<p>
    Now, if we introduce a second cube, we can apply a duplicate script to it, but we're going to change one thing about this duplicate script.
</p>

<p>
    will add the following public variable:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">AnimationCurve</span> anim;

</pre>

<p>
    On the 2x lines in our script where we're lerping, we'll change how the fraction is calculated. Those lines will now look like this:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(start, end, anim<span style="color:#b4b4b4;">.</span>Evaluate(t<span style="color:#b4b4b4;">/</span>duration));

</pre>

<p>
    In Unity's inspector, we can adjust our <mark>public AnimationCurve</mark> to look like this for example:
</p>

<p>
    <img src="assets/images/unity/code-practices/animation-curves/anim-curve.jpg">
</p>

<p>
    What this graph means is that from a time of 0-1, our value will increase from 0-1, but it will take a moment to accelerate, then it will move quite quickly, then it will ease to a stop.
</p>

<p>
    Instead of <mark>t/duration</mark> providing our t fraction, we get our fraction from the animation curve.
</p>

<p>
    In this case, <mark>t/duration</mark> simply says which time to sample a value from.
</p>

<p>
    See the red cube for our result. Here we see what a lerped coroutine looks like when it is driven by an <mark>AnimationCurve</mark> rather than a direct fraction.
</p>

<p>
    For clarity, i'll just reiterate: Note that an <mark>AnimationCurve.Evaluate()</mark> still returns only a 0-1 value. Our fraction tells us which part of the curve to evaluate in order to get that value.
</p>

<p>
    <img src="assets/images/unity/code-practices/animation-curves/lerp-move-ping-pong-curve.gif">
</p>

<p>
    Fun fact, the cubes are making contact with the boundary walls at the exact same time, one just starts off slow, speeds up,
    then slows down, while the other is at a constant speed the entire time.
</p>

<p>
    Let's switch things up a bit. On a third cube I'll demonstrate how we can use AnimationCurves for different axis. The line
    where we lerp a Vector3 will be replaced with a newly constructed Vector3, new Vector3s require us to provide all 3 axis:
    x, y and z.
</p>

<p>
    We'll use the typical <mark>t/duration</mark> fraction to control our progression through our lerps.
</p>

<p>
    X is lerped by <mark>t/duration</mark> directly, just like the blue cube, but we are controlling Y using the following animation curve.
</p>

<p>
    Because this Lerp had some complexity to it, I've dropped it in to a new method that gets re-used for each of the while loops.
</p>

<p>
    <img src="assets/images/unity/code-practices/animation-curves/animation-curve-up-and-down.jpg">
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> Move() &#123;
        <span style="color:#569cd6;">while</span> (<span style="color:#569cd6;">true</span>) &#123;
            <span style="color:#569cd6;">float</span> t <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>;
            <span style="color:#569cd6;">float</span> duration <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">1.0f</span>;

            <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&lt;</span> duration) &#123;
                SetPositionAtTimeOnCurve(t, duration);

                t <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
                <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
            &#125;

            <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&gt;</span> <span style="color:#b5cea8;">0</span>) &#123;
                SetPositionAtTimeOnCurve(t, duration);

                t <span style="color:#b4b4b4;">-=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
                <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
            &#125;
        &#125;
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> SetPositionAtTimeOnCurve(<span style="color:#569cd6;">float</span> _t, <span style="color:#569cd6;">float</span> _duration) &#123;
        transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Vector3</span>(
            <span style="color:#4ec9b0;">Mathf</span><span style="color:#b4b4b4;">.</span>Lerp(start<span style="color:#b4b4b4;">.</span>x, end<span style="color:#b4b4b4;">.</span>x, _t <span style="color:#b4b4b4;">/</span> _duration)
        ,   <span style="color:#4ec9b0;">Mathf</span><span style="color:#b4b4b4;">.</span>Lerp(start<span style="color:#b4b4b4;">.</span>y, end<span style="color:#b4b4b4;">.</span>y, anim<span style="color:#b4b4b4;">.</span>Evaluate(_t <span style="color:#b4b4b4;">/</span> _duration))
        ,   <span style="color:#b5cea8;">0</span>
        );
    &#125;

</pre>

<p>
    <img src="assets/images/unity/code-practices/animation-curves/lerp-move-ping-pong-curve-move.gif">
</p>