<h2>Prototyping</h2>
<p>Figuring out what your game should be like is ultimately revealed when your ideas are put into action. There are a few bits
    of advice for making a few common types of games:</p>
    <ul>
      <li>
        <b>Card games:</b> The cheapest way is to use a standard deck of playing cards, then create a cheat-sheet that tells you
        what each card represents otherwise roughly designing on a computer, printing and slicing.
      </li>
      <li>
        <b>Turn-based-tactical games:</b> Whether physical or digital, it should be possible with just paper, pens and tokens.
        It could be a lot of book-keeping, but any rules that are difficult for the player to remember are also too difficult
        for them to factor in to strategy. These rules should probably be disposed of. This physical prototype is a great way
        to fish out these kinds of damaging rules.
      </li>
      <li>
        <b>Digital games:</b> The best way is to master any game engine of your choice. This is the only option if for some reason
        your game is and must fundamentally be digital.
      </li>
    </ul>
  <h2>Play-testing</h2>
  <p>This is to play a game for the specific purpose of finding problems or bugs. It should be done by yourself, colleagues, friends
    / family, strangers. Be aware that friends and family may provide pleasant yet dishonest feedback. They want you to be
    happy, and that's no good for you when you need to know what's wrong in your game. Know that at the prototype stage, almost
    nobody is as invested in your game to the same degree that you are, and learning your rules is often going to be an arduous
    task for anyone.</p>
  <p>Prototypes tend to be:</p>
  <ul>
    <li>simply awful.</li>
    <li>too long / short.</li>
    <li>unfair.</li>
    <li>tedious.</li>
    <li>clunky.</li>
    <li>broken.</li>
    <li>even possibly offensive in some ways...</li>
  </ul>
  <p>Play-testing is not necessarily fun, more often it isn't. Play-testers are people who're doing us a huge favour. In a serious
    capacity, play-testers are testing our game every day, as a paid job, interacting with us each time and are worthy of design
    credits themselves. They tend to submit new ideas which are occasionally good enough to go in to the final release. With
    a good amount of play-testers, your role as a designer becomes less of a
    <i>rule generator</i>and more of a
    <i>systems curator.</i>You'll find yourself approving or disapproving of other's ideas. Anyone can have ideas, you need to
    be the one with the sense to know if these ideas are good or bad. It's recommended to host discussions with testers on
    some private, online forum, this can create healthy debates and new insights.</p>
  <p>It can also be a good idea to remove yourself from play-testing, to simply remain a third party to the process. You'll only
    avoid things you know are broken and do things you're already aware are optimal inputs. Simply observe and take notes.
  </p>
  <h2>Iteration</h2>
  <p>
      <img src="assets/images/design/clockwork-game-design/iteration-cycle.png">
  </p>
  <ul>
    <li>
      <b>Play-testing:</b>As already discussed, this is playing a game or observing it being played, in order to find issues.
    </li>
    <li>
      <b>Feedback:</b>Discuss the game with play-testers and get their reactions. Generally it's a good idea to write down any
      significant notes from anyone, as well as immediate observations.</li>
    <li>
      <b>Discussion:</b>After play-testing and initial feedback, ask general questions like:
  
      <ul>
        <li>Did it feel balanced?</li>
        <li>Did you feel like you had options?</li>
        <li>Did you feel overwhelmed?</li>
        <li>Was it fun?</li>
        <li>Should we make this ber?</li>
        <li>Should we add another supporting mechanism?</li>
      </ul>
    </li>
    <li>
      <b>Processing:</b>Review your own observations and discussions. Refine charts, check everything so far against your core
      mechanism and your GDD's statement of purpose.</li>
    <li>
      <b>Revision:</b>Implement changes decided upon during processing and prepare a new version to run through the loop again.</li>
  </ul>