<h2>Componential complexity</h2>
<p>
  The dangerous kind of complexity. Achieved by adding more rules to your game (abilities, stats, actions). Failure to grasp
  all of the componentialcomplexity as a player will hinder your ability to form a clear strategy. In Age of Empires, units
  do different things at different speeds which are augmented by different upgrades. Certain units are more effective against
  some and have weaknesses to others. Unless you know and understand this, you'll definitely be defeated by someone who does.
</p>
<p>
  You NEED componential complexity (rules) but each rule you implement comes at a cost to your player.
</p>
<h2>Emergent complexity</h2>
<p>This is the type of complexity we hope to achieve when implementing componential complexity. Emergent complexity emergesby
  putting a few components into a system in such a way that when activated, a great number of game states emerge. We achieve
  emergent complexity when we expand the possibility space. This equates to depthor elegance. Chess is a great example of
  this for having only 6 unit types on an 8x8 grid, yet yields enough emergent complexity for us to enjoy for hundreds of
  years.
</p>