<p>The goal is the end of our puzzle, it's the anchor around which our game draws it's meaning.</p>
  <ul>
    <li><b>Chess:</b> Checkmating the king.</li>
    <li><b>Tetris:</b> Beat the high score.</li>
    <li><b>Super smash Bros:</b> Knock your opponent out of the level.</li>
  </ul>
<p>A rule, resource or action, all only mean something with respect to the goal.</p>
<h2>Quality & Quantity</h2>
<p>
  <b>Qualitative</b> goal changes will change, add or remove supporting mechanics and level layout. Qualitative goal changes
  in basketball could be getting the ball in the hoop, or holding the ball for the longest amount of time. The latter would
  remove the need for a hoop, make some team formations redundant and could mean ' no standing still with the ball'.
</p>
<p>
  <b>Quantitative</b> goal changes can affect player strategies. NBA has 48min games split into four 12min sets. FIBA has 40min
  games split into four 10min sets. The change here is strategy arcs.</p>
<p>
  Example: Getting your rooks out and into an aggressive stance as soon as possible. This could take a few turns. If a time
  limit or move limit was involved, this strategy could cut in to that allowance quite sorely, we may decide to avoid that
  strategy under these rules.
</p>
<p>Qualitative changes can cut into strategic depth, but minimize repetition.</p>
<h2>Multiple goals</h2>
<p>We should differentiate between goals and end conditions.</p>
<i>
  <p>
    In Dominion, your goal is to have the most victory points at the end of a game, but it is not the goal that ends the game,
    the game ends when one of the end conditions are met:
  </p>
  <ul>
    <li>When the stack of Province cards has been exhausted.</li>
    <li>When any three other stacks in the Supply have been exhausted.</li>
  </ul>
  <p>
    Players then count the number of Victory Points in their decks, and the player with the highest score wins. Only then, the
    goal can be realized for a single player, given it was not the goal itself that ended the game.
  </p>
</i>
<h2>Non-interactive goals</h2>
<p>
  <img src="assets/images/design/clockwork-game-design/non-interactive-goals.png">
</p>
<p>There are goals that when worked towards, never feed back in to the game-state. A typical example is score. Scoreis a contest
  type of mechanism. Once awarded, short of deduction, score is not accessed by the game-state. You could say that score
  is external to the game system. A common complaint for games with timers, like many sports, is that they only get tense
  near the end because of this fact. Until that point, the game state is not drastically or meaningfully impacted by the
  score.
</p>
<p>Health bars also suffer this way, for them to feed back in to the game, we need varying levels of effects at different health
  levels like limping and slowness at 30%, or maybe a final-stand strength boost at critical health. Maybe a slight ability
  boost for being full-health.</p>
<p>We don't demonize non-interactive goals, it's just an area where we can potentially do much better in the future.</p>