<p>
  GitKraken is a GUI Client for Git . What that means is that it's software that gives you a graphical view of what is otherwise being written line-for-line in GitBash. Tortoise is also a GUI Client, though Kraken and Tortoise operate very differently. While Tortoise attaches itself to your right-click menu in Windows, Kraken is a fully-fledged, standalone unit of software that attempts to manage all of your git commands in a single interface.
</p>

<p>
  GitKraken has quickly become my weapon of choice when working with Git . I still resort to using GitBash in the event that something goes wrong... once or twice, the <i>push</i> or <i>pull</i> buttons have become unresponsive for some reason... anyway, it's pretty, it's cool, it's easy to use, and easy to get started!
</p>

<p>
  As usual, we need to install our client (GitKraken). The installer can be found at <a href="https://www.gitkraken.com/">GitKraken</a>. Download the installer and run it. There are no settings that need changing during the installation.
</p>

<p>
  It will probably ask you to make an account with GitKraken, don't confuse this for your GitLab account, the GitKraken account is not something you're likely to make use of, it's just a requirement to be able to run the GitKraken software.
</p>

<p><img src="assets/images/git/kraken/getting-started/kraken1.jpg"/></p>

<p>
  Now that you've got your Kraken all nicely set-up, you probably want to know about <a routerLink="../workflow">Working with GitKraken</a>.
</p>