nav {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to top, #070707, #272727);
    color: #989eae;
    z-index: 5;
    overflow: auto;
    border-bottom: 2px solid #33353d;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline-block;
    padding: 10px !important;
    cursor: pointer;
    
    transition: 0.25s;
}

nav li:hover {
    background-color: #33353d;
    transition: 0.25s;
    color: white;
}

nav li:hover a {
    text-shadow:-0.5px 0 #fff, 0.5px 0 #fff;
    color: white;
}

