<nav>
  <ul>
    <a routerLink='home'><li>home</li></a>
    <a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['recent-history']}}]"><li>tutorials</li></a>
    <a [routerLink]="['/apps', {outlets: {'app-content': ['apps>test']}}]"><li>apps</li></a>
    <li style="color:grey">art</li>
    <li style="color:grey">blog</li>
  </ul>
</nav>

<router-outlet></router-outlet>