<p>Follow this guide to authenticate your users via Google through Firebase!</p>

<h2>Project Setup</h2>

<ol>
    <li>
        <p>
            Grab <a href="assets/zips/android-studio/firebase/authentication/google/FirebaseGoogle.zip">this zip.</a> Inside you should find 2 files that you can drag to a new Android Studio project, replacing the defaults.
        </p>
    </li>
    <li><p>To set up a new Firebase project, complete the steps on <a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['android-studio>firebase>authentication>firebase-auth-getting-started']}}]">this page</a> before continuing any further here.</p></li>
    <li>
        <p>Head to your <a href="https://console.firebase.google.com/">firebase console</a>, click on your newly created project & access your <mark>Authentication</mark> settings:</p>
        <p><img src="assets/images/android-studio/firebase/authentication/email/FirebaseAuthentication.png" alt=""></p>
        <p>Enable <mark>Google</mark> under your providers:</p>
        <p><img src="assets/images/android-studio/firebase/authentication/google/GoogleAuthenticaionEnable.gif" alt=""></p>
    </li>
    <li>
        <p>
            In your app's <mark>build.gradle</mark>, be sure to include the following depenencies, feel free to update the version numbers if <mark>Android Studio</mark> recommends it:
        </p>
        <p><img src="assets/images/android-studio/firebase/authentication/google/AppGradleLocation.png" alt=""></p>
        <p><img src="assets/images/android-studio/firebase/authentication/google/GradleDependencies.png" alt=""></p>
        <p>
            <code>implementation 'com.google.firebase:firebase-auth:19.1.0'<br>
                implementation 'com.google.android.gms:play-services-auth:17.0.0'
            </code>
        </p>
        <p>Respond to the <mark>Sync Now</mark> prompt that appears whenever you change your gradle files:</p>
        <p></p>
    </li>
    <li>
        <p>
            You'll need to provide a SHA1 key from any computer you work from. From your <mark>Gradle</mark> tab on the right-hand-side of <mark>Android Studio</mark>, find the <mark>signingReport</mark> as shown in the image below, and right-click to Run it, which will prompt your SHA1 key to appear in the bottom-left, in thr <mark>Run</mark> pane.
        </p>
        <p><img src="assets/images/android-studio/firebase/authentication/google/RetrieveSHA1RunTask.png" alt=""></p>
        <p><img src="assets/images/android-studio/firebase/authentication/google/RetrieveSHA1.png" alt=""></p>
        <p>Copy this so that you can paste it, when prompted, after going to your Firebase <mark>Project Settings</mark> and adding it as a fingerprint:</p>
        <p><img src="assets/images/android-studio/firebase/authentication/google/FirebaseProjectSettings.png" alt=""></p>
        <p><img src="assets/images/android-studio/firebase/authentication/google/AddSHA1.JPG" alt=""></p>
    </li>
</ol>

<h2>Java</h2>

<ol>
    <li>
        <p>First, add the following 2 variables to the top of your script:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">final</span> <span style="color:#569cd6;">int</span> REQUEST_CODE_SIGN_IN <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">1</span>;
    <span style="color:#57a64a;">// ..</span>
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">GoogleSignInClient</span> googleSignInClient;
        </pre>

        <p>The <mark>request code</mark> can be any number you want, it's a unique code that your app will send to the cloud, while hoping to get the same response back as a way to confirm successful communication.</p>

        <p>The <mark>GoogleSignInClient</mark> is Google's equivilent to the <mark>FirebaseAuth</mark>. Basically, it holds user information and login status.</p>
    </li>
    <li>
        <p>
            Add the following method and call it at the end of <mark>onCreate()</mark>:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">initializeGoogle</span>() &#123;
        <span style="color:#569cd6;">GoogleSignInOptions</span> googleSignInOptions <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">GoogleSignInOptions</span>.<span style="color:#569cd6;">Builder</span>(<span style="color:#569cd6;">GoogleSignInOptions</span><span style="color:#b4b4b4;">.</span>DEFAULT_SIGN_IN)
            .requestIdToken<span style="color:#b4b4b4;">(</span>getString<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">R</span><span style="color:#b4b4b4;">.</span>string<span style="color:#b4b4b4;">.</span>default_web_client_id<span style="color:#b4b4b4;">))</span>
            .requestEmail<span style="color:#b4b4b4;">()</span>
            .build<span style="color:#b4b4b4;">()</span>;
    
        googleSignInClient <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">GoogleSignIn</span><span style="color:#b4b4b4;">.</span>getClient<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> googleSignInOptions<span style="color:#b4b4b4;">)</span>;
    }
        </pre>

        <p>
            This initializes our <mark>GoogleSignInClient</mark> and prepares our eventual login request to be ready to ask for details outlines in our <mark>GoogleSignInOptions</mark>. We haven't signed in yet, this really just gets <mark>GoogleSignInClient</mark> ready for use with <mark>FirebaseAuth</mark>.
        </p>
    </li>
    <li>
        <p>Let's begin the Login process, add the following code to <mark>signIn</mark>. It'll trigger the Google Sign-In Intent within our Activity, allowing us to login via Google. We'll later need to process the result of our Activity's Intent:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">Intent</span> signInIntent <span style="color:#b4b4b4;">=</span> googleSignInClient<span style="color:#b4b4b4;">.</span>getSignInIntent<span style="color:#b4b4b4;">()</span>;
    startActivityForResult<span style="color:#b4b4b4;">(</span>signInIntent<span style="color:#b4b4b4;">,</span> REQUEST_CODE_SIGN_IN<span style="color:#b4b4b4;">)</span>;
        </pre>
    </li>
    <li>
        <p>
            Now we have to process the result of the Intent. There's a built-in method we can override to do this. Paste the following method:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">@Override</span>
    <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onActivityResult</span>(<span style="color:#569cd6;">int</span> requestCode, <span style="color:#569cd6;">int</span> resultCode, <span style="color:#569cd6;">@Nullable</span> <span style="color:#569cd6;">Intent</span> data) &#123;
        <span style="color:#569cd6;">super</span><span style="color:#b4b4b4;">.</span>onActivityResult<span style="color:#b4b4b4;">(</span>requestCode<span style="color:#b4b4b4;">,</span> resultCode<span style="color:#b4b4b4;">,</span> data<span style="color:#b4b4b4;">)</span>;
    
        <span style="color:#569cd6;">if</span> (requestCode <span style="color:#b4b4b4;">==</span> REQUEST_CODE_SIGN_IN) &#123;
            <span style="color:#569cd6;">Task&lt;GoogleSignInAccount&gt;</span> task <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">GoogleSignIn</span><span style="color:#b4b4b4;">.</span>getSignedInAccountFromIntent<span style="color:#b4b4b4;">(</span>data<span style="color:#b4b4b4;">)</span>;
            handleSignInResult<span style="color:#b4b4b4;">(</span>task<span style="color:#b4b4b4;">)</span>;
        }
    }
        </pre>

        <p>The <Mark>Task&lt;GoogleSignInAccount></Mark> attempts to connect to the user selected from the Sign-In Intent.</p>
    </li>
    <li>
        <p>
            The result of this task can be handled in our next method, <mark>handleSignInResult()</mark>:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">handleSignInResult</span>(<span style="color:#569cd6;">Task&lt;GoogleSignInAccount&gt;</span> task) &#123;
        <span style="color:#569cd6;">try</span> &#123;
            <span style="color:#569cd6;">GoogleSignInAccount</span> googleSignInAccount <span style="color:#b4b4b4;">=</span> task<span style="color:#b4b4b4;">.</span>getResult<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">ApiException</span><span style="color:#b4b4b4;">.</span>class<span style="color:#b4b4b4;">)</span>;
            <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Signed in successfully&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
            firebaseGoogleAuth<span style="color:#b4b4b4;">(</span>googleSignInAccount<span style="color:#b4b4b4;">)</span>;
        } <span style="color:#569cd6;">catch</span> (<span style="color:#569cd6;">ApiException</span> e) &#123;
            e<span style="color:#b4b4b4;">.</span>printStackTrace<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Sign in failed&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;handleSignInResult() failed: &quot;</span> <span style="color:#b4b4b4;">+</span> task<span style="color:#b4b4b4;">.</span>getException<span style="color:#b4b4b4;">())</span>;
    
            firebaseGoogleAuth<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">null</span><span style="color:#b4b4b4;">)</span>;
        }
    }
        </pre>

        <p>Basically, we refer to the aforementioned task, we force it to <mark>try</mark> and show us the result, if this fails, the <mark>catch</mark> will happen instead. Either way, we carry the outcome to the final part of the Login procedure, authenticating through Firebase.</p>
    </li>
    <li>
        <p>
            We either have data for Firebase to login with at this point, or we don't. If we do, Firebase will use it to authenticate the user, we can respond to the successful / failed result via the <mark>onComplete</mark> listener <i>(if we want... remember our <mark>AuthStateListener</mark> is already responding to this for us)</i>:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
        
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">firebaseGoogleAuth</span>(<span style="color:#569cd6;">GoogleSignInAccount</span> googleSignInAccount) &#123;
        <span style="color:#569cd6;">AuthCredential</span> authCredential <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">GoogleAuthProvider</span><span style="color:#b4b4b4;">.</span>getCredential<span style="color:#b4b4b4;">(</span>googleSignInAccount<span style="color:#b4b4b4;">.</span>getIdToken<span style="color:#b4b4b4;">(),</span> <span style="color:#569cd6;">null</span><span style="color:#b4b4b4;">)</span>;
        firebaseAuth<span style="color:#b4b4b4;">.</span>signInWithCredential<span style="color:#b4b4b4;">(</span>authCredential<span style="color:#b4b4b4;">).</span>addOnCompleteListener<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">OnCompleteListener&lt;AuthResult&gt;</span>() &#123;
            <span style="color:#569cd6;">@Override</span>
            <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onComplete</span>(<span style="color:#569cd6;">@NonNull</span> <span style="color:#569cd6;">Task&lt;AuthResult&gt;</span> task) &#123;
                <span style="color:#569cd6;">if</span> (task<span style="color:#b4b4b4;">.</span>isSuccessful<span style="color:#b4b4b4;">()</span>) &#123;
                    <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">MainActivity</span><span style="color:#b4b4b4;">.</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Successful&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
                } <span style="color:#569cd6;">else</span> &#123;
                    <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">MainActivity</span><span style="color:#b4b4b4;">.</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Failed&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
                    <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;firebaseGoogleAuth() failed: &quot;</span> <span style="color:#b4b4b4;">+</span> task<span style="color:#b4b4b4;">.</span>getException<span style="color:#b4b4b4;">())</span>;
                }
            }
        }<span style="color:#b4b4b4;">)</span>;
    }
        </pre>
    </li>
    <li>
        <p>
            Now to finish it off, as evidence that we've signed-in, we'll use <mark>updateUI()</mark> which looks very similar to how we implement it in a standard Firebase setup, only, if we'd like to access Google information, we can do so, additionally, through the <mark>GoogleSignInAccount</mark>. Notice in this version of <mark>updateUI()</mark>, we also take care to show/hide the sign-in/sign-out buttons in the right circumstances.
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">updateUI</span>() &#123;
            <span style="color:#569cd6;">FirebaseUser</span> firebaseUser <span style="color:#b4b4b4;">=</span> firebaseAuth<span style="color:#b4b4b4;">.</span>getCurrentUser<span style="color:#b4b4b4;">()</span>;
     
            <span style="color:#569cd6;">if</span> (firebaseUser <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
                <span style="color:#569cd6;">String</span> name <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getDisplayName<span style="color:#b4b4b4;">()</span>;
                <span style="color:#569cd6;">String</span> email <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getEmail<span style="color:#b4b4b4;">()</span>;
                <span style="color:#569cd6;">Uri</span> image <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getPhotoUrl<span style="color:#b4b4b4;">()</span>;
                <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot; \nname: &quot;</span> <span style="color:#b4b4b4;">+</span> name <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot;\nemail: &quot;</span> <span style="color:#b4b4b4;">+</span> email <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot;\nimage: &quot;</span> <span style="color:#b4b4b4;">+</span> image<span style="color:#b4b4b4;">)</span>;
     
                <span style="color:#569cd6;">GoogleSignInAccount</span> googleSignInAccount <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">GoogleSignIn</span><span style="color:#b4b4b4;">.</span>getLastSignedInAccount<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">)</span>;
                <span style="color:#569cd6;">if</span> (googleSignInAccount <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
                    <span style="color:#569cd6;">String</span> givenName <span style="color:#b4b4b4;">=</span> googleSignInAccount<span style="color:#b4b4b4;">.</span>getGivenName<span style="color:#b4b4b4;">()</span>;
                    <span style="color:#569cd6;">String</span> familyName <span style="color:#b4b4b4;">=</span> googleSignInAccount<span style="color:#b4b4b4;">.</span>getFamilyName<span style="color:#b4b4b4;">()</span>;
                    <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot; \ngivenName: &quot;</span> <span style="color:#b4b4b4;">+</span> givenName <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot;\nfamilyName: &quot;</span> <span style="color:#b4b4b4;">+</span> familyName<span style="color:#b4b4b4;">)</span>;
                }
     
                <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> name <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot; signed in&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
     
                btnSignIn<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>GONE<span style="color:#b4b4b4;">)</span>;
                btnSignOut<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>VISIBLE<span style="color:#b4b4b4;">)</span>;
            } <span style="color:#569cd6;">else</span> &#123;
                btnSignIn<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>VISIBLE<span style="color:#b4b4b4;">)</span>;
                btnSignOut<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>GONE<span style="color:#b4b4b4;">)</span>;
            }
        }
    </pre>
    </li>
    <li>
        <p>
            The last problem to solve is that <mark>signOut()</mark> is empty. This isn't necessarily any different from logging out from the <mark>Email/Password</mark> provider, except that <mark>firebaseAuth.signOut()</mark> doesn't sign GOOGLE out of your app. To achieve that, you need <mark>googleSignInClient.signOut()</mark>. But you may not want to...
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
    
    <span style="color:#57a64a;">//  googleSignInClient.signOut();</span>
    firebaseAuth<span style="color:#b4b4b4;">.</span>signOut<span style="color:#b4b4b4;">()</span>;
        
    <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#686666;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Signed out&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
        </pre>

        <p>Pros & cons: NOT signing Google out has the advantage that signing in next time is much faster and can virtually skip the Intent. Also, <mark>firebaseAuth.signOut()</mark> is the only one that triggers <mark>onAuthStateChanged()</mark> which you may want to stick to if consistency is your cup of tea. That being said, it can be considered bad-form to offer your users NO WAY to log their Google account out of your app, and the simplest way to appease your users in this case is just to do so at the same time as a regular logout. This part is up to you. For maximum effect, use both.</p>
    </li>
</ol>