<p>
    Take the following code:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">float</span> direction <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">1</span>;

    <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span> () &#123;
        transform<span style="color:#b4b4b4;">.</span>localEulerAngles <span style="color:#b4b4b4;">+=</span> (<span style="color:#4ec9b0;">Vector3</span>)<span style="color:#4ec9b0;">Vector2</span><span style="color:#b4b4b4;">.</span>up <span style="color:#b4b4b4;">*</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime <span style="color:#b4b4b4;">*</span> (<span style="color:#b5cea8;">360.0f</span> <span style="color:#b4b4b4;">*</span> direction);
    &#125;

    <span style="color:#569cd6;">void</span> ChangeDirection() &#123;
        direction <span style="color:#b4b4b4;">=</span> direction <span style="color:#b4b4b4;">&gt;</span> <span style="color:#b5cea8;">0</span> <span style="color:#b4b4b4;">?</span> <span style="color:#b4b4b4;">-</span><span style="color:#b5cea8;">1</span> <span style="color:#b4b4b4;">:</span> <span style="color:#b5cea8;">1</span>;
    &#125;

</pre>

<p>
    It simply rotates an object in a direction each frame. it moves at a speed of 360 degrees per second, multiplied by a direction which is either -1 or 1. Here it is applied to multiple cubes.
</p>

<p>
    <img src="assets/images/unity/code-practices/events/events-drones.gif">
</p>

<p>
    As you saw in the script above, there's a method we can call that will change our direction from -1 to 1 and vise versa. If we wanted to be able to run that method on all of these objects at once (let's call them drones), how would you go about doing that? All in one go. Something like this would work from some master object.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Drone</span> d <span style="color:#569cd6;">in</span> FindObjectsOfType&lt;<span style="color:#4ec9b0;">Drone</span>&gt;()) &#123;
        d<span style="color:#b4b4b4;">.</span>ChangeDirection();
    &#125;

</pre>

<p>
    At the moment it's one class's job to tell each drone when to change direction. This is ok, but what if we could relieve the responsibility from this class and make it the drone's job to know when to change direction?
</p>

<h2>Creating an event</h2>

<p>
    Take the following pattern:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">delegate</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">ChangeDirectionHandler</span>();
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">event</span> <span style="color:#4ec9b0;">ChangeDirectionHandler</span> OnChangeDirection;
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">void</span> ChangeDirection() &#123;
        <span style="color:#569cd6;">if</span> (OnChangeDirection <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
            OnChangeDirection();
        &#125;
    &#125;

</pre>

<p>
    You can try to understand it, but you don't really have to for now. Just know that you're looking at what's called an event. Look at the method name: <mark>ChangeDirection</mark>. So your first step is to name your method. That name can then be pasted in to 2 places.
</p>

<ul>
    <li>
        The delegate's name: <mark>ChangeDirectionHandler</mark>.
    </li>
    <li>
        The event's name: <mark>OnChangeDirection</mark>.
    </li>
</ul>

<p>
    The naming conventions are my own, feel free to use them as well.
</p>

<p>
    One thing to note is the use of the static keyword. The event and also the method are static, meaning we can access these globally.
</p>

<p>
    You could place this into a static class, for this exercize I'm placing it into a normal class that's attached to a game object in my Unity scene. It's a separate object from my drones.
</p>

<h2>Calling our event from somewhere</h2>

<p>
    The event has been created and it's available for us to call from wherever we like, whenever we want. I've decided to call it from a script that detects if a value in an enum has changed:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">enum</span> <span style="color:#b8d7a3;">Direction</span> &#123;
        ThisWay
    ,   ThatWay
    &#125;

    <span style="color:#569cd6;">public</span> <span style="color:#b8d7a3;">Direction</span> direction <span style="color:#b4b4b4;">=</span> <span style="color:#b8d7a3;">Direction</span><span style="color:#b4b4b4;">.</span>ThisWay;

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">Direction</span> lastDirection;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
        <span style="color:#569cd6;">if</span> (direction <span style="color:#b4b4b4;">!=</span> lastDirection) &#123;
            ChangeDirection();
        &#125;

        lastDirection <span style="color:#b4b4b4;">=</span> direction;
    &#125;

</pre>

<p>
    This lesson isn't about enums, or the delta pattern I'm using to detect changes in this enum, but the key here is that you understand I've created a situation that calls our event. We'll simply change the enum in unity's inspector, and the above code will then call our event.
</p>

<p>
    <img src="assets/images/unity/code-practices/events/events-drones-inspector.gif" alt="">
</p>

<h2>Listening to events / subscribing to events</h2>

<p>
    We've created an event, we've called our event, but we have to do the last step. Our drones currently aren't going to respond because it's their job to listen for the event when it gets called. To be able to do this, they need to subscribe to the event, note that when these objects are destroyed, or the game has ended, they also need to unsubscribe from the event as well.
</p>

<p>
    Here is what that subscription/unsubscription process looks like:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnEnable</span>() &#123;
        <span style="color:#4ec9b0;">HiveMind</span><span style="color:#b4b4b4;">.</span>OnChangeDirection <span style="color:#b4b4b4;">+=</span> ChangeDirection;
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnDisable</span>() &#123;
        <span style="color:#4ec9b0;">HiveMind</span><span style="color:#b4b4b4;">.</span>OnChangeDirection <span style="color:#b4b4b4;">-=</span> ChangeDirection;
    &#125;

</pre>

<p>
    In our drone class, in the <mark>OnDisable</mark> method, we find our event in the class we placed it in, in my case, I declared my event pattern inside the HiveMind class. We then subscribe our drone's <mark>ChangeDirection</mark> method to this event using the <mark>+=</mark> operator. We unsubscribe in the <mark>OnDisable</mark> method using the <mark>-=</mark> operator. It's important to unsubscribe or some pretty horrible errors can occur in the case that a drone is ever destroyed in realtime, the event call will still attempt to play the subscribed method on an object that doesn't exist anymore.
</p>

<p>
    Now when the event is called you will see all drones updating their direction. Ignore the lag, I recorded this in Unity and Unity's behaviour is not to run the game view while the inspector is busy (like when I change the value on my enum).
</p>

<p>
    <img src="assets/images/unity/code-practices/events/events-drones-change.gif">
</p>

<p>
    It's a bit of work to set-up but the pay off is that you can communicate to all of these objects at once without having to have a single reference to any of them. The drones themselves also have no need for a reference to anything. This is another example of <mark>decoupling</mark>.
</p>
