<p>When we talk about mechanics, we're talking about products of game-design, otherwise known as "Ludology", which is
  the study of all types of games, not only virtual but tabletop and physical included. When we practice game design,
  we're
  aiming to build good mechanics that keep players engaged in the game. Mechanics are clearly laid out in the design
  phase,
  using traditional methods as though it were a board game. A lot of the time, your mechanics should still work in
  physical
  form, without the aid of a computer. Mechanics are often mistakenly accepted as the actions that the player does,
  when they
  are really something that the computer takes charge of, though, tabletop games require the players to enforce the
  mechanics of their own free will, while with software the mechanics work without the player actively enforcing them.</p>
<p>Rules are not mechanics, the smallest unit of a game is a rule, while mechanics are a series of rules that work
  together. Let's compare a real-time strategy game like Age of Empires to a turn-based strategy game like Heroes of
  Might and
  Magic.</p>

<div>
  <iframe class="youtube" src="https://www.youtube.com/embed/Uxodm9fKbyo?start=109" frameborder="0" allowfullscreen=""></iframe>
</div>
<iframe class="youtube" src="https://www.youtube.com/embed/emOu9EEzYPA?start=1435" frameborder="0" allowfullscreen=""></iframe>
<p>
  They both HAVE movement, but it's not enough for the player, or even the developer to simply know this. We need to
  know every tiny detail about how the movement works for each of these two games, or we're going to be playing
  completely wrong. These tiny details are the rules, and in this case, make up the "movement mechanics". There are
  many other categories
  of mechanics: resource management or risk and reward are two categories for example.
</p>

<h2>Resources:</h2>
<ul>
  <li><a href="http://www.gamasutra.com/blogs/LewisPulsipher/20120109/90875/Game_descriptions_rules_and_mechanics_what_are_the_differences_and_similarities.php">Differences between Game Mechanics and Rules</a></li>
  <li><a href="http://pulsiphergamedesign.blogspot.co.nz/2011/10/when-you-start-conceive-game-not-wish.html">Conceive a
      game, not a wish list</a></li>
  <li><a href="http://gamestudies.org/0802/articles/sicart">Defining Game Mechanics</a></li>
</ul>
