<p>
    Lerp, short for <mark>Linear Interpolation</mark>. We take 2 values, and we lerp between them by a percentage, well, actually a 0-1 fraction.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#4ec9b0;">Mathf</span><span style="color:#b4b4b4;">.</span>Lerp(<span style="color:#b5cea8;">5</span>, <span style="color:#b5cea8;">10</span>, <span style="color:#b5cea8;">0.25f</span>);

</pre>

<p>
    This line of code won't do much, if you logged it, it would probably say something like... 6.125... because 6.125 is 25% between 5 and 10. I can't explain it much clearer than that. But we can try to look at a couple other types of lerps we can do.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(<span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>one, <span style="color:#b4b4b4;">-</span><span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>one, <span style="color:#b5cea8;">0.5f</span>);
    <span style="color:#57a64a;">// This is another way of writing...</span>
    <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(<span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Vector3</span>(<span style="color:#b5cea8;">1</span>, <span style="color:#b5cea8;">1</span>, <span style="color:#b5cea8;">1</span>), <span style="color:#b4b4b4;">-</span>(<span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Vector3</span>(<span style="color:#b5cea8;">1</span>, <span style="color:#b5cea8;">1</span>, <span style="color:#b5cea8;">1</span>)), <span style="color:#b5cea8;">0.5f</span>);

</pre>

<p>
    This will probably log as (0, 0, 0) because that is 50% between (1, 1, 1) and (-1, -1, -1).
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>Lerp(<span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>red, <span style="color:#4ec9b0;">Color</span><span style="color:#b4b4b4;">.</span>blue, <span style="color:#b5cea8;">0.4f</span>);

</pre>

<p>
    This will probably log as purple, because purple is sortof half-way between red and blue, except it will lean more towards red than blue, because it is 0.4 of the way between the two colours.
</p>

<p>
    Hopefully we understand lerps at this point enough to get started with using them for something. It's all well and good that we see a fraction drives the interpolation between 2 points, but we can't be manually typing this into code. Let's look at one last example where we use a variable to manually slide between our two values.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Vector3</span> start <span style="color:#b4b4b4;">=</span> <span style="color:#b4b4b4;">-</span><span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>one;
    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Vector3</span> end <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>one;
    [<span style="color:#4ec9b0;">Range</span>(<span style="color:#b5cea8;">0.0f</span>, <span style="color:#b5cea8;">1.0f</span>)]
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">float</span> phase <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0.0f</span>;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Update</span>() &#123;
        transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(start, end, phase);
    &#125;

</pre>

<p>
    Try running this in Unity. You should see that the <mark>Range</mark> applied to our <mark>phase</mark> variable builds a slider for us.
</p>

<p>
    Slide the <mark>phase</mark> variable in the inspector and you'll find that your object with this script moves from one point to another. There are plenty of uses for lerping but by the end of this lesson I want you to know how to use lerping for animation.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> DelayForNoReason() &#123;
        <span style="color:#569cd6;">float</span> t <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>;
        <span style="color:#569cd6;">float</span> duration <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">3.0f</span>;

        <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&lt;</span> duration) &#123;
            t <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
            <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;
    &#125;
    
</pre>

<p>
    Essentially, this coroutine does nothing, but hey, it takes 3 seconds to do nothing! the yield command stalls it until the next frame so the while-loop happens over time instead of all in one frame.
</p>

<p>
    Seeing as <mark>t</mark> is incrementing each frame, we can look at it as a our passage of time. Let's pretend 2 seconds have passed. Get a calculator out and calculate t / duration, which in this case is 2 / 3
</p>

<p>
    <code style="display: inline-block">t = 2
        duration = 3
        2 / 3 = 0.6666
    </code>
</p>

<p>In theory, if we divide t by duration, we always get a 0-1 value that we can use in place of our fraction when we lerp. Try this out by adjusting your duration and you will still see an accurate fraction that reads how far time has progressed towards it's duration.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Vector3</span> start <span style="color:#b4b4b4;">=</span> <span style="color:#b4b4b4;">-</span><span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>one;
    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Vector3</span> end <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>one;
    
    <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> DelayForNoReason() &#123;
        <span style="color:#569cd6;">float</span> t <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>;
        <span style="color:#569cd6;">float</span> duration <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">3.0f</span>;
    
        <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&lt;</span> duration) &#123;
            <mark>transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(start, end, t<span style="color:#b4b4b4;">/</span>duration);</mark>
    
            t <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
            <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;
    &#125;

</pre>

<p>
    Try it out in Unity. You should have an object that travels from start to end and takes 3 seconds to do it.
</p>

<p>
    This is a typical lerp/coroutine pattern that you can copy and paste a zillion times across your project.
</p>

<p>
    To repurpose it, simply change the highlighted part. Try changing the colour of something for example. You would swap <mark>transform.position</mark> with <mark>something.color</mark> and instead of a <mark>Vector3.Lerp(startPos, endPos, t)</mark> it would be <mark>Color.Lerp(startColour, endColour, t)</mark>.
</p>