<h2>Wait! I downloaded my project as a ZIP! How can I use all the Git commands?</h2>

<p>
  Do yourself a favour and don't bother. Begin at step one of this page, clone your project like a good human being. While it's possible to take a random folder and use Git Init, troubleshooting all the possible things that can go wrong while doing this will make guidance impossible.
</p>

<h2>Wait! My project is not on GitLab, and it never has been! Can I still use Git with my project?</h2>

<p>
  So, you have a project already, and have had this project for a few weeks, months or even years, and you suddenly decide you want it under version control. You realize that my guide explains how you can create a project and clone it to begin working, but does not tell you what to do if you already have a project.
</p>

<p>
  Well, here is what you can do, it is the simplest way in my opinion.
</p>

<ol>
  <li>Make a new project as my guides tell you to do.</li>
  <li>Clone that project to your machine by following my guides.</li>
  <li>Now you have an empty project on your machine, just paste your entire project in to that folder, and follow my app-specific guidelines on committing and pushing. Done, your project is now under version control.</li>
</ol>