<p>"Which is the best game engine?" gets asked a lot, and I guess I can sorta see how that could SEEM like a fair question.
  If we start at ground zero, and discover we can use an engine to build our game, we might want to know what engines are
  available. When we have a look at even a cut-down list of popular engines in the world, we don't feel any better for it:</p>
<p>
  <a href="https://en.wikipedia.org/wiki/List_of_game_engines">List of game engines</a>
</p>
<p>But when people ask this question, they've usually missed something along the way or jumped ahead. Really, you could use
  almost any engine and come up with an awesome game. You look at work from people who've used Unity or Unreal, and later
  realize that the high quality stuff is still showing up from people who are using less popular engines, or even custom-built
  engines. It helps to see that engines as far as we need to know are just tools. The same way that Photoshop's a tool for
  drawing images, an engine's a tool for making our game. It'll usually have some interface, either via text or with a GUI
  to allow us to work with models, textures, audio, UI. What an engine allows us to do is jump right in to begin using these
  files in a game scene, without having to first code a physics engine, audio engine, graphics engine etc. Think of some
  code you may write, and picture having done that a million times already, it would be great to just write it once, and
  reuse it later, so you do that. And once you've done this enough times, you basically have an engine. So, engines are just
  large collections of code that we don't have to write, and they usually offer a framework, or specific way of working.
  If we want things to be made easy, we have to accept some restrictions placed on us. It's the trade-off for ease-of use.
  Also when you use an engine, you have to be prepared to accept any bugs you may find, and either wait for an update to
  fix them, or be confident in delving in to their engine code and fixing it yourself. So when we choose and engine, the
  things to consider are along these lines:</p>
<ul>
  <li>Will my game be 2D or 3D?</li>
  <li>Do I need it to perform well on low-end devices?</li>
  <li>Will I be collaborating with a large group?</li>
  <li>What language is my team most proficient in?</li>
  <li>Do we need simple integration of online services like facebook sharing?</li>
  <li>Do I plan to target low-end devices?</li>
  <li>Is it easy to describe to team members how to use this engine?</li>
  <li>Is there an active community if I get stuck using this thing?</li>
  <li>Are the developers still working on it? Or is it a previously good engine that's now been left to gather dust?</li>
</ul>
<p>
  <img src="assets/images/essential-terminology/engine/unity-logo.png" class="img-sml">
  <img src="assets/images/essential-terminology/engine/ue4-logo.png" class="img-sml">
</p>
<p>When you're talking Unity and Unreal, know that they're two very commonly debated engines. CryEngine is up there but I haven't
  personally seen it spoken about nearly as often. There are systems they both have in place to manage the following really
  well:</p>
<ul>
  <li>3D models</li>
  <li>2D Sprites</li>
  <li>Cameras / Rendering</li>
  <li>Lights</li>
  <li>Audio</li>
  <li>Textures</li>
  <li>Materials and Shaders</li>
  <li>Physics</li>
  <li>Terrain generation</li>
  <li>Particles</li>
  <li>Post Effects</li>
  <li>UI</li>
</ul>
<p>Both are predominantly 3D engines, some 2D games could benefit from using GameMaker, Stencil, Construct or Godot instead.</p>
<p>So you start to weigh up the differences.</p>
<h2>Unreal</h2>
<h3>Pros</h3>
<ul>
  <li>All purpose shader graph.</li>
  <li>Built-in visual code editor (Blueprints).</li>
  <li>C++, memory managed for you by Unreal and hypothetically more optimizable due to the potential to be memory managed.</li>
  <li>Strong community.</li>
  <li>Easier to get in to local / online multiplayer.</li>
  <li>Access to the engine's source code.</li>
</ul>
<h3>Cons</h3>
<ul>
  <li>Poor selection of delivery platforms.</li>
  <li>C++ can be a major hazard for new entrants to a team, or slightly more difficult to hire for.</li>
  <li>Easily reaches 5min+ compile times for C++.</li>
  <li>Not geared towards low end devices, a lot of work to get games to perform well for the web and low / mid range portable
    devices.
  </li>
  <li>Blueprints can encourage poor code practice and can only be taken so far in general before project becomes too heavy.</li>
  <li>Terrifying interface.</li>
</ul>
<h2>Unity</h2>
<h3>Pros</h3>
<ul>
  <li>Near instant compile times for C#.</li>
  <li>Great range of delivery platforms.</li>
  <li>Well geared towards low-end devices. Can do higher end as well.</li>
  <li>Strong community.</li>
  <li>Intuitive interface.</li>
</ul>
<h3>Cons</h3>
<ul>
  <li>More work to reach the graphical fidelity of Unreal.</li>
  <li>No visual code editor (blueprints).</li>
  <li>No visual shader editor.</li>
  <li>C# is memory managed for you. While that's usually great, you can't handle the memory management yourself.</li>
  <li>Source code is inaccessible.</li>
</ul>
<p>So you weigh these up and it's sort of a tough choice, you come back to what they both offer simultaneously and it doesn't
  get any easier. The best advice I've had for anyone at this point has been "Just pick one, and use it, you'll like whichever
  one you go with... learn them both if you can".</p>