<p>It's hard to say when exactly it'll be useful for you to make use of Vuforia's methods, but you can be sure that
  having them available would be handy. A personal choice of mine is to set-up some events on a class that inherits from
  Vuforia's <mark>DefaultTrackableEventHandler</mark>. From my new class, I override their methods with my own in order
  to call some custom <mark>events</mark> which is something you can read more about <a
    href="http://kerihobo.com/tutorials/(tutorials-content:unity%3Ecode-practices%3Eevents)">here</a>. To summarize,
  events are like a signal being sent from a radio-tower, rather than the radio-tower being responsible for instructing
  100s of objects, 100s of objects can just opt-in to listen for the signal.</p>

<p>Vuforia haven't made events for us to use, but this way works fine. See the following class, and implement it in to
  your project:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">Events</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">delegate</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">Method</span>();
    
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">event</span> <span style="color:#4ec9b0;">Method</span> OnTrackingFound;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">void</span> TrackingFound() &#123;
            OnTrackingFound<span style="color:#b4b4b4;">?.</span>Invoke();
        &#125;
    
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">event</span> <span style="color:#4ec9b0;">Method</span> OnTrackingLost;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">void</span> TrackingLost() &#123;
            OnTrackingLost<span style="color:#b4b4b4;">?.</span>Invoke();
        &#125;
    &#125;

</pre>

<p>These are OUR events, nothing to do with Vuforia.</p>

<p>You'll notice a lack of <mark>using statements</mark>. This class won't need any.</p>

<p>Writing a delegate like this just unlocks the ability for us to declare methods as a type of variable. when we
  decalre a static event, we make it of type <mark>Method</mark> (the delegeate we just created). Then, we make a static
  method that can be called from anywhere, which invokes the event. The <mark>?</mark> you see there is a new way of
  null-checking in <a href="https://www.nhaustralia.com.au/blog/Automatic-null-checking-in-C-sharp-6-0/">C# 6.0</a>.</p>

<p>That's all we need. Now we can command this script to send a signal. We'll do so from a new script named
  <mark>CustomTrackableEventHandler</mark> which needs to replace the <mark>DefaultTrackableEventHandler</mark> on our
  <mark>ImageTarget</mark> in our Unity scene.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">CustomTrackableEventHandler</span> : <span style="color:#4ec9b0;">DefaultTrackableEventHandler</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#4ec9b0;">CustomTrackableEventHandler</span> instance;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            instance <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">this</span>;
        &#125;
     
        <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">override</span> <span style="color:#569cd6;">void</span> OnTrackingFound() &#123;
            <span style="color:#569cd6;">base</span><span style="color:#b4b4b4;">.</span>OnTrackingFound();
     
            <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>LogError(<span style="color:#d69d85;">&quot;&lt;color=green&gt;Tracking found!&lt;/color&gt;&quot;</span>);
     
            <span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>TrackingFound();
        &#125;
     
        <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">override</span> <span style="color:#569cd6;">void</span> OnTrackingLost() &#123;
            <span style="color:#569cd6;">base</span><span style="color:#b4b4b4;">.</span>OnTrackingLost();
     
            <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>LogError(<span style="color:#d69d85;">&quot;&lt;color=red&gt;Tracking lost!&lt;/color&gt;&quot;</span>);
     
            <span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>TrackingLost();
        &#125;
    &#125;

</pre>

<p>On our Vuforia <mark>ImageTarget</mark>, we replace our DefaultTrackableEventHandler with our new <mark>CustomTrackableEventHandler</mark>.</p>

<p>
    <img src="assets/images/projects/vuforia-world-builder/CheckListCustomTrackableEventHandler.JPG">
</p>

<p>Now it's up to us to decide which scripts will listen for this event. Any script can subscribe to, and should also
  unsubscribe from these events during <mark>OnEnable()</mark> and <mark>OnDisable()</mark>. We add our own method to a
  list of methods that're run when the event happens. Because of said list, failing to unsubscribe when our object is
  destroyed or enabled will result in a <mark>Null Reference Exception</mark> when the event occurs.</p>

  <p>The following script demonstrates how it has subscribed to, and unsubscribed from the above event, and how it has its own method that runs when the event occurs:</p>

  <pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">
    
    <span style="color:#569cd6;">using</span> UnityEngine;
 
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">Example</span> : <span style="color:#4ec9b0;">MonoBehaviour</span> &#123;
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnEnable</span>() &#123;
            <span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingFound <span style="color:#b4b4b4;">+=</span> OnTrackingFound;
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnDisable</span>() &#123;
            <span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingFound <span style="color:#b4b4b4;">-=</span> OnTrackingFound;
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> OnTrackingFound() &#123;
            <span style="color:#4ec9b0;">Debug</span><span style="color:#b4b4b4;">.</span>Log(<span style="color:#d69d85;">&quot;I&#39;ll log anytime Vuforia finds a tracking image.&quot;</span>);
        &#125;
    &#125;

</pre>