<p>Instruction manuals are almost a complete thing-of-the-past lately. Players are mostly over them, at least in video games.
  In board games, it's still widely accepted that you, the player, must understand how to process the rules, for video games,
  the system handles that for you. We're expected to educate our players holistically and tangentially nowadays. In-game
  tutorials are often un-welcome, many games have only subtle differences between them, regular players generally feel like
  they could simply figure it out. The best type of tutorial is an invisible one. Try isolating your player with a barren
  room and a single obstacle that can only be overcome by performing a near obvious action on it.</p>
<p>
  <img src="assets/images/design/clockwork-game-design/mario.png">
</p>
<p>Observe that in Mario, we begin on the left-hand side of the screen, implying that we can go right, we see a dangerous looking
  villain heading our way, implying that we may be able to jump over it, there's a chance that doing so will result in you
  hitting some bricks, at which point you'll learn that you can smash bricks from below. This is what we call a silent tutorial.
  Silent tutorials have no voice-overs or written dialogue to explain the rules of the game to you, you simply understand
  by playing.</p>
<p>
  <a href="https://www.google.com/url?q=https://www.youtube.com/watch?v=zRGRJRUWafY&amp;feature=youtu.be">Miyamoto on World 1-1</a>.
</p>
<p>Other ways to add instructions for how to use your game include displaying text during loading screens, give them something
  to read while they wait, otherwise making videos that play during loading screens, or even from a moves list in the pause
  menu. One benefit of videos is that players can see the results of an optimal input. If they see how it can be done right,
  as opposed to how they may be doing it wrong, it gives them something to look forward to and an incentive to master those
  optimal inputs.</p>
<p>Lastly, for complex information, in lieu of an instruction manual, host a wiki with all of your information publicly accessible.
  Wikis usually have forums of some kind, allowing you to get feedback from players, or to witness their discussions. You
  can also update wikis, while a paper instruction manual would be outdated if you ever patch your game. A problem with reading
  game manuals is that it's often hard to understand rule F without also understanding Rules H, Q and L. This is because
  games operate in a web of interconnected mechanics, while written, paper manuals can only read in a linear fashion from
  point A to B. Wikis operate an a web of interconnected pages, making them the perfect medium to document our games.</p>
<p>The measures you take to teach your game to others will also reveal to you which of your rules make perfect sense, and which
  are very difficult to describe.</p>