<p>
  So, you've downloaded <a href="https://git-scm.com/download/win">Git</a>. Go ahead and install it. I recommend keeping it on your C drive. This is a straightforward process, all the defaults are fine. Just spam the 'Next' button and get it installed.
</p>

<p>
  <img src="assets/images/git/cli/getting-started/gitinstaller.jpg"/>
</p>

<p>
  To open Git bash, right-click anywhere on your desktop and you will see the option to do so:
</p>

<p>
  <img src="assets/images/git/cli/getting-started/gitbash.gif"/>
</p>

<p>
  You will notice that it opens with a file path that points to the exact directory you were in when you chose to open it.
</p>

<p>
  <img src="assets/images/git/cli/getting-started/cli.jpg"/>
</p>

<p>
  Opening Git Bash any other way will open it at your computer's root on C:\ and you will have to use your magical typing skills to browse to the folder you're looking for.
</p>

<p>
  Now with that up-and-running, it's time to move on to our day-to-day work with <a routerLink="../tasks-simplified/">git tasks simplified</a>
</p>