<img src="assets/images/essential-terminology/graphics-vs-aesthetics/high-detail-bad-aesthetic.jpg" class="img-sml">
<img src="assets/images/essential-terminology/graphics-vs-aesthetics/low-detail-good-aesthetic.png" class="img-sml">
<p>Depth and complexity are both products of mechanics constructed in game-design. Every time we add a rule to our game, what
  we're also adding is complexity. Sometimes it's a necessity, but you could be steepening the learning curve for your players.
  Depth is a term that speaks of how deeply the player is immersed or engaged in your game. A game is not deeper for being
  more complex, actually, it's often the opposite. Complexity hinders depth. If our game has a lot of complexity, it's not
  the end of the world, but we do need to change how we deliver content. We introduce players to new features or rules at
  steady intervals throughout our game, as opposed to giving them a lot to pick up all at once.</p>
<p>Generally in game-design, we try to enhance depth and minimize complexity. Even if our game is largely complex in a good
  way, it should still have been subjected to simplification at every possible opportunity before we decide that our level
  of complexity is acceptable considering the depth we're promising to deliver. In light of this, we need to think of depth
  Vs. complexity as a balancing act. I did say that complexity hinders depth, but when we look to increase complexity, we're
  looking to increase variety, that's what we do when we introduce new mechanics and new rules to our game, right? The more
  depth the better, but you can't have depth without at least some complexity. It's our job to make sure that any increase
  in complexity however, has a high pay-off in depth. If you add 1 point of complexity, then you should gain at least 2 points
  of depth.</p>
<p>Depth is a unit of measurement we can use when we talk about certain designs being better than others. Through a good understanding
  of depth, and how to cut down on complexity, we can sortof rightly say that X design is greater than Y, avoiding conversation-enders
  like "it's all subjective".</p>
<p>Chess is a really simple game, you've only got a few rules to learn, yet there are tonnes of various possible strategies
  and outcomes, with great room for mastery. In this way, chess is low in complexity, yet high in depth.</p>
<h3>Resources</h3>
<ul>
  <li>
    <a href="https://www.youtube.com/watch?v=jVL4st0blGU">Extra credits - Depth Vs. Complexity</a>
  </li>
</ul>