<h2>Recent observations</h2>

<p>Today I just wanna look at a few changes that have been going on in our industry to get everyone up to speed a little on
  the current state of things.
</p>

<p>So to get us started, here're a few things that I noticed:</p>
<ul>
  <li>Games courses are fairly new, especially in New Zealand, it's either 9 or 10 years now since MDS launched their Game Development
    course, which, at the time, was the only one in the country. We're fortunate to be at a time where this is finally an
    option, but it certainly doesn't have the centuries of foundation treatment that classes such as science or mathematics
    can claim. Game Development is only so much older than most of us. I still remember our tutors telling us how lucky we
    were to learn the stuff, because when they were trying to learn about it, there was nothing, nomadic people with sticks
    just figuring things out.
  </li>
  <li>In the past 10 years, I've seen game engines doing some strange things. Well, take Havok for example, they purchased the
    Vision engine from Trinigy. The price they threw out for companies to be able to use their engine started around $1,000,000
    dollars and then went up depending on several factors. But in the past 10 years, we've seen the Vision engine branch
    off with a mobile engine named Anarchy, and released for free to the public. It looks like this scared Epic and Unity
    because not long after, they suddenly became very generous with their own engines.
  </li>
  <li>I'm quite sure that the free-to-play model's popularity in the mobile industry has had a lot to do with this. Once again,
    we're living in a funny time. We're surrounded by free stuff that's not actually free but kindof is, and even though
    the market is saturated, large companies are still doing well and the things we thought we knew about successful business
    has pretty much been turned upside down.
  </li>
</ul>

<h2>What works for one company doesn't necessarily work for the other</h2>

<p>Now that everything's free, it's meant tougher competition. Everyone has access to what used to be an impossible art. Pixar
  saw this change too, they released Renderman for the first time ever. Straight away you can imagine what they're getting
  at. In the past, they had a top secret rendering engine for their films that you'd only ever be privy to by being employed
  there and stationed somewhere within their rendering pipeline. It meant a lot of training for new entrants, which takes
  time for their staff, and resources like training rooms. It meant doing training sessions in batches at planned periods,
  and their hiring process was only one of the aspects to be affected by this. Now, people have no excuse for any lack of
  knowledge about how to use Renderman. Pixar has released it under a non-commercial license with libraries and tutorials
  for all to use. Now they can hire people with an expectation that new employees will need only a small amount of training,
  and for the most part, should be able to hit the ground running.
</p>

<p>
  Would this work for Adobe? The difference between Adobe and Pixar is that Pixar makes money by selling their merchandise
  and films made with on-site proprietary tools, Adobe makes money by selling their proprietary tools. Pixar was never trying
  to make money by selling Renderman, and don't risk discouraging sales by releasing it as non-commercial. Of course, it's
  non-commercial, you want commercial? You can pay for it. This would still be much too large of a risk for Adobe, people
  already decide that they will simply pirate Adobe products to avoid a one-off, large fee. So they go with a cloud subscription
  plan instead. Rather than one large, un-affordable chunk of money, they found people were happy to pay $20 in a month and
  stop pirating, allowing them to create content with Adobe Products with zero risk of a law-suit. I believe that the way
  the digital marketplace has been running lately, with content creation software, game engines, films and commercial video
  games, is all part of an economical phenomenon. I'm not here to talk about that phenomenon really, but rather ensure an
  awareness. We'll all use this awareness to help design our content. And that's what we're all here to brush up on.
</p>

<h2>4 main points</h2>

<p>Let's address the following points one at a time:</p>

<ol>
  <li>Education has introduced game-design courses.</li>
  <li>Game Engines have become more accessible.</li>
  <li>F2P and DLC has become a verified, trusted business model.</li>
  <li>Subscription models have been refined to a point where they're actually enticing rather than obligatory and "scary" (This
    actually ties in to the third point).</li>
</ol>

<h3>Education</h3>

<p>We've got access to knowledge that would have been impossible to find so easily about 10+ years ago. If we traveled back
  to the year 2007, this would have been a really nice advantage to have. But today we have developer courses all over the
  world. More and more people are entering the industry with this knowledge, and this means competition today is going to
  be a lot more fierce than what it was even 10 years ago. There's been a lot of push recently to have game development generally
  recognized as an art. Game development being taught nowadays is a good sign that it's finally being taken seriously. I
  still know a lot of people who think it's a silly pastime. Now, just my opinion, but I couldn't disagree more, I see it
  as the same kind of thing as reading a book or watching a film.
</p>

<h3>Easily accessible</h3>

<p>Game Engines becoming more accessible has been both a blessing and a scourge.</p>

<p>10 years ago, if you made a game, you had a good shot at some recognition. We actually compete against this stuff nowadays,
  not because we can't make better things, but even if we make something really cool, saturation means nobody will see what
  we make while they're wading through all this weird stuff. Not only do professionals make it really hard to stand out,
  these primary school kids are too!
</p>

<h3>F2P and DLC</h3>

<p>With F2P and DLC, real change has happened with our distribution options today. Some people embrace it, some people hate
  it, regardless, we use it anyway because it's become the only way to really get the full experience from any of the games
  we're playing. It's easy enough to guess why DLC appeals to developers, it allows us to ship incomplete games and make
  money while the game's still being made. This way, it's a major positive on the dev-side, though it's been a difficult
  transition for customers. It's not all bad. Some games will try to sell you outfits, these really have nothing to do with
  the game's playability, just an aesthetic, and the player doesn't miss out on any of the game-play experience by choosing
  not to buy this content. In the case of Call of Duty, it's entire maps that are left out of the game. Though we have perspectives
  to consider here too. The more acceptable name for this would be "Expansion Pack". We've had expansion packs for a very
  long time, yet, somehow it really made ripples in the industry when DLC was being introduced along with the XBOX 360 and
  PS3. These stand by player-bases who only ever had their content fully complete and delivered on the one disc, suddenly,
  a whole population of players were faced with the idea that they may now be required to buy more of their game, after already
  buying their game, whereas PC players had been purchasing expansion packs since the 80s, and table-top players since the
  70s.
</p>

<p>
  F2P operates according to B.F Skinner's '<a href="https://www.google.com/url?q=https://www.youtube.com/watch?v=D-RS80DVvrg">Skinner Box</a>' experiment and theory.
</p>

<p>
  DLC isn't so strange a change afterall... F2P on the other hand! It's an efficient method of monetization that's somehow proven itself. Generally what F2P means is that you can play a game for free, but the more you play, the harder the game gets, at some point, you struggle to progress without spending money on one of the many micro-transactions the game needs to tempt you with. What happened on the consumer side is something we possibly should have seen coming. When I was younger, it seemed like dropping $100 on a game was perfectly normal, maybe that's why I'm still okay with it today. But today I've actually found that people are complaining when they have to buy a game for $20, and maybe they're right to do so, why pay for it when there's a game out there that offers a similar level of fun but for free? So expectations have changed. Not only do you have an insane level of saturation on the market, but you also have to deal with the fact that people want your game for free! Successful companies like King, Gameloft and Zynga have a lot of resources to produce high quality games in considerably short cycles. So now, customers want your game for free, and also to be of a very high quality.
</p>

<p>
  Really, saturation is your biggest enemy here, but to look at THAT as the single issue won't help you, the saturation is caused by things and when we understand it, even just looking in to some of these points from today, it helps us take another step away from apathy and we can start talking about how to survive as a business while all these things are going on. Things are always going to change, we can't stop that, the best we can do is learn and grow FROM, and WITH the changes. The indie scene in general is thriving and sharing their knowledge. We're lucky to be in a time where people are sharing their knowledge so freely.
</p>

<h3>AAA Vs. Indies</h3>

<p>
  In order to survive in a saturated market where AAA companies are spitting out games faster than we can play them, we have to find ways to compete with aesthetics, mechanics and production speed. So indies have been pushed to use techniques like rapid-prototyping and simplified art methods. With rigorous practice, we've been fortunate to see some really beautiful indie games roll on to the scene. By the way... AAA studios are really just really big companies full of super... super capable indie developers.
</p>

<p><img src="assets/images/recent-history/great-indie-art-styles.jpg"></p>

<p>
  What then happened is something pretty profound. Indie developers were recognized for their efforts. Great sales and awards.
  It even opened a new place in the market for people who really just prefer these styles of games. Now the indie scene is
  considered just as much a competitor in the industry as AAA companies, it has forced similar styles in to AAA studios as
  well. Ultimately what's been created is a giant cataclysmic cause-and-effect scenario that's constantly reacting to the
  other. And that all stems, I believe, from these above, 3 main points.
</p>

<h2>Related</h2>

<h3>Videos</h3>

<ul>
  <li>
    <a href="https://www.youtube.com/watch?v=Tfh0ytz8S0k">How old-school graphics worked - part 1</a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=_rsycfDliZU">How old-school graphics worked - part 2</a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=q_3d1x2VPxk">How old-school sound/music worked</a>
  </li>
  <li>
    <a href="https://youtu.be/_9SM9lG47Ew">Datasette Tapes</a>
  </li>
  <li>
    <a href="https://youtu.be/xKVS_81Op5A">Evolution of Video Game Graphics</a>
  </li>
</ul>
<h3>Articles</h3>
<ul>
  <li>
    <a href="https://www.wired.com/2010/06/replay/">The Nimrod</a>
  </li>
  <li>
    <a href="http://www.vrs.org.uk/virtual-reality/history.html">VR</a>
  </li>
  <li>
    <a href="https://waypoint.vice.com/en_us/article/why-its-so-hard-to-make-a-video-game">Why it's so hard to make a video game</a>
  </li>
</ul>

