<p>There are three parts that make up a contest of decision-making:</p>
<ul>
  <li>The core mechanism.</li>
  <li>The goal.</li>
  <li>Supporting mechanisms.</li>
</ul>
<p>The goal of clockwork is to make more concrete, reasoned judgement about the elements we add to any game, to pursue elegance.
  We can automatically avoid a large number of pitfalls found in patchwork designs. Clockwork games are easier to:</p>
<ul>
  <li>Design</li>
  <li>Test</li>
  <li>Question</li>
  <li>Quantify</li>
</ul>
<p>
  <img src="assets/images/design/clockwork-game-design/patchwork-anatomy.png">
</p>
<p>Patchwork is the lack of a pattern. This void is usually filled with commercial expectation, a content arms-race or sheer
  whim.
</p>
<h2>Jumping in</h2>
<p>This game design pattern works best for the development of a design. To formulate a design to begin with, jumping in is the
  technical term for that necessary starting point. It's necessarily vague, and unfortunately in this design pattern, is
  still the only way to be sure you have an idea.</p>
<h2>Content-based systems</h2>
<p>
  <i>Content</i> is essentially another word for complexity,which is the componential complexity.</p>
<ul>
  <li>Encouraged by patchwork-design.</li>
  <li>Suggests that a game is merely a container for objects.</li>
  <li>Throws elegance out the window.</li>
</ul>
<p>Maximizing content forces a high barrier of entry against your players, as well as you: the designer. It's okay to have a
  content based approach to prototypes, but try to scale up incrementally from nothing to evaluate each tested bit of content
  critically.
</p>
<p>Typically you'll see a worse complexity / depth pay-off.</p>
<p>A content-based system relies on content as a primary source of complexity. Essentially using complexity to achieve more
  complexity. We are supposed to achieve numerous points of depth for adding complexity.</p>
<p>Content must have several different types of parameters that can be tweaked for there to be many, many different permutations.</p>
<p>The more complicated a piece of content is, the less likely it is to remain as a balanced cog in the overall system.</p>