<p>Follow this guide to authenticate your users via email through Firebase!</p>

<h2>Project Setup</h2>

<ol>
    <li>
        <p>
            Grab <a href="assets/zips/android-studio/firebase/authentication/email/FirebaseEmail.zip">this zip.</a> Inside you should find 2 files that you can drag to a new Android Studio project, replacing the defaults.
        </p>
    </li>
    <li><p>To set up a new Firebase project, complete the steps on <a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['android-studio>firebase>authentication>firebase-auth-getting-started']}}]">this page</a> before continuing any further here.</p></li>
    <li>
        <p>Head to your <a href="https://console.firebase.google.com/">firebase console</a>, click on your newly created project & access your <mark>Authentication</mark> settings:</p>
        <p><img src="assets/images/android-studio/firebase/authentication/email/FirebaseAuthentication.png" alt=""></p>
        <p>Enable <mark>Email/Password</mark> under your providers:</p>
        <p><img src="assets/images/android-studio/firebase/authentication/email/EmailAuthenticaionEnable.gif" alt=""></p>
    </li>
</ol>

<h2>Java</h2>

<ol>
    <li>
        <p>Populate <mark>createUser()</mark> with the following code. When your Registration button is clicked, this method uses <mark>firebaseAuth</mark> to TRY making a new user in your Firebase project with the <mark>email</mark> and <mark>password</mark> provided in the form. Notice, we're given a listener that lets us respond to a successful / failed registration.</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
    
    firebaseAuth<span style="color:#b4b4b4;">.</span>createUserWithEmailAndPassword<span style="color:#b4b4b4;">(</span>email<span style="color:#b4b4b4;">,</span> password<span style="color:#b4b4b4;">)</span>
        .addOnCompleteListener<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">OnCompleteListener&lt;AuthResult&gt;</span>() &#123;
            <span style="color:#569cd6;">@Override</span>
            <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onComplete</span>(<span style="color:#569cd6;">@NonNull</span> <span style="color:#569cd6;">Task&lt;AuthResult&gt;</span> task) &#123;
                <span style="color:#569cd6;">if</span> (task<span style="color:#b4b4b4;">.</span>isSuccessful<span style="color:#b4b4b4;">()</span>) &#123;
                } <span style="color:#569cd6;">else</span> &#123;
                    <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;createUserWithEmail:failure&quot;</span><span style="color:#b4b4b4;">,</span> task<span style="color:#b4b4b4;">.</span>getException<span style="color:#b4b4b4;">())</span>;
                    <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">MainActivity</span><span style="color:#b4b4b4;">.</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Authentication failed.&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
                }
            }
        }
    <span style="color:#b4b4b4;">)</span>;
        </pre>
    </li>
    <li>
        <p>
            Feel free to test your app at this point. You should be able to enter your email address and a password of your choice, then see yourself registered as a user from your project's Authentication page:
        </p>
        <p><img src="assets/images/android-studio/firebase/authentication/email/FirebaseAuthenticationEmailRegistrationComplete.png" alt=""></p>
    </li>
    <li>
        <p>Place the following code within <mark>signIn()</mark>. Still using the <mark>firebaseAuth</mark>, this method tries to login with existing user credentials found in your Firebase project. Once again, we're given a listener that lets us respond to a successful / failed login.</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
    
    firebaseAuth<span style="color:#b4b4b4;">.</span>signInWithEmailAndPassword<span style="color:#b4b4b4;">(</span>email<span style="color:#b4b4b4;">,</span> password<span style="color:#b4b4b4;">)</span>
        .addOnCompleteListener<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">OnCompleteListener&lt;AuthResult&gt;</span>() &#123;
            <span style="color:#569cd6;">@Override</span>
            <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onComplete</span>(<span style="color:#569cd6;">@NonNull</span> <span style="color:#569cd6;">Task&lt;AuthResult&gt;</span> task) &#123;
                <span style="color:#569cd6;">if</span> (task<span style="color:#b4b4b4;">.</span>isSuccessful<span style="color:#b4b4b4;">()</span>) &#123;
                } <span style="color:#569cd6;">else</span> &#123;
                    <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;signInWithEmail:failure&quot;</span><span style="color:#b4b4b4;">,</span> task<span style="color:#b4b4b4;">.</span>getException<span style="color:#b4b4b4;">())</span>;
                    <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">MainActivity</span><span style="color:#b4b4b4;">.</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Authentication failed.&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
                }
            }
        }
    <span style="color:#b4b4b4;">)</span>;
    </pre>
    </li>

    <li>
        <p>To logout, add the following code to <mark>signOut()</mark>. There's not much to say about this step.</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    firebaseAuth<span style="color:#b4b4b4;">.</span>signOut<span style="color:#b4b4b4;">()</span>;
        </pre>
    </li>
</ol>