<p>
    This concerns saving our player data. Remember that our game is just a bunch of variables and methods. Those all get initialized again every time we fire-up our game. So how do we make them stick? Well, a number of ways. In Unity, there are 4 immediate ways that come to mind:
</p>

<ol>
    <li>XML</li>
    <li>Binary</li>
    <li>JSON</li>
    <li>PlayerPrefs</li>
</ol>

<p>
    1-3 actually are quite identical in their execution. JSON is a little different because it's built in to Unity now, it wasn't always.
</p>

<p>
    Before we even begin, we need some data to save. We can demonstrate this easier if we organize our save-able data in to a class specially designed for it.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> System;

    [<span style="color:#4ec9b0;">Serializable</span>]
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">GameData</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">int</span> strength <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">2</span>;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">int</span> defense <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">3</span>;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">int</span> speed <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">4</span>;
    &#125;

</pre>

<p>
    Our class needs to be serializable and has no need to derive from MonoBehaviour. Why serializable? Well serialization is actually what we are doing when we save our data. In simpler terms, we are taking data and reformatting it to be stored in a save file.
</p>

<p>
    We follow an almost identical pattern for each method of saving. Here's the psuedocode for the general idea. Have a good read, make sure you understand the process.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#57a64a;">// Save method (_dataToSave, _fileName).</span>
        <span style="color:#57a64a;">// Define the file path at which to save  our file, add our _fileName to the end.</span>
        <span style="color:#57a64a;">// Create a file with our _fileName at our filePath.</span>

        <span style="color:#57a64a;">// Create an instance of our preferred serialization and store our data to it through serialization.</span>

        <span style="color:#57a64a;">// Save and close our file. We have to code this in or it gets lost.</span>

    <span style="color:#57a64a;">// Load method (_fileName).</span>
        <span style="color:#57a64a;">// Define the file path at which to load our file, add our _fileName to the end.</span>

        <span style="color:#57a64a;">// Check if our file exists.</span>
            <span style="color:#57a64a;">// Open our file.</span>
            <span style="color:#57a64a;">// Extract the data from the file through deserialization.</span>
            <span style="color:#57a64a;">// Close the file, it&#39;s polite.</span>

            <span style="color:#57a64a;">// return the data back to the object that called this load-method in the first place.</span>

        <span style="color:#57a64a;">// If our file does not exist, just return a default version of our data. Essentially a new game.</span>

</pre>

<p>
    I don't really want to explain this stuff line-by-line for each script, just keep an eye on this pseudo code and keep this in the back of your mind as you read over the serialization methods throughout this tutorial. It's not always this, exactly, but it's at least... roughly this.
</p>

<h2>Binary</h2>

<p>
    First thing's first, notice that the saving method classes in this tutorial are kept static. I couldn't see any reason to keep these scripts on objects in our game, so I made them globally accessible instead. It's a personal choice but not a requirement.
</p>

<p>
    Secondly, notice that the save method is just a void that doesn't return anything. That's because when we save data, we're just sending data to this method. Compare that to the load method. It has a return type that matches the sort of data we're concerned with. When we call this method, we'll call it mid-way through assigning some loaded game data to an instance of our game data class. You'll see this near the end, but focus on the scripts that handle the saving and loading first.
</p>

<p>
    This here is the binary example. We require the <mark>System.Runtime.Serialization.Formatters.Binary</mark> namespace as it contains our binary serialization tool. We also require <mark>System.IO</mark> which allows us to open/read/write files. Our serialization/deserialization tool here is the <mark>BinaryFormatter</mark>.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;
    <span style="color:#569cd6;">using</span> System<span style="color:#b4b4b4;">.</span>Runtime<span style="color:#b4b4b4;">.</span>Serialization<span style="color:#b4b4b4;">.</span>Formatters<span style="color:#b4b4b4;">.</span>Binary;
    <span style="color:#569cd6;">using</span> System<span style="color:#b4b4b4;">.</span>IO;
    
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">SaveLoadBinary</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">void</span> Save(<span style="color:#4ec9b0;">GameData</span> _data, <span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#569cd6;">string</span> filePath <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Path</span><span style="color:#b4b4b4;">.</span>Combine(<span style="color:#4ec9b0;">Application</span><span style="color:#b4b4b4;">.</span>persistentDataPath, _fileName);
            <span style="color:#4ec9b0;">FileStream</span> file <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">FileStream</span>(filePath, <span style="color:#b8d7a3;">FileMode</span><span style="color:#b4b4b4;">.</span>Create);
            <span style="color:#57a64a;">//Debug.Log(Path.Combine(Application.persistentDataPath, _fileName));</span>
    
            <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">BinaryFormatter</span>()<span style="color:#b4b4b4;">.</span>Serialize(file, _data);
    
            file<span style="color:#b4b4b4;">.</span>Close();
        &#125;
    
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#4ec9b0;">GameData</span> Load(<span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#569cd6;">string</span> filePath <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Path</span><span style="color:#b4b4b4;">.</span>Combine(<span style="color:#4ec9b0;">Application</span><span style="color:#b4b4b4;">.</span>persistentDataPath, _fileName);
            <span style="color:#57a64a;">//Debug.Log(Path.Combine(Application.persistentDataPath, _fileName));</span>
    
            <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">File</span><span style="color:#b4b4b4;">.</span>Exists(filePath)) &#123;
                <span style="color:#4ec9b0;">FileStream</span> file <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">FileStream</span>(filePath, <span style="color:#b8d7a3;">FileMode</span><span style="color:#b4b4b4;">.</span>Open);
                <span style="color:#4ec9b0;">GameData</span> data <span style="color:#b4b4b4;">=</span> (<span style="color:#4ec9b0;">GameData</span>)(<span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">BinaryFormatter</span>()<span style="color:#b4b4b4;">.</span>Deserialize(file));
                file<span style="color:#b4b4b4;">.</span>Close();
    
                <span style="color:#569cd6;">return</span> data;
            &#125;
    
            <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">GameData</span>();
        &#125;
    &#125;

</pre>

<p>
    You can see that I've included some commented log lines, we can uncomment these if we'd like to know where our file has been saved to exactly. The result is a binary file with whatever arbitrary file extension you decided to pass through along with the <mark>_fileName</mark>.
</p>

<h2>XML</h2>

<p>
    We don't have to use the <mark>BinaryFormatter</mark>, we can use the <mark>XMLSerializer</mark> instead. Notice it pretty much follows an identical pattern. We've just swapped out the serialization tool. This change has also required that we instead use the <mark>System.Xml.Serialization</mark> namespace.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;
    <span style="color:#569cd6;">using</span> System<span style="color:#b4b4b4;">.</span>Xml<span style="color:#b4b4b4;">.</span>Serialization;
    <span style="color:#569cd6;">using</span> System<span style="color:#b4b4b4;">.</span>IO;
    
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">SaveLoadXML</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">void</span> Save(<span style="color:#4ec9b0;">GameData</span> _data, <span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#569cd6;">string</span> filePath <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Path</span><span style="color:#b4b4b4;">.</span>Combine(<span style="color:#4ec9b0;">Application</span><span style="color:#b4b4b4;">.</span>persistentDataPath, _fileName);
            <span style="color:#4ec9b0;">FileStream</span> file <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">FileStream</span>(filePath, <span style="color:#b8d7a3;">FileMode</span><span style="color:#b4b4b4;">.</span>Create);
            <span style="color:#57a64a;">//Debug.Log(Path.Combine(Application.persistentDataPath, _fileName));</span>
    
            <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">XmlSerializer</span>(<span style="color:#569cd6;">typeof</span>(<span style="color:#4ec9b0;">GameData</span>))<span style="color:#b4b4b4;">.</span>Serialize(file, _data);
    
            file<span style="color:#b4b4b4;">.</span>Close();
        &#125;
    
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#4ec9b0;">GameData</span> Load(<span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#569cd6;">string</span> filePath <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Path</span><span style="color:#b4b4b4;">.</span>Combine(<span style="color:#4ec9b0;">Application</span><span style="color:#b4b4b4;">.</span>persistentDataPath, _fileName);
            <span style="color:#57a64a;">//Debug.Log(Path.Combine(Application.persistentDataPath, _fileName));</span>
    
            <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">File</span><span style="color:#b4b4b4;">.</span>Exists(filePath)) &#123;
                <span style="color:#4ec9b0;">FileStream</span> file <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">FileStream</span>(filePath, <span style="color:#b8d7a3;">FileMode</span><span style="color:#b4b4b4;">.</span>Open);
                <span style="color:#4ec9b0;">GameData</span> data <span style="color:#b4b4b4;">=</span> (<span style="color:#4ec9b0;">GameData</span>)(<span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">XmlSerializer</span>(<span style="color:#569cd6;">typeof</span>(<span style="color:#4ec9b0;">GameData</span>))<span style="color:#b4b4b4;">.</span>Deserialize(file));
                file<span style="color:#b4b4b4;">.</span>Close();
    
                <span style="color:#569cd6;">return</span> data;
            &#125;
    
            <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;
    &#125;

</pre>

<h2>JSON</h2>

<p>
    Then there's JSON, I find JSON the easiest to understand and also read. All of these files are easily hackable so I see no reason to complicate matters more than necessary. JSON would be my preferred choice for simplicity.
</p>

<p>
    The first thing you might notice is that I haven't had to include any special namespace in order to use it, it's already included in the <mark>UnityEngine</mark> namespace.
</p>

<p>
    The second thing you might notice is that I haven't had to include lines of code for opening/closing our file. I only need the line that actually does the serialization/deserialization.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;
    <span style="color:#569cd6;">using</span> System<span style="color:#b4b4b4;">.</span>IO;

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">SaveLoadJSON</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">void</span> Save(<span style="color:#4ec9b0;">GameData</span> _data, <span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#569cd6;">string</span> filePath <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Path</span><span style="color:#b4b4b4;">.</span>Combine(<span style="color:#4ec9b0;">Application</span><span style="color:#b4b4b4;">.</span>persistentDataPath, _fileName);
            <span style="color:#57a64a;">//Debug.Log(Path.Combine(Application.persistentDataPath, _fileName));</span>

            <span style="color:#4ec9b0;">File</span><span style="color:#b4b4b4;">.</span>WriteAllText(filePath, <span style="color:#4ec9b0;">JsonUtility</span><span style="color:#b4b4b4;">.</span>ToJson(_data));
        &#125;

        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#4ec9b0;">GameData</span> Load(<span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#569cd6;">string</span> filePath <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Path</span><span style="color:#b4b4b4;">.</span>Combine(<span style="color:#4ec9b0;">Application</span><span style="color:#b4b4b4;">.</span>persistentDataPath, _fileName);
            <span style="color:#57a64a;">//Debug.Log(Path.Combine(Application.persistentDataPath, _fileName));</span>
    
            <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">File</span><span style="color:#b4b4b4;">.</span>Exists(filePath)) &#123;
                <span style="color:#569cd6;">return</span> <span style="color:#4ec9b0;">JsonUtility</span><span style="color:#b4b4b4;">.</span>FromJson&lt;<span style="color:#4ec9b0;">GameData</span>&gt;(<span style="color:#4ec9b0;">File</span><span style="color:#b4b4b4;">.</span>ReadAllText(filePath));
            &#125;

            <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
        &#125;
    &#125;

</pre>

<h2>Player Prefs</h2>

<p>
    This last method is not really intended for saving and loading complex game data at all. You can read all about <a href="https://docs.unity3d.com/ScriptReference/PlayerPrefs.html">Player Prefs</a> from Unity's documentation. Its real intention is, as the name implies, to save player preferences, basic user settings like screen resolution and audio settings etc. As such, it looks nothing like the other 3 methods of data persistence, it's only mentioned because it CAN save your data, it's just not a great way to do it because you have such limited flexibility with it and there is almost no way to prevent it from being hacked.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">SaveLoadPlayerPrefs</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">void</span> Save(<span style="color:#4ec9b0;">GameData</span> _data, <span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#4ec9b0;">PlayerPrefs</span><span style="color:#b4b4b4;">.</span>SetInt(<span style="color:#d69d85;">&quot;strength&quot;</span>, _data<span style="color:#b4b4b4;">.</span>strength);
            <span style="color:#4ec9b0;">PlayerPrefs</span><span style="color:#b4b4b4;">.</span>SetInt(<span style="color:#d69d85;">&quot;defense&quot;</span>, _data<span style="color:#b4b4b4;">.</span>defense);
            <span style="color:#4ec9b0;">PlayerPrefs</span><span style="color:#b4b4b4;">.</span>SetInt(<span style="color:#d69d85;">&quot;speed&quot;</span>, _data<span style="color:#b4b4b4;">.</span>speed);
            <span style="color:#4ec9b0;">PlayerPrefs</span><span style="color:#b4b4b4;">.</span>Save();
        &#125;
    
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#4ec9b0;">GameData</span> Load(<span style="color:#569cd6;">string</span> _fileName) &#123;
            <span style="color:#4ec9b0;">GameData</span> data <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">GameData</span>();
            data<span style="color:#b4b4b4;">.</span>strength <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">PlayerPrefs</span><span style="color:#b4b4b4;">.</span>GetInt(<span style="color:#d69d85;">&quot;strength&quot;</span>);
            data<span style="color:#b4b4b4;">.</span>defense <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">PlayerPrefs</span><span style="color:#b4b4b4;">.</span>GetInt(<span style="color:#d69d85;">&quot;defense&quot;</span>);
            data<span style="color:#b4b4b4;">.</span>speed <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">PlayerPrefs</span><span style="color:#b4b4b4;">.</span>GetInt(<span style="color:#d69d85;">&quot;speed&quot;</span>);
    
            <span style="color:#569cd6;">return</span> data;
        &#125;
    &#125;

</pre>

<p>
    Note how simple and straightforward it is, it's like literally telling it which data you want to save. It doesn't even require any namespaces other than <mark>UnityEngine</mark>. Unfortunately this is not a great way to store data for a few reasons you can search for on your own.
</p>

<h2>Example</h2>

<p>
    I've created a small interface we can use to test our save data.
</p>

<p>
    <img src="assets/images/unity/code-practices/data-persistence/data-persistence.JPG">
</p>

<p>
    Basically you should be able to use the <mark>-</mark> and <mark>+</mark> buttons to alter your stats, save them via JSON, XML, Binary or Player prefs, and then see if you can use the load buttons to reveal the exact same stats you saved.
</p>

<p>
    I've constructed this UI completely in code, attach this to an empty game object:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">GameData</span> data <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">GameData</span>();
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Rect</span> statBox <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Rect</span>(<span style="color:#b5cea8;">5</span>, <span style="color:#b5cea8;">5</span>, <span style="color:#b5cea8;">250</span>, <span style="color:#b5cea8;">80</span>);
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Rect</span> saveBox <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">Rect</span>(<span style="color:#b5cea8;">5</span>, <span style="color:#b5cea8;">85</span>, <span style="color:#b5cea8;">250</span>, <span style="color:#b5cea8;">105</span>);
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">GUIStyle</span> style <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">GUIStyle</span>();

    <span style="color:#569cd6;">void</span> Awake() &#123;
        style<span style="color:#b4b4b4;">.</span>padding <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">RectOffset</span>(<span style="color:#b5cea8;">5</span>, <span style="color:#b5cea8;">5</span>, <span style="color:#b5cea8;">5</span>, <span style="color:#b5cea8;">5</span>);
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> OnGUI() &#123;
        <span style="color:#4ec9b0;">GUI</span><span style="color:#b4b4b4;">.</span>Box(statBox, <span style="color:#d69d85;">&quot;&quot;</span>);
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>BeginArea(statBox, style);
            DisplayEditableStat(<span style="color:#569cd6;">ref</span> data<span style="color:#b4b4b4;">.</span>strength, <span style="color:#d69d85;">&quot;strength&quot;</span>);
            DisplayEditableStat(<span style="color:#569cd6;">ref</span> data<span style="color:#b4b4b4;">.</span>defense , <span style="color:#d69d85;">&quot;defense&quot;</span>);
            DisplayEditableStat(<span style="color:#569cd6;">ref</span> data<span style="color:#b4b4b4;">.</span>speed   , <span style="color:#d69d85;">&quot;speed&quot;</span>);
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>EndArea();
        <span style="color:#4ec9b0;">GUI</span><span style="color:#b4b4b4;">.</span>Box(saveBox, <span style="color:#d69d85;">&quot;&quot;</span>);
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>BeginArea(saveBox, style);
            SaveLoadButtons(<span style="color:#d69d85;">&quot;JSON&quot;</span>       , <span style="color:#4ec9b0;">SaveLoadJSON</span><span style="color:#b4b4b4;">.</span>Save       , <span style="color:#4ec9b0;">SaveLoadJSON</span><span style="color:#b4b4b4;">.</span>Load       , <span style="color:#d69d85;">&quot;GameData.json&quot;</span>);
            SaveLoadButtons(<span style="color:#d69d85;">&quot;XML&quot;</span>        , <span style="color:#4ec9b0;">SaveLoadXML</span><span style="color:#b4b4b4;">.</span>Save        , <span style="color:#4ec9b0;">SaveLoadXML</span><span style="color:#b4b4b4;">.</span>Load        , <span style="color:#d69d85;">&quot;GameData.xml&quot;</span>);
            SaveLoadButtons(<span style="color:#d69d85;">&quot;Binary&quot;</span>     , <span style="color:#4ec9b0;">SaveLoadJSON</span><span style="color:#b4b4b4;">.</span>Save       , <span style="color:#4ec9b0;">SaveLoadJSON</span><span style="color:#b4b4b4;">.</span>Load       , <span style="color:#d69d85;">&quot;GameData.sav&quot;</span>);
            SaveLoadButtons(<span style="color:#d69d85;">&quot;PlayerPrefs&quot;</span>, <span style="color:#4ec9b0;">SaveLoadPlayerPrefs</span><span style="color:#b4b4b4;">.</span>Save, <span style="color:#4ec9b0;">SaveLoadPlayerPrefs</span><span style="color:#b4b4b4;">.</span>Load, <span style="color:#d69d85;">&quot;&quot;</span>);
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>EndArea();
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> DisplayEditableStat(<span style="color:#569cd6;">ref</span> <span style="color:#569cd6;">int</span> _stat, <span style="color:#569cd6;">string</span> _statName) &#123;
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>BeginHorizontal();
            <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Label(_statName, <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Width(<span style="color:#b5cea8;">60</span>));
            <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Label(_stat<span style="color:#b4b4b4;">.</span>ToString(), <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Width(<span style="color:#b5cea8;">30</span>));
            <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Button(<span style="color:#d69d85;">&quot;-&quot;</span>)) &#123;
                <span style="color:#b4b4b4;">--</span>_stat;
            &#125; <span style="color:#569cd6;">else</span> <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Button(<span style="color:#d69d85;">&quot;+&quot;</span>)) &#123;
                <span style="color:#b4b4b4;">++</span>_stat;
            &#125;
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>EndHorizontal();
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> SaveLoadButtons(<span style="color:#569cd6;">string</span> _dataStyle, <span style="color:#4ec9b0;">Action</span>&lt;<span style="color:#4ec9b0;">GameData</span>, <span style="color:#569cd6;">string</span>&gt; _save, <span style="color:#4ec9b0;">Func</span>&lt;<span style="color:#569cd6;">string</span>, <span style="color:#4ec9b0;">GameData</span>&gt; _load, <span style="color:#569cd6;">string</span> _fileName) &#123;
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>BeginHorizontal();
            <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Button(_dataStyle <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot; Save&quot;</span>)) &#123;
                _save(data, _fileName);
            &#125; <span style="color:#569cd6;">else</span> <span style="color:#569cd6;">if</span>(<span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>Button(_dataStyle <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot; Load&quot;</span>)) &#123;
                data <span style="color:#b4b4b4;">=</span> _load(_fileName);
            &#125;
        <span style="color:#4ec9b0;">GUILayout</span><span style="color:#b4b4b4;">.</span>EndHorizontal();
    &#125;

</pre>

<p>
    This probably looks shockingly overwhelming, take your time to understand it for a moment. I often find it helps to look at the METHODS on their own, nevermind the exact code therein.
</p>

<p>
    <img src="assets/images/unity/code-practices/data-persistence/data-persistence-ui.JPG">
</p>

<ul>
    <li>
        <mark>OnGUI</mark> draws the larger portion of our UI. It draws the 2 large boxes where our stat interface is drawn, and secondly our save/load buttons.
    </li>
    <li>
        <mark>DisplayEditableStat</mark> just renders our stat interface with the - and + buttons. OnGUI actually calls this 3x. Once each for strength, defense and speed.
    </li>
    <li>
        <p>
            <mark>SaveLoadButtons</mark> renders the Save/Load UI buttons, it's called 4x from OnGUI, each for JSON, XML, Binary and PlayerPrefs. It lets us pass it the name for our buttons, the delegate method we plan to use for saving and loading, and the file name which should include the file extension. The main mind-blower with this method will be where the <mark>Action</mark> and <mark>Func</mark> datatypes are used. These are delegates that give us a way to pass methods to our method (typically not an easy task).
        </p>
        <p>
            The beauty of this method, is that while all of our save/load methods at the moment are found in different scripts, that doesn't matter cos we can simply swap out which save method we're talking about when we call <mark>SaveLoadButtons</mark> from within OnGUI.
        </p>
    </li>
</ul>