<p>Wireframing is a technique in visual design where we describe our UI with only raw essentials. In the case of UI, raw essentials
  means shapes, size, placement and text. NOT colour or anything else. In web, <a href="https://www.urbanriver.com/website-wireframe/">this can be imagined quite easily</a>
</p>
<p>In games, however, and now becoming in apps and some web interfaces as well, we have to consider more than mere screen layout.
  Remember our 4 forms of UI:</p>
<p></p>
<ul>
  <li>Non-Diagetic</li>
  <li>Diagetic</li>
  <li>Spatial</li>
  <li>Meta</li>
</ul>
<p>So sometimes mere placement of shapes isn't quite enough. In games, our UI is competing with other elements as well, beyond
  that of simply the layout of other UI. We have a lot going on visually as well as the UI in the form of colours, animations,
  all kinds of effects, there's often sound to consider as well which is also a type of UI of it's own.</p>
<p>In considering all that we must, wireframes are still great tools for designing UI in games. Though let's see the aforementioned
  problem described.</p>
<p>
  <img src="assets/images/design/wireframes/target.jpg">
</p>
<p>Already a lot of work has gone in to this finalized piece, and despite any problems you can find with it, it's really good
  considering. It doesn't fight the background, it's easy to see all of the elements and doesn't clutter our screen. The
  colours don't clash and neither do the shapes. There are nice detailed designs on the icons, and a nice curve has been
  added to give the feeling that the user is seeing things through a visor of some kind relative to their character.</p>
<p>A lot happened before this point, and to begin with would have been wireframes. Not just ONE wireframe, but dozens and dozens
  of them. Probably before any visual work even started, and probably designed from scratch and revised repeatedly throughout
  production as well.</p>
<p>Without sending you through all these revision steps, I'll just assume you understand an iterative production cycle and we'll
  simply reverse engineer the steps to something like the above UI. In wireframe form... it might look something like...
  this?</p>
<p>
  <img src="assets/images/design/wireframes/pure-wireframe-not-useful.jpg">
</p>
<p>It uses simply shapes, placement, size and text, everything we need to say it's a wireframe, but nearly unique to games (currently),
  we find that that this isn't quite enough to really understand. 2D placement of icons is great for Non-diagetic UI and
  maybe even meta, but for diagetic and spatial UI, those almost NEED some plane or environment to demonstrate their utility.</p>
<p>Now we don't go overboard with this, just a few simple lines to demonstrate perspective and occlusion and we'll be well on
  our way.</p>
<p>
  <img src="assets/images/design/wireframes/simple-drawn-scene.jpg">
</p>
<p>Much better, acceptable, adequate... wireframes are meant to be simple, it's not meant to take a long time to create the
  content because content itself has nothing to do with this part of the pipeline. We just need to see at some base level
  if our UI we propose is in any way practical. The above image could be pitted against an actual screenshot of your game
  in development, if you happen to have one so far. I'll assume we have no UI in this screenshot, that's OUR job afterall.</p>
<p>
  <img src="assets/images/design/wireframes/screen-shot-not-useful.jpg">
</p>
<p>Sure, but it's noisy and overdeveloped, giving us noisy feedback for our completely un-developed wireframe, let's dialback
  the impact a little from the screenshot. The aim here is to save us drawing time, not to compare the our shapes, placement,
  size and text to a fully developed level.</p>
<p>
  <img src="assets/images/design/wireframes/screen-shot-toned-down.jpg">
</p>
<p>And that's much better, whether you choose a screenshot, or a hand-sketched background, the important thing is that you have
  everything you need to start sketching your UI ideas, for this, it really helps to have a concept artist handy, or to have
  come in to a development cycle part way through development, but it really isn't hard to draft up the raw essentials of
  what you need in the background with a few simple lines and shapes.</p>