<p>Follow this guide to authenticate your users via Facebook through Firebase!</p>

<h2>Project Setup</h2>

<ol>
    <li>
        <p>
            Grab <a href="assets/zips/android-studio/firebase/authentication/facebook/FirebaseFacebook.zip">this zip.</a> Inside you should find 2 files that you can drag to a new Android Studio project, replacing the defaults.
        </p>
    </li>
    <li>
        <p>
            To set up a new Firebase project, complete the steps on <a [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['android-studio>firebase>authentication>firebase-auth-getting-started']}}]">this page</a> before continuing any further here.
        </p>
    </li>
    <li>
        <p>
            Head to <a href="https://developers.facebook.com/docs/facebook-login/android">https://developers.facebook.com/docs/facebook-login/android</a> and follow the guide there to establish your Facebook project ready for use with Firebase.
        </p>
        <p>Take note of a few points as you follow the guide:</p>
        <ul>
            <li>You can skip the <mark>Maven</mark> stuff, that's done for you nowadays.</li>
            <li>The gradle file it wants you to add Facebook dependencies to can be found here:
                <p><img src="assets/images/android-studio/firebase/authentication/google/AppGradleLocation.png" alt=""></p>
            </li>
            <li>In your dependencies, replace facebook's bracketted version number with whatever version Android Studio recommends using without brackets.</li>
            <li>
                Careful with step 6. This isn't a simple copy/paste step. You will need 3 different file paths to complete this step. Note that when you find the files you need, they can be drag/dropped directly to the command-line window as a quick-way to type the filepath:
                <ul>
                    <li>
                        The term <mark>keytool</mark> should actually be the filepath to <mark>keytool.exe</mark> found in your JDK's bin directory. Check <mark>File > Project Structure</mark> in Android Studio as an easy way to track this file down.
                    </li>
                    <li>The <mark>debug.keystore</mark> path requires you to actually browse through C:\ to find your user folder, then within <mark>.android</mark></li>
                    <li>The third file you need is in the folder suggested by the Facebook guide.</li>
                </ul>
            </li>
            <li>You can ignore steps 8 and after.</li>
        </ul>
    </li>
    <li>
        <p>Head to your <a href="https://console.firebase.google.com/">firebase console</a>, click on your newly created project & access your <mark>Authentication</mark> settings:</p>
        <p><img src="assets/images/android-studio/firebase/authentication/email/FirebaseAuthentication.png" alt=""></p>
        <p>
            From your <a href="https://developers.facebook.com/apps/">Facebook Apps</a> page, find the app you just created through the above guide, and find your <mark>App ID</mark> and <mark>App Secret</mark> under <mark>Settings > Basic</mark>.
        </p>
        <p><img src="assets/images/android-studio/firebase/authentication/facebook/SettingsBasic.JPG" alt=""></p>
        <p><img src="assets/images/android-studio/firebase/authentication/facebook/AppIDSecret.JPG" alt=""></p>
        <p>These need to be pasted into Firebase when you add Facebook as your Authentication provider. You can then grab the <mark>OAuth Redirect URI</mark> from that same window in Firebase and paste it back into Facebook's settings for <mark>Facebook Login</mark></p>
        <p><img src="assets/images/android-studio/firebase/authentication/facebook/FacebookAuthenticaionEnable.gif" alt=""></p>
    </li>
</ol>

<h2>Java</h2>

<ol>
    <li>
        <p>Copy the following variables to the top of our Activity:</p>
        
        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">final</span> <span style="color:#569cd6;">String</span> EMAIL <span style="color:#b4b4b4;">=</span> <span style="color:#d69d85;">&quot;email&quot;</span>;
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">static</span> <span style="color:#569cd6;">final</span> <span style="color:#569cd6;">String</span> PUBLIC_PROFILE <span style="color:#b4b4b4;">=</span> <span style="color:#d69d85;">&quot;public_profile&quot;</span>;
    <span style="color:#57a64a;">// ..</span>
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">CallbackManager</span> callbackManager;
        </pre>
    </li>
    <li>
        <p>
            Facebook's <mark>LoginManager</mark> uses the <mark>CallbackManager</mark> to listen for 3 events: <mark>onSuccess</mark>, <mark>onCancel</mark>, <mark>onError</mark>. This'll be the first thing we setup. Implement the following method and call it at the end of <mark>onCreate()</mark>.
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">initializeFacebook</span>() &#123;
        callbackManager <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">CallbackManager</span><span style="color:#b4b4b4;">.</span><span style="color:#569cd6;">Factory</span><span style="color:#b4b4b4;">.</span>create<span style="color:#b4b4b4;">()</span>;
    
        <span style="color:#569cd6;">LoginManager</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">().</span>registerCallback<span style="color:#b4b4b4;">(</span>callbackManager<span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">FacebookCallback&lt;LoginResult&gt;</span>() &#123;
            <span style="color:#569cd6;">@Override</span>
            <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onSuccess</span>(<span style="color:#569cd6;">LoginResult</span> loginResult) &#123;
                <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;facebook:onSuccess:&quot;</span> <span style="color:#b4b4b4;">+</span> loginResult<span style="color:#b4b4b4;">)</span>;
                handleFacebookAccessToken<span style="color:#b4b4b4;">(</span>loginResult<span style="color:#b4b4b4;">.</span>getAccessToken<span style="color:#b4b4b4;">())</span>;
            }
    
            <span style="color:#569cd6;">@Override</span>
            <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onCancel</span>() &#123;
                <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;facebook:onCancel&quot;</span><span style="color:#b4b4b4;">)</span>;
            }
    
            <span style="color:#569cd6;">@Override</span>
            <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onError</span>(<span style="color:#569cd6;">FacebookException</span> error) &#123;
                <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;facebook:onError&quot;</span><span style="color:#b4b4b4;">,</span> error<span style="color:#b4b4b4;">)</span>;
            }
        }<span style="color:#b4b4b4;">)</span>;
    }
        </pre>
    </li>
    <li>
        <p>
            You can see that we are only really concerned with <mark>onSuccess</mark> for now, we'll handle that situation shortly, for now, let's begin the login procedure. Add the following code to <mark>signIn()</mark>:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
    
    <span style="color:#569cd6;">LoginManager</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">().</span>logInWithReadPermissions<span style="color:#b4b4b4;">(</span>
        <span style="color:#569cd6;">this</span>
    <span style="color:#b4b4b4;">,</span>   <span style="color:#569cd6;">Arrays</span><span style="color:#b4b4b4;">.</span>asList<span style="color:#b4b4b4;">(</span>PUBLIC_PROFILE<span style="color:#b4b4b4;">,</span> EMAIL<span style="color:#b4b4b4;">)</span>
    <span style="color:#b4b4b4;">)</span>;
        </pre>

        <p>It's important that we specify which permissions we would like our app to have as it limits the amount of data we can access from our players. Often, their <mark>public_profile</mark> & <mark>email</mark> will be enough. For simplicity, the terminology for accessing these from Facebook is kept in the constant/final variables at the beginning of our script (PUBLIC_PROFILE & EMAIL).</p>
    </li>
    <li>
        <p>
            We use <mark>onActivityResult</mark> to respond to the Facebook Intent triggered by our Login button. We take this opportunity to trigger our <mark>CallbackManager</mark>:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
  
    <span style="color:#569cd6;">@Override</span>
    <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onActivityResult</span>(<span style="color:#569cd6;">int</span> requestCode, <span style="color:#569cd6;">int</span> resultCode, <span style="color:#569cd6;">Intent</span> data) &#123;
            <span style="color:#569cd6;">super</span><span style="color:#b4b4b4;">.</span>onActivityResult<span style="color:#b4b4b4;">(</span>requestCode<span style="color:#b4b4b4;">,</span> resultCode<span style="color:#b4b4b4;">,</span> data<span style="color:#b4b4b4;">)</span>;
        
            callbackManager<span style="color:#b4b4b4;">.</span>onActivityResult<span style="color:#b4b4b4;">(</span>requestCode<span style="color:#b4b4b4;">,</span> resultCode<span style="color:#b4b4b4;">,</span> data<span style="color:#b4b4b4;">)</span>;
        }
        </pre>

    </li>
    <li>
        <p>
            If the Facebook Intent had a successful result, our <mark>CallbackManager</mark> should trigger <mark>onSuccess</mark> in our <mark>LoginManager</mark> which should then call <mark>handleFacebookAccessToken()</mark> where we'll take that successful result anduse the Facebook user data to login to Firebase:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
        
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">handleFacebookAccessToken</span>(<span style="color:#569cd6;">AccessToken</span> token) &#123;
        <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;handleFacebookAccessToken:&quot;</span> <span style="color:#b4b4b4;">+</span> token<span style="color:#b4b4b4;">)</span>;
    
        <span style="color:#569cd6;">AuthCredential</span> credential <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">FacebookAuthProvider</span><span style="color:#b4b4b4;">.</span>getCredential<span style="color:#b4b4b4;">(</span>token<span style="color:#b4b4b4;">.</span>getToken<span style="color:#b4b4b4;">())</span>;
        firebaseAuth<span style="color:#b4b4b4;">.</span>signInWithCredential<span style="color:#b4b4b4;">(</span>credential<span style="color:#b4b4b4;">)</span>
            .addOnCompleteListener<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">OnCompleteListener&lt;AuthResult&gt;</span>() &#123;
                <span style="color:#569cd6;">@Override</span>
                <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onComplete</span>(<span style="color:#569cd6;">@NonNull</span> <span style="color:#569cd6;">Task&lt;AuthResult&gt;</span> task) &#123;
                    <span style="color:#569cd6;">if</span> (task<span style="color:#b4b4b4;">.</span>isSuccessful<span style="color:#b4b4b4;">()</span>) &#123;
                        <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;signInWithCredential:success&quot;</span><span style="color:#b4b4b4;">)</span>;
                    } <span style="color:#569cd6;">else</span> &#123;
                        <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;signInWithCredential:failure&quot;</span><span style="color:#b4b4b4;">,</span> task<span style="color:#b4b4b4;">.</span>getException<span style="color:#b4b4b4;">())</span>;
                        <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">MainActivity</span><span style="color:#b4b4b4;">.</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Authentication failed.&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
                    }
                }
            }
        <span style="color:#b4b4b4;">)</span>;
    }
        </pre>

        <p>If that worked, we can safely assume we're logged into Firebase as a facebook user at this point.</p>
    </li>
    <li>
        <p>
            You may recall that we use <mark>onAuthStateChanged()</mark> to respond to a change in login status. We'll call <mark>updateUI()</mark> as our usual response to this state-change:
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">updateUI</span>() &#123;
        <span style="color:#569cd6;">FirebaseUser</span> firebaseUser <span style="color:#b4b4b4;">=</span> firebaseAuth<span style="color:#b4b4b4;">.</span>getCurrentUser<span style="color:#b4b4b4;">()</span>;
    
        <span style="color:#569cd6;">if</span> (firebaseUser <span style="color:#b4b4b4;">!=</span> <span style="color:#569cd6;">null</span>) &#123;
            <span style="color:#569cd6;">String</span> name <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getDisplayName<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">String</span> email <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getEmail<span style="color:#b4b4b4;">()</span>;
            <span style="color:#569cd6;">Uri</span> image <span style="color:#b4b4b4;">=</span> firebaseUser<span style="color:#b4b4b4;">.</span>getPhotoUrl<span style="color:#b4b4b4;">()</span>;
    
            <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot; \nname: &quot;</span> <span style="color:#b4b4b4;">+</span> name <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot;\nemail: &quot;</span> <span style="color:#b4b4b4;">+</span> email <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot;\nimage: &quot;</span> <span style="color:#b4b4b4;">+</span> image<span style="color:#b4b4b4;">)</span>;
    
            getGraphAPIData<span style="color:#b4b4b4;">()</span>;
    
            <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>makeText<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">this</span><span style="color:#b4b4b4;">,</span> name <span style="color:#b4b4b4;">+</span> <span style="color:#d69d85;">&quot; signed in&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#569cd6;">Toast</span><span style="color:#b4b4b4;">.</span>LENGTH_SHORT<span style="color:#b4b4b4;">).</span>show<span style="color:#b4b4b4;">()</span>;
    
            btnLogin<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>GONE<span style="color:#b4b4b4;">)</span>;
            btnLogout<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>VISIBLE<span style="color:#b4b4b4;">)</span>;
            txtWelcome<span style="color:#b4b4b4;">.</span>setText<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;Welcome, &quot;</span> <span style="color:#b4b4b4;">+</span> name<span style="color:#b4b4b4;">)</span>;
        } <span style="color:#569cd6;">else</span> &#123;
            btnLogin<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>VISIBLE<span style="color:#b4b4b4;">)</span>;
            btnLogout<span style="color:#b4b4b4;">.</span>setVisibility<span style="color:#b4b4b4;">(</span><span style="color:#569cd6;">View</span><span style="color:#b4b4b4;">.</span>GONE<span style="color:#b4b4b4;">)</span>;
            txtWelcome<span style="color:#b4b4b4;">.</span>setText<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;Please sign in&quot;</span><span style="color:#b4b4b4;">)</span>;
        }
    }
        </pre>
    </li>
    <li>
        <p>
            The difference this time (aside form some minor UI manipulation to show/hide login/logout buttons) is that on top of our FirebaseUser data, we'll also access Facebook's <mark>GraphAPI</mark> to extract data from Facebook. With <mark>GraphAPI</mark> you must specify which parameters of user-data you'd like to request:    
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">getGraphAPIData</span>() &#123;
        <span style="color:#569cd6;">AccessToken</span> accessToken <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">AccessToken</span><span style="color:#b4b4b4;">.</span>getCurrentAccessToken<span style="color:#b4b4b4;">()</span>;
        <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;AccessToken: &quot;</span> <span style="color:#b4b4b4;">+</span> accessToken<span style="color:#b4b4b4;">)</span>;
    
        <span style="color:#569cd6;">GraphRequest</span> request <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">GraphRequest</span><span style="color:#b4b4b4;">.</span>newMeRequest<span style="color:#b4b4b4;">(</span>
            accessToken<span style="color:#b4b4b4;">,</span>
            <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">GraphRequest</span>.<span style="color:#569cd6;">GraphJSONObjectCallback</span>() &#123;
                <span style="color:#569cd6;">@Override</span>
                <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">onCompleted</span>(<span style="color:#569cd6;">JSONObject</span> object, <span style="color:#569cd6;">GraphResponse</span> response) &#123;
                    <span style="color:#569cd6;">Log</span><span style="color:#b4b4b4;">.</span>d<span style="color:#b4b4b4;">(</span>TAG<span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;Graph data: &quot;</span> <span style="color:#b4b4b4;">+</span> object<span style="color:#b4b4b4;">.</span>toString<span style="color:#b4b4b4;">())</span>;
                    viewUserData<span style="color:#b4b4b4;">(</span>object<span style="color:#b4b4b4;">)</span>;
                }
            }<span style="color:#b4b4b4;">)</span>;
    
        <span style="color:#569cd6;">Bundle</span> parameters <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#569cd6;">Bundle</span>();
        parameters<span style="color:#b4b4b4;">.</span>putString<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;fields&quot;</span><span style="color:#b4b4b4;">,</span> <span style="color:#d69d85;">&quot;id,email,name,first_name,middle_name,last_name,age_range,birthday,gender,hometown,address,location,languages,link,public_key&quot;</span><span style="color:#b4b4b4;">)</span>;
        request<span style="color:#b4b4b4;">.</span>setParameters<span style="color:#b4b4b4;">(</span>parameters<span style="color:#b4b4b4;">)</span>;
        request<span style="color:#b4b4b4;">.</span>executeAsync<span style="color:#b4b4b4;">()</span>;
    }
        </pre>

        <p>
            Whether or not you actually get this data will depend on if:
        </p>
        <ol>
            <li>the user has input that data into their Facebook account.</li>
            <li>the user has made that data public.</li>
            <li>you have the appropriate level of permissions specified in your app's settings on Facebook.</li>
            <li>you have requested those permissions in-code when you called <mark>logInWithReadPermissions()</mark> during <mark>signIn()</mark>.</li>
        </ol>
    </li>
    <li>
        <p>The data you get back form <mark>GraphAPI</mark> is in JSON format and can easily be read like so:</p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#4ec9b0;">viewUserData</span>(<span style="color:#569cd6;">JSONObject</span> object) &#123;
        <span style="color:#569cd6;">try</span> &#123;
            <span style="color:#569cd6;">String</span> id <span style="color:#b4b4b4;">=</span> object<span style="color:#b4b4b4;">.</span>getString<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;id&quot;</span><span style="color:#b4b4b4;">)</span>;
            <span style="color:#569cd6;">String</span> email <span style="color:#b4b4b4;">=</span> object<span style="color:#b4b4b4;">.</span>getString<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;email&quot;</span><span style="color:#b4b4b4;">)</span>;
            <span style="color:#569cd6;">String</span> name <span style="color:#b4b4b4;">=</span> object<span style="color:#b4b4b4;">.</span>getString<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;name&quot;</span><span style="color:#b4b4b4;">)</span>;
            <span style="color:#569cd6;">String</span> firstName <span style="color:#b4b4b4;">=</span> object<span style="color:#b4b4b4;">.</span>getString<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;first_name&quot;</span><span style="color:#b4b4b4;">)</span>;
            <span style="color:#569cd6;">String</span> lastName <span style="color:#b4b4b4;">=</span> object<span style="color:#b4b4b4;">.</span>getString<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;last_name&quot;</span><span style="color:#b4b4b4;">)</span>;
            <span style="color:#569cd6;">String</span> gender <span style="color:#b4b4b4;">=</span> object<span style="color:#b4b4b4;">.</span>getString<span style="color:#b4b4b4;">(</span><span style="color:#d69d85;">&quot;gender&quot;</span><span style="color:#b4b4b4;">)</span>;
        } <span style="color:#569cd6;">catch</span> (<span style="color:#569cd6;">JSONException</span> e) &#123;
            e<span style="color:#b4b4b4;">.</span>printStackTrace<span style="color:#b4b4b4;">()</span>;
        }
    }
        </pre>
    </li>

    <li>
        <p>
            Lastly, signing out is handled the usual way.
        </p>

        <pre style="font-family:Consolas;font-size:13px;color:gainsboro;background:#1e1e1e;">
            
    <span style="color:#569cd6;">FirebaseAuth</span><span style="color:#b4b4b4;">.</span>getInstance<span style="color:#b4b4b4;">().</span>signOut<span style="color:#b4b4b4;">()</span>;
        </pre>
    </li>
</ol>
