<app-vuforia-world-builder-page-menu></app-vuforia-world-builder-page-menu>

<h3>Please Note</h3>

<p>This tutorial assumes you have:</p>

<ul>
  <li>A basic Vuforia project set-up according to <a
      [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['unity>ar>vuforia>getting-started']}}]">these
      guidelines</a>.</li>
  <li>Your own <mark>CustomTrackableEventHandler</mark> according to <a
      [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['unity>ar>vuforia>tracking-events']}}]">these
      guidelines</a>.</li>
</ul>

<h2>Core Project</h2>

<p>
  We'll aim to make a 3D world-building application to gain an understanding of what it's like to work on small AR
  project. If anything, this should illustrate how working with AR isn't so different from working with any usual
  project. For now, this tutorial will assume you've already been through the steps to set-up Vuforia.
</p>

<img src="assets/images/projects/vuforia-world-builder/touch-test.gif" class="img-sml">

<h2>Scene Objects</h2>

<p>
  Firstly, we'll be populating our Image Target with the following:
</p>
<p>
  <img src="assets/images/projects/vuforia-world-builder/ImageTargetSetUp.JPG" class="img-sml">
</p>

<p><b>Plane and Sphere:</b> We treat these as our world. We'll be dragging objects from our UI and onto our world. These
  need to be on the <mark>Terrain</mark> layer to be picked up by our raycast when we drag objects over it.
</p>

<h2>UI</h2>

<p>
  Create 5 buttons within a panel along the bottom of your screen. I've chosen to scale my canvas with screen-size.
</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/CanvasScaler.JPG" class="img-sml">
</p>

<p>I've anchored my panel to the bottom of my
  screen, and given it a <mark>HorizontalLayoutGroup</mark> component and allowed the children to scale and space
  themselves according to the size of the parenting panel.
</p>
<p>
  <img src="assets/images/projects/vuforia-world-builder/UI.jpg" class="img-sml">
  <img src="assets/images/projects/vuforia-world-builder/UIHierarchy.JPG" class="img-sml">
</p>
<p>
  <img src="assets/images/projects/vuforia-world-builder/UIPanelAnchorPivotPosition.JPG" class="img-sml">
</p>
<p>
  <img src="assets/images/projects/vuforia-world-builder/HorizontalLayoutGroup.JPG" class="img-sml">
</p>

<p>The buttons themselves all have their <mark>Image</mark> component set to <mark>Simple</mark> and have <mark>Preserve
    Aspect</mark> enabled.</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/UIImageSettings.JPG" class="img-sml">
</p>

<h2>Cameras</h2>

<p>
  4x things to take into account:
</p>

<ul>
  <li>Layers</li>
  <li>Depth</li>
  <li>Tags</li>
  <li>Field of View</li>
</ul>

<h3>Layers</h3>

<p>This app will use TWO cameras! When we're previewing the placement of our objects, we'll temporarily treat our 3D
  objects as UI which is overlayed over the world. We'll use <mark>layers</mark> to specify the behaviour of our two
  cameras.
</p>
<p>
  <img src="assets/images/projects/vuforia-world-builder/Cameras.JPG" class="img-sml">
</p>
<p>
  Basically our <mark>ARCamera</mark> sees everything except for our <mark>UI</mark> and <mark>Overlay</mark>
  objects.
</p>
<p>
  <img src="assets/images/projects/vuforia-world-builder/ARCamLayers.jpg" class="img-sml">
</p>
<p>
  Our <mark>OverlayCamera</mark> can ONLY see those layers. This camera can also ONLY see depth, this is the part
  that allows our second camera to have 'overlay' behaviour.
</p>
<p>
  <img src="assets/images/projects/vuforia-world-builder/OverlayCamLayers.jpg" class="img-sml">
</p>

<p>Naturally, the <mark>Overlay</mark> and <mark>Terrain</mark> layers don't exist by default. You'll have to add them
  yourself.</p>

<h3>Depth</h3>

<p>We also set <mark>Depth</mark> to 1 for our Overlay camera, and -1 for our Main Camera. This basically means our
  <mark>UI</mark> and
  <mark>Overlay</mark> layers are rendered on-top of whatever our main camera sees, which is handy when you need to
  drag objects around with your mouse, and have them appear over top of the world regardless of their actual position
  in world-space. Don't worry if that flies over-head for now.
</p>

<p><i>ARCamera:</i></p>

<p><img src="assets/images/projects/vuforia-world-builder/DepthARCamera.JPG" class="img-sml"></p>

<p><i>OverlayCamera:</i></p>

<p><img src="assets/images/projects/vuforia-world-builder/DepthOverlayCamera.JPG" class="img-sml"></p>

<h3>Tags</h3>

<p>Tag your AR camera as <mark>MainCamera</mark>. Some of our scripts will be referring to <mark>Camera.main</mark>
  which works by finding the first available camera tagged as such. <mark>Untagged</mark> is fine for the Overlay
  Camera, no scripts need to speak to it.</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/MainCameraTag.JPG" class="img-sml">
</p>

<h3>Field of View</h3>

<p>Remember that because this is AR, it relies on a physical camera. Typically our webcam / phonecam. It has an actual
  lens, with a physical field of view (FoV). In case you're wondering, FoV is basically how much area your camera-lens
  is able to see. A higher FoV can see more, but because lenses are semi-spherical, we take-on some lens-distortion to
  fit more into our Field of View.</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/FOV.jpg">
</p>

<p>So, how do we account for this? Well, most AR apps probably won't have to. But because we make use of a second camera
  to see our geometry in the overlay, we need our Overlay Camera to have the same FoV as our AR Camera, otherwise when
  we run our application, objects will appear offset in all kinds of weird ways.</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/FOVAR.JPG">
</p>

<p>
  Run any AR app in Unity and you can note that Vuforia sets the Field of View automatically on the ARCamera. We can
  write a script to account for any obscure camera you decide to use. Create the following script, and add it to your
  OverlayCamera. Note that this makes use of custom events spoken about <a
    [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['unity>ar>vuforia>tracking-events']}}]">here</a>.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;
 
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">FoVAssistant</span> : <span style="color:#4ec9b0;">MonoBehaviour</span> &#123;
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Camera</span> cameraOverlay;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnEnable</span>() &#123;
            <span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingFound <span style="color:#b4b4b4;">+=</span> OnTrackingFound;
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnDisable</span>() &#123;
            <span style="color:#4ec9b0;">Events</span><span style="color:#b4b4b4;">.</span>OnTrackingFound <span style="color:#b4b4b4;">-=</span> OnTrackingFound;
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            cameraOverlay <span style="color:#b4b4b4;">=</span> GetComponent&lt;<span style="color:#4ec9b0;">Camera</span>&gt;();
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> OnTrackingFound() &#123;
            cameraOverlay<span style="color:#b4b4b4;">.</span>fieldOfView <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Camera</span><span style="color:#b4b4b4;">.</span>main<span style="color:#b4b4b4;">.</span>fieldOfView;
        &#125;
    &#125;

</pre>

<p>We subscribe to those events we built earlier, and use them as a means to trigger our method which copies the FoV
  from the main camera, which takes its FoV from the physical webcam/phonecam. This can't be done in
  <mark>Start()</mark> or <mark>Awake()</mark> because the physical camera may not have initialized by that point, and
  running it in <mark>Update()</mark> would be extremely wasteful.</p>

<h3>AudioListener</h3>

<p>Lastly, Unity, as a rule, will only support up to 1 <mark>AudioListener</mark> component in any given Unity scene.
  Remove this component from the Overlay camera.
</p>

<h2>DetectOverlap.cs</h2>

<p>So, at some point, when we're dragging objects to the world, we'll need to check if it's ok to place an object at any
  given location, because what if that space already has an object? We won't apply this script manually, it'll be
  applied to our previewObject through code when the app begins.</p>

<p>Create a new C# script and paste the following code, remember that your file-name has to match the class-name:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> System<span style="color:#b4b4b4;">.</span>Collections<span style="color:#b4b4b4;">.</span>Generic;
    <span style="color:#569cd6;">using</span> UnityEngine;
     
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">DetectOverlap</span> : <span style="color:#4ec9b0;">MonoBehaviour</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">static</span> <span style="color:#4ec9b0;">List</span>&lt;<span style="color:#4ec9b0;">Collider</span>&gt; overlaps <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">List</span>&lt;<span style="color:#4ec9b0;">Collider</span>&gt;();
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">const</span> <span style="color:#569cd6;">string</span> TAG <span style="color:#b4b4b4;">=</span> <span style="color:#d69d85;">&quot;Interactive&quot;</span>;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Collider</span> c <span style="color:#569cd6;">in</span> GetComponentsInChildren&lt;<span style="color:#4ec9b0;">Collider</span>&gt;()) &#123;
                c<span style="color:#b4b4b4;">.</span>isTrigger <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
                c<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>tag <span style="color:#b4b4b4;">=</span> TAG;
            &#125;
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnTriggerEnter</span>(<span style="color:#4ec9b0;">Collider</span> other) &#123;
            <span style="color:#569cd6;">if</span> (other<span style="color:#b4b4b4;">.</span>tag <span style="color:#b4b4b4;">==</span> TAG) &#123;
                overlaps<span style="color:#b4b4b4;">.</span>Add(other);
            &#125;
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnTriggerExit</span>(<span style="color:#4ec9b0;">Collider</span> other) &#123;
            <span style="color:#569cd6;">if</span> (other<span style="color:#b4b4b4;">.</span>tag <span style="color:#b4b4b4;">==</span> TAG) &#123;
                overlaps<span style="color:#b4b4b4;">.</span>Remove(other);
            &#125;
        &#125;
    &#125;

</pre>

<p>That's it, that's the whole script. What you see here is quite simple, when one's collider enters another's,
  we store it to a static list, when one's collider exits another's, we remove it from said list. Now, whenever our code
  relies on overlapping geometry (or lack thereof), we just ask this class if the list has anything in it. If not, we
  assume it's safe to place an object and colour our preview object green, otherwise,
  we're obstructed, and colour our preview object red to say we can't place it there.</p>

<p>
  By setting <mark>TAG</mark> as a <mark>const</mark>, we're making it clear to any programmers in future who read our
  script that this variable should always remain the same (constantly). You're only able to define a const at compile
  time, never at runtime, meaning trying to set it during your methods will not work (which is what we want). A
  <mark>const</mark> is typically written in UPPER_SNAKE_CASE to inform people via intellisense that it's not a
  reference type.
</p>

<p>During <mark>Awake()</mark> we simply do whatever needs to be done in order to ensure that these overlaps are
  possible. Of course, this means enabling each trigger and setting their tag appropriately.</p>

<p>To accommodate the above script, our interactable objects in the world will be given a <mark>Rigidbody</mark> with
  <mark>colliders</mark> present in their heirarchy. You may not have your objects ready yet, but we'll revise this step
  in a checklist at the end of the tutorial.</p>

<p>
    Lastly, for this script to work, you need to have created a tag called <mark>Interactive</mark>.
</p>

<p><img src="assets/images/projects/vuforia-world-builder/InteractiveTag.JPG" class="img-sml"></p>

<h2>ButtonObjectSelection.cs</h2>

<p>There's only one BIG script for this. The others are quite small. There're a few jobs we need our scripts to do, but
  let's tackle the most obvious one first: getting a response from our UI.</p>

<p>Create a new script and name it 'ButtonObjectSelection'. ATTACH THIS SCRIPT TO EACH OF YOUR BUTTONS IN THE UNITY
  EDITOR!!! We'll need the following using-statements:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;
    <span style="color:#569cd6;">using</span> UnityEngine<span style="color:#b4b4b4;">.</span>UI;
    <span style="color:#569cd6;">using</span> UnityEngine<span style="color:#b4b4b4;">.</span>EventSystems;

</pre>

<p>
  After inherting from MonoBehaviour, include the EventSystems interfaces as well:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">ButtonObjectSelection</span> : <span style="color:#4ec9b0;">MonoBehaviour</span>, <span style="color:#b8d7a3;">IPointerDownHandler</span>, <span style="color:#b8d7a3;">IPointerUpHandler</span>

</pre>

<p>
  <img src="assets/images/projects/vuforia-world-builder/Daunting.gif" class="img-sml">
</p>

<p>This can be a frightening script if you're coming in to this for the first time. I'll also be reverse-engineering an
  already-completed script, so explanations won't be too deep or step-by-step here. Feel free to copy and paste,
  however, as we go.</p>

<p>The first thing I do when looking at a very large script for the first time is to make use of Visual Studio's
  collapse-all feaure (ctrl+m, ctrl+o). When you look at a script with all the methods collapsed, it's a LOT easier to
  decide which parts to focus on.</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/LessDaunting.jpg">
</p>

<p>So, let's forget about things we AREN'T confused about... variables and unity's built-in methods... the last few
  methods seem to only work with materials... nothing too astounding... we're really only concerned with these few
  methods cos they're the most baffling to us:</p>

<p>
  <img src="assets/images/projects/vuforia-world-builder/LeastDaunting.JPG">
</p>

<p>That's a lottttt less daunting... before we get to work on our methods, let's get some useful variables in place that
  we'll need throughout this:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">Interactable</span> interactableToSpawn; <span style="color:#57a64a;">// Thes object from our scene that we would like this button to be responsible for spawning on our terrain.</span>

    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">GameObject</span> previewObject;   <span style="color:#57a64a;">// A simple cache of our interactableToSpawn which is instead used as our preview object when dragging.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">LayerMask</span> mask;             <span style="color:#57a64a;">// Mask our raycaster to only work against objects on the &#39;Terrain&#39; layer.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Vector3</span> spawnPosition;      <span style="color:#57a64a;">// Keep track of the potential spawnPosition so that multiple methods can make use of this information.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Quaternion</span> spawnRotation;   <span style="color:#57a64a;">// Store the spawn rotation as previewed when moving along the terrain so we can use it when we actually spawn an object.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">RaycastHit</span> hit;             <span style="color:#57a64a;">// Store whatever we hit from our raycast as a few methods can make use of that information.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Button</span> button;              <span style="color:#57a64a;">// Just a reference to our button. We only store it so that we can enable/disable it at will.</span>
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">bool</span> isDragging;            <span style="color:#57a64a;">// Keep track of whether or not we should be dragging our object.</span>

</pre>

<p>Have a read of the comments among the above variables, when you feel you understand them as best you can, carry on to
  functionality below.</p>

<p>
  This script will be applied to each button on our canvas. It'll manage object-selection, dragging, and finally,
  dropping objects to the world. So, to get started, we try to think of functionality in order of user-interactions.
  Before our user even begins to interact, we need to prepare the objects pertaining to our button. A prefab will be
  drawn to our <mark>interactableToSpawn</mark> variable for the purpose of instantiating, so let's address that first.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> InitializePreviewObject() &#123;
        previewObject <span style="color:#b4b4b4;">=</span> Instantiate(interactableToSpawn, transform<span style="color:#b4b4b4;">.</span>position, <span style="color:#4ec9b0;">Quaternion</span><span style="color:#b4b4b4;">.</span>identity)<span style="color:#b4b4b4;">.</span>gameObject;
        previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>SetParent(<span style="color:#4ec9b0;">CustomTrackableEventHandler</span><span style="color:#b4b4b4;">.</span>instance<span style="color:#b4b4b4;">.</span>transform);
        previewObject<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>AddComponent&lt;<span style="color:#4ec9b0;">DetectOverlap</span>&gt;();
        previewObject<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>SetActive(<span style="color:#569cd6;">false</span>);

        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Rigidbody</span> rb <span style="color:#569cd6;">in</span> previewObject<span style="color:#b4b4b4;">.</span>GetComponentsInChildren&lt;<span style="color:#4ec9b0;">Rigidbody</span>&gt;()) &#123;
            rb<span style="color:#b4b4b4;">.</span>isKinematic <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
        &#125;
    &#125;

</pre>

<p>
  We spawn our first interactable and keeps it on-hand to use as a preview object when we're dragging. We set our
  imageTracker as that object's parent and add the DetectOverlap script to it (which we'll talk about later), and then
  immediately switch-off the entire gameObject so that it's hidden from our user while they haven't selected anything.
  We then process all rigidbodies to make sure they can't fall through the world while we're not interacting.
</p>

<p>
  Let's now consider the first user interaction, what happens when we click on our button? We need to prepare an object
  to be placed into the world. So let's make sure we're getting our mouse-clicks, disable our button from future clicks
  while we're dragging an object, and set us up to move our object around the screen / overlay.
</p>

<p>Be sure to include the built-in <mark>OnPointerDown()</mark> method as well. The following method is a response to us clicking one of our buttons afterall.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">
</pre>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> OnPointerDown(<span style="color:#4ec9b0;">PointerEventData</span> eventData) &#123;
        FlagObjectForPlacement();
    &#125;
    
    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> FlagObjectForPlacement() &#123;
        isDragging <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;

        SetObjectLayer(previewObject<span style="color:#b4b4b4;">.</span>transform, <span style="color:#d69d85;">&quot;Overlay&quot;</span>);

        previewObject<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>SetActive(<span style="color:#569cd6;">true</span>);
        button<span style="color:#b4b4b4;">.</span>interactable <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">false</span>;

        MoveAlongOverlay();
    &#125;

</pre>

<p>Note that we allow our object to be draggable here.</p>

<p><mark>SetObjectLayer()</mark> is to do with those layers we setup in Unity earlier. Our object will either be dragged
  around in the Overlay (screen), or along the Terrain. It's important to discern between the two by using layers so
  that we render them in the correct camera. So we need this method in-place:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> SetObjectLayer(<span style="color:#4ec9b0;">Transform</span> _transform, <span style="color:#569cd6;">string</span> _layerName) &#123;
        <span style="color:#4ec9b0;">Transform</span>[] transforms <span style="color:#b4b4b4;">=</span> _transform<span style="color:#b4b4b4;">.</span>GetComponentsInChildren&lt;<span style="color:#4ec9b0;">Transform</span>&gt;();
        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Transform</span> t <span style="color:#569cd6;">in</span> transforms) &#123;
            t<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>layer <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">LayerMask</span><span style="color:#b4b4b4;">.</span>NameToLayer(_layerName);
        &#125;
    &#125;

</pre>

<p>We're just changing a layer... why so much code?</p>

<p>Well, some 3D models are made up of multiple parts, so this simply iterates through every object in a hierarchy and
  sets the layer on each object found within.</p>

<p>So an important, missing piece right now is the missing method: <mark>MoveAlongOverlay</mark>. Once we've clicked a
  button, we need to start dragging an object around our screen. We:</p>

<ol>
  <li>Make sure our object's on the right layer.</li>
  <li>Track our mouse's position.</li>
  <li>Set a distance from the camera.</li>
  <li>Convert our mouse-position from a 2D coordinate into a 3D one.</li>
  <li>Apply that new position to our object.</li>
  <li>Our camera is an AR one... so it can move all over the place... we rotate our selected object to the same
    rotation as our camera.</li>
</ol>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> MoveAlongOverlay() &#123;
        SetObjectLayer(previewObject<span style="color:#b4b4b4;">.</span>transform, <span style="color:#d69d85;">&quot;Overlay&quot;</span>);

        <span style="color:#4ec9b0;">Vector3</span> pos <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>mousePosition;
        pos<span style="color:#b4b4b4;">.</span>z <span style="color:#b4b4b4;">=</span> transform<span style="color:#b4b4b4;">.</span>forward<span style="color:#b4b4b4;">.</span>z <span style="color:#b4b4b4;">-</span> <span style="color:#4ec9b0;">Camera</span><span style="color:#b4b4b4;">.</span>main<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>forward<span style="color:#b4b4b4;">.</span>z <span style="color:#b4b4b4;">+</span> <span style="color:#b5cea8;">15</span>;

        previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Camera</span><span style="color:#b4b4b4;">.</span>main<span style="color:#b4b4b4;">.</span>ScreenToWorldPoint(pos);
        previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>rotation <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Camera</span><span style="color:#b4b4b4;">.</span>main<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>rotation;
    &#125;

</pre>

<p>
  We have our method for dragging an object around the screen. Now we need one for dragging along terrain, it actually
  looks really similar.
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> MoveAlongTerrain() &#123;
        SetObjectLayer(previewObject<span style="color:#b4b4b4;">.</span>transform, <span style="color:#d69d85;">&quot;Default&quot;</span>);

        spawnPosition <span style="color:#b4b4b4;">=</span> hit<span style="color:#b4b4b4;">.</span>point;
        previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>position <span style="color:#b4b4b4;">=</span> spawnPosition;

        spawnRotation <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Quaternion</span><span style="color:#b4b4b4;">.</span>FromToRotation(previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>up, hit<span style="color:#b4b4b4;">.</span>normal) <span style="color:#b4b4b4;">*</span> previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>rotation;
        previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>rotation <span style="color:#b4b4b4;">=</span> spawnRotation;
    &#125;

</pre>

<p>The major difference here is that we're using the default layer while objects travel along terrain, and that we make
  use of hit information from a raycast to define our preview position. Also that we update our spawnRotation to match
  the facing normal of whichever terrain polygon our mouse is currently hovered over. Next, we're going to need some
  logic to figure out which method we should be using when we drag our mouse, as it'll either be
  <mark>MoveAlongOverlay()</mark> or <mark>MoveAlongTerrain()</mark>.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">LateUpdate</span>() &#123;
        RaycastFindTerrain();
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> RaycastFindTerrain() &#123;
        <span style="color:#569cd6;">if</span> (<span style="color:#b4b4b4;">!</span>isDragging) &#123;
            <span style="color:#569cd6;">return</span>;
        &#125;

        <span style="color:#4ec9b0;">Ray</span> ray <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Camera</span><span style="color:#b4b4b4;">.</span>main<span style="color:#b4b4b4;">.</span>ScreenPointToRay(<span style="color:#4ec9b0;">Input</span><span style="color:#b4b4b4;">.</span>mousePosition);
        <span style="color:#569cd6;">if</span> (<span style="color:#4ec9b0;">Physics</span><span style="color:#b4b4b4;">.</span>Raycast(ray, <span style="color:#569cd6;">out</span> hit, <span style="color:#b5cea8;">50.0f</span>, mask)) &#123;
            MoveAlongTerrain();
        &#125; <span style="color:#569cd6;">else</span> &#123;
            MoveAlongOverlay();
        &#125;
    &#125;

</pre>

<p>First, we return in the event we aren't dragging. If we miss this step, LateUpdate is going to run this every frame
  and all objects will be dragging across our screen even if we haven't clicked to do that yet.</p>

<p>So, we raycast from the camera, if we hit something, we assume we should move along the terrain, otherwise, we move
  along the overlay. Our raycast has a mask which will eventually prevent it from detecting things that aren't an
  object on the terrain layer. We have a maximum raycast distance of 50 here, which MAY be subject to change if you
  find your raycaster isn't detecting your terrain. I'll leave that to you though... lastly, note that I've added the
  call to <mark>RaycastFindTerrain()</mark> to <mark>LateUpdate()</mark>. Without going into specifics, it's a good
  idea to place camera-dependant features into this method.</p>

<p>We've almost completed all of the user interaction. We're grabbing an object when we click a button, and dragging it
  around on the screen or terrain when we move our mouse, we're just missing the last step. What to do when we release
  our click?</p>

<p>This won't function right away, because we're missing an entire class that deals with overlapping objects, but get
  this in now anyway.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">void</span> OnPointerUp(<span style="color:#4ec9b0;">PointerEventData</span> eventData) &#123;
        <span style="color:#569cd6;">if</span> (hit<span style="color:#b4b4b4;">.</span>transform <span style="color:#b4b4b4;">&amp;&amp;</span> <span style="color:#4ec9b0;">DetectOverlap</span><span style="color:#b4b4b4;">.</span>overlaps<span style="color:#b4b4b4;">.</span>Count <span style="color:#b4b4b4;">==</span> <span style="color:#b5cea8;">0</span>) &#123;
            SpawnCopy();
        &#125;

        RestoreAvailability();
    &#125;

</pre>

<p>So, at some point, you know we're going to be detecting overlapping objects, and that if there aren't any overlaps,
  we'll allow an object to spawn when we release our click. This is of course, if we have any hit info stored, which
  thanks to our raycast's mask, will only happen if we've dragged an object over something in the <mark>Terrain</mark>
  layer. Regardless of what happens here, we make sure to make our button available for use again. Let's have a look
  at the method that handles the spawning:
</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> SpawnCopy() &#123;
        <span style="color:#4ec9b0;">Transform</span> t <span style="color:#b4b4b4;">=</span> Instantiate(interactableToSpawn, hit<span style="color:#b4b4b4;">.</span>point, spawnRotation, <span style="color:#4ec9b0;">CustomTrackableEventHandler</span><span style="color:#b4b4b4;">.</span>instance<span style="color:#b4b4b4;">.</span>transform)<span style="color:#b4b4b4;">.</span>transform;
        t<span style="color:#b4b4b4;">.</span>localScale <span style="color:#b4b4b4;">=</span> previewObject<span style="color:#b4b4b4;">.</span>transform<span style="color:#b4b4b4;">.</span>localScale;

        <span style="color:#569cd6;">foreach</span> (<span style="color:#4ec9b0;">Collider</span> c <span style="color:#569cd6;">in</span> t<span style="color:#b4b4b4;">.</span>GetComponentsInChildren&lt;<span style="color:#4ec9b0;">Collider</span>&gt;()) &#123;
            c<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>tag <span style="color:#b4b4b4;">=</span> <span style="color:#d69d85;">&quot;Interactive&quot;</span>;
        &#125;

        SetObjectLayer(t, <span style="color:#d69d85;">&quot;Default&quot;</span>);
    &#125;

</pre>

<p>We spawn a copy of our interactable object, position it and rotate it wherever our raycast ended up on the terrain,
  we set the scale of the object here as well. We provide the right tag for the object's colliders so that later our preview objects will detect it properly. We return the object to the default layer.</p>

<p>Remember, after detecting overlapping objects to spawn a copy or not in <mark>OnPointerUp()</mark>, there's something
  we do unconditionally, and that's <mark>RestoreAvailability()</mark>. In short, we're making our button clickable
  again, and returning our preview object back to where it came from. We also inform our script at this point that we
  shouldn't be dragging our object
  anymore.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> RestoreAvailability() &#123;
        isDragging <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">false</span>;

        hit <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">new</span> <span style="color:#4ec9b0;">RaycastHit</span>();

        SetObjectLayer(previewObject<span style="color:#b4b4b4;">.</span>transform, <span style="color:#d69d85;">&quot;Overlay&quot;</span>);

        button<span style="color:#b4b4b4;">.</span>interactable <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">true</span>;
        previewObject<span style="color:#b4b4b4;">.</span>gameObject<span style="color:#b4b4b4;">.</span>SetActive(<span style="color:#569cd6;">false</span>);
    &#125;

</pre>

<p>To complete this script, just add in some basic initialization stuff at the top, just below your variables:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
        button <span style="color:#b4b4b4;">=</span> GetComponent&lt;<span style="color:#4ec9b0;">Button</span>&gt;();
        mask <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">LayerMask</span><span style="color:#b4b4b4;">.</span>GetMask(<span style="color:#d69d85;">&quot;Terrain&quot;</span>);
    &#125;

    <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Start</span>() &#123;
        InitializePreviewObject();
    &#125;

</pre>

Just note, <mark>Start()</mark> instead of <mark>Awake()</mark>is a good place to put things in case you're worried
about accessing objects that may not be ready yet during <mark>Awake()</mark>.

<h2>Interactable.cs</h2>

<p>On to the part about making our objects interactable once they've been placed into the world. Before our scripts so
  far will even compile, we're going to have to include some of the C# classes that our previous scripts are quite
  sure
  exist already.</p>

<p>I've actually chosen to structure this in a particular way to try and force a designer to arrange their objects
  properly. We know that objects can have all kinds of interactions. Be it a car, a guitar, a cup of coffee etc. But
  we
  don't want to have to write unique code to support all of those possibilities in our scripts, so we'll make use of
  inheritence here. And because I'm a control freak, I really like the idea that I can also use an abstract class to
  force certain methods into my fellow programmers' code.</p>

<p>Create a new C# script called <mark>Interactable</mark> and paste the following code.</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> UnityEngine;

    [<span style="color:#4ec9b0;">RequireComponent</span>(<span style="color:#569cd6;">typeof</span>(<span style="color:#4ec9b0;">Rigidbody</span>))]
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">abstract</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">Interactable</span> : <span style="color:#4ec9b0;">MonoBehaviour</span>&#123;
        <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">abstract</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnMouseDown</span>();
     
        <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">abstract</span> <span style="color:#569cd6;">void</span> Respond();
    &#125;

</pre>

<p>This'll be the foundation for all interactable scripts in this project. It does nothing right now, you'll notice that the only 2 methods it has, don't even have a body, let alone any logic. This is because this class is "abstract", as signified by the <mark>abstract</mark> keyword in the class declaration. Abstract classes can only have body-less and abstract methods that do nothing. Basically, an abstract class has ONE purpose... to be inherited from. So let's give that a go...</p>

<p>All of our <mark>Interactable</mark> objects are going to need a <mark>Rigidbody</mark>. To save ourselves having to remember that, we tell this script to add it for us using <mark>[RequireComponent]</mark>.</p>

<h2>InteractableA.cs</h2>

<p>Create a new script called InteractableA and paste the following code:</p>

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">

    <span style="color:#569cd6;">using</span> System<span style="color:#b4b4b4;">.</span>Collections;
    <span style="color:#569cd6;">using</span> UnityEngine;
     
    <span style="color:#569cd6;">public</span> <span style="color:#569cd6;">class</span> <span style="color:#4ec9b0;">InteractableA</span> : <span style="color:#4ec9b0;">Interactable</span> &#123;
        <span style="color:#569cd6;">public</span> <span style="color:#4ec9b0;">AnimationCurve</span> valueOverTime;
     
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Vector3</span> initialScale;
        <span style="color:#569cd6;">private</span> <span style="color:#4ec9b0;">Coroutine</span> corResize;
     
        <span style="color:#569cd6;">private</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">Awake</span>() &#123;
            initialScale <span style="color:#b4b4b4;">=</span> transform<span style="color:#b4b4b4;">.</span>localScale;
        &#125;
     
        <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">override</span> <span style="color:#569cd6;">void</span> <span style="color:#569cd6;">OnMouseDown</span>() &#123;
            Respond();
        &#125;
     
        <span style="color:#569cd6;">protected</span> <span style="color:#569cd6;">override</span> <span style="color:#569cd6;">void</span> Respond() &#123;
            <span style="color:#569cd6;">if</span> (corResize <span style="color:#b4b4b4;">==</span> <span style="color:#569cd6;">null</span>) &#123;
                corResize <span style="color:#b4b4b4;">=</span> StartCoroutine(Resize());
            &#125;
        &#125;
     
        <span style="color:#569cd6;">private</span> <span style="color:#b8d7a3;">IEnumerator</span> Resize() &#123;
            <span style="color:#569cd6;">float</span> t <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0</span>;
            <span style="color:#569cd6;">float</span> duration <span style="color:#b4b4b4;">=</span> <span style="color:#b5cea8;">0.5f</span>;
            <span style="color:#4ec9b0;">Vector3</span> growthScale <span style="color:#b4b4b4;">=</span> initialScale <span style="color:#b4b4b4;">*</span> <span style="color:#b5cea8;">2</span>;
     
            <span style="color:#569cd6;">while</span> (t <span style="color:#b4b4b4;">&lt;</span> duration) &#123;
                transform<span style="color:#b4b4b4;">.</span>localScale <span style="color:#b4b4b4;">=</span> <span style="color:#4ec9b0;">Vector3</span><span style="color:#b4b4b4;">.</span>Lerp(initialScale, growthScale, valueOverTime<span style="color:#b4b4b4;">.</span>Evaluate(t <span style="color:#b4b4b4;">/</span> duration));
     
                t <span style="color:#b4b4b4;">+=</span> <span style="color:#4ec9b0;">Time</span><span style="color:#b4b4b4;">.</span>deltaTime;
                <span style="color:#569cd6;">yield</span> <span style="color:#569cd6;">return</span> <span style="color:#569cd6;">null</span>;
            &#125;
     
            transform<span style="color:#b4b4b4;">.</span>localScale <span style="color:#b4b4b4;">=</span> initialScale;
            corResize <span style="color:#b4b4b4;">=</span> <span style="color:#569cd6;">null</span>;
        &#125;
    &#125;

</pre>

<p>There are really only 2 things to take note of here.</p>

<ol>
  <li>The script inherits from <mark>Interactable</mark></li>
  <li>The 2 methods, <mark>Respond</mark> and <mark>OnMouseDown</mark> are declared with the <mark>protected</mark>
    and
    <mark>override</mark>keywords, thus overriding the abstract methods found in the parent abstract class.</li>
</ol>

<p>One major benefit to this is that when <mark>ButtonObjectSelection.cs</mark> asks us to fill out the public
  <mark>Interactable</mark> field, we can drag ANY object on to it as long as that object's script derives from
  Interactable.</p>

<p>A second benefit is that the script won't compile unless it includes the <mark>Respond()</mark> and
  <mark>OnMouseDown()</mark>. Through the use of an abstract class, I'm able to force programmers to include those
  methods, thus encouraging a standard workflow in the project.</p>

<p>For testing purposes, you can place the same InteractableA script on to each of your interactable objects, but in the
  future you should replace them with more specific scripts.</p>

<h2>All done with scripts!</h2>

<p>
  Let's do a final check over our scene objects. We mainly just need to check our buttons, our image tracker, and our
  spawnable objects. So we'll have a checklist:
</p>

<ol>
  <li>
    <p>
      You have a CustomTrackableEventHandler applied to your ImageTarget according to the <a
        [routerLink]="['/tutorials', {outlets: {'tutorials-content': ['unity>ar>vuforia>tracking-events']}}]">these
        guidelines</a>.
    </p>
    <p>
      <img src="assets/images/projects/vuforia-world-builder/CheckListCustomTrackableEventHandler.JPG">
    </p>
  </li>
  <li>
    <p>
      The <mark>ARCamera</mark> is tagged as <mark>MainCamera</mark>. <mark>Depth</mark> is set to -1.
      <mark>Culling Mask</mark> is set to see all layers except UI and Overlay.
    </p>
    <p>
      <img src="assets/images/projects/vuforia-world-builder/CheckListARCamera.JPG">
    </p>
  </li>
  <li>
    <p>
      The <mark>Overlay Camera</mark> has <mark>Depth</mark> is set to 1. <mark>Clear Flags</mark> is set to
      <mark>Depth Only</mark>. <mark>Culling Mask</mark> sees no layers except UI and Overlay. The
      <mark>FoVAssistant</mark> script has been applied. This camera has had its <mark>AudioListener</mark> component
      removed
      in the inspector.
    </p>
    <p>
      <img src="assets/images/projects/vuforia-world-builder/CheckListOverlayCamera.JPG">
    </p>
  </li>
  <li>
    <p>
      Our <mark>ImageTarget</mark> has had its <mark>DefaultTrackableEventHandler</mark> replaced with our own
      <mark>CustomTrackableEventHandler</mark>.
    </p>
    <p>
      <img src="assets/images/projects/vuforia-world-builder/CheckListCustomTrackableEventHandler.JPG">
    </p>
  </li>

  <li>
    <p>
      Spawnable objects have a rigidbody with
      <mark>isKinematic</mark> set however you please. Each one has an <mark>Interactable</mark> component and at least one <mark>Collider</mark> in its hierarchy.
    </p>
    <p>
      <img src="assets/images/projects/vuforia-world-builder/CheckListInteractable.JPG">
    </p>
  </li>

  <li>
      <p>The <Mark>Interactive</Mark> tag exists.</p>
      <p>
        <img src="assets/images/projects/vuforia-world-builder/InteractiveTag.JPG">
      </p>
  </li>

  <li>
    <p>Objects intended as terrain have the <mark>Terrain</mark> layer assigned to them.</p>
    <p>
      <img src="assets/images/projects/vuforia-world-builder/CheckListTerrain.JPG">
    </p>
  </li>

  <li>
    <p>Buttons have the <mark>ButtonObjectSelection</mark> script assigned, with a scene object referenced in the
      <mark>Interactable</mark> field.</p>
    <p>
      <img src="assets/images/projects/vuforia-world-builder/CheckListButtons.JPG">
    </p>
  </li>

  <li>
    <p>There's one minor tweak we can make to our layers. Sometimes there MAY be a chance that our preview objects with
      <mark>DetectOverlap</mark> will accidentally overlap each other, maybe because we have them placed at the same
      location in our scene. Let's prevent them from accidentally triggering overlaps by browsing to Unity's physics
      settings via <mark>Edit > Project Settings > Physics</mark> and unchecking interactions between
      <mark>Overlay</mark> and <mark>Overlay</mark>.</p>

    <p>
      <img src="assets/images/projects/vuforia-world-builder/PhysicsOverlayUnchecked.jpg">
    </p>
  </li>
</ol>

<app-vuforia-world-builder-page-menu></app-vuforia-world-builder-page-menu>