<p>Kinaesthetics is the study of motion in the human body. Where games are concerned, it's mostly referring to the level of
  physical action required by the player. A game like Age of Empires for example would have you scrolling around your map
  for awhile. The kinaesthetics would be sort of gentle as you're mostly only expected to click occasionally with your finger,
  and a little wrist motion to move your mouse, occasionally you have a few keys to press. Compare that to a game like Tekken.</p>
<img src="/assets/images/essential-terminology/kinaesthetics/age-of-empires.gif" class="img-sml">
<img src="/assets/images/essential-terminology/kinaesthetics/tekken.gif" class="img-sml">
<p>I don't typically see 'bad' kinaesthetics, i'd merely differentiate between the different executions of kinaesthetics by
  their complexity and rate of motion.</p>
<p>The worst I've experienced is
  <a href="https://www.google.com/url?q=https://youtu.be/AkMNgd588Dg?t=2m17s" target="_blank">Heavy Rain's</a>, but that was on purpose.</p>
<p>The main character was actually meant to be suffering severe drug withdrawals, The player is supposed to struggle and fail
  just as the main character is, the game sortof expects most players to fail this one and has a separate branch in the story
  if you actually happen to pass this part.</p>
<h2>Resources:</h2>
<ul>
  <li>
    <a href="http://gamestudies.org/1301/articles/karhulahti_kinesthetic_theory_of_the_videogame">Kinesthetic theory</a>
  </li>
</ul>