<h3>Design phase pitfalls</h3>
<ul>
  <li>
    <b>Feature creep:</b>
    when features incrementally bloat your game. These are the types of features that are added without heavy discussion or deep
    consideration. Often times, these features stray from the core, adding triple-jump or rollerblading to your side-scroller
    without much consideration. the feature
    <i>creeps</i>
    in. Now Bob is spending 8 hours implementing this, possibly without his lead's advisory or even knowledge. The next build
    manifests and there's a surprise roller-blade feature for which platforming puzzles have not been tuned for.
  </li>
  <li>
    <b>Married to previous design decision:</b>
    Games are supposed to be malleable in design. They shouldn't be the product of near science. The iterative process implies
    that we learn throughout production and apply what we learn. If you said there are 15 weapons in your game, don't get
    stuck to it, maybe there's 20.
  </li>
  <li>
    <b>Nice round numbers:</b>
    People have a tendency to like round numbers. They're easier for us to process and just look nicer to us. However they can
    limit creativity or coerce systems to become too solvable. Diablo isn't scared to offer stat boosts of 0.93%, and it
    works. Breaking free from round numbers can enable creativity, stifle blandness and create flexible interactions within
    the possibility space.
  </li>
  <li>
    <b>Listening too much:</b>
    Know WHEN to listen to your play-testers concerns. Ultimately, you are the keeper of your design. Failure or success is your
    responsibility. Seriously consider your play-tester's concerns, but know that they are often not game designers and are
    not privy to the failed designs you've already attempted and have no direct connection to your full core or mission statement.
  </li>
  <li>
    <b>Local Maxima:</b>
    Sometimes, everything so far in your game appears to be working. It may stay in a good working state for awhile, you and
    your testers are used to it. Changing it would have a bewildering effect. One day, you or someone imagines a way that
    it could be different, better even. So you try it and it's actually worse. Now, the logical thing could seem to be that
    we must revert from the change. Sometimes a game has to get worse before it can get better. Maybe the bad idea just needs
    to be tweaked right to become much better than what you had before. Remember, you're testing a new idea against a developed
    one, imagine the new idea going through the iteration process as well. Play-testers often get attached to things as they
    are and so do we. A change can seem bad when really it's just not what you were used to. They may take the failure of
    the first version of your idea as proof that their skepticism was well-placed. Of course, sometimes they're right. Be
    perceptive, though also be aware that people sometimes get attached to things the way they were.
  </li>
  <li>
    <b>Losing the core:</b>
    It's easy to get side-tracked sometimes throughout game development. Things get added:modes, maps, characters, screens. Careful
    that these don't become games of their own. Remember that all features or supporting mechanisms ideally support the core.
    Multiple cores can cause a lot of problems. Separate
    <i>screens</i>
    threaten to do this easily.
  </li>
  <li>
    <b>Changing several things at once:</b>
    When trying to balance a system, it's best to change only one thing at a time and observe the result. Changing multiple things
    can make the feedback difficult to decipher or interpret.
  </li>
  <li>
    <b>Rushing it:</b>
    Take your time! Great games are complex. It takes time for weaknesses to show sometimes. You might think after a week of
    testing,a feature, it seems fine, only to find that a month later it's the cause of some immense imbalance.
  </li>
</ul>
<h2>Post-release</h2>
<p>A game is never
  <i>done</i>. When it's released, that only means it was
  <i>ready</i> or
  <i>abandoned</i>. You can always improve your game with patches, and you should. Release day is the day your game gets truly
  tested. You'll receive more bugs today than any other day throughout production. Take your 5-20 play-testers, and pit them
  against the thousands or millions of people who will be trying your game when it appears under the new section on the store.
  Consumers are far more extreme testers of your game. They approach your game for the first time, aware of nothing.
</p>
<h2>Pitfalls</h2>
<h3>Deceiving the player</h3>
<p>This is not to say '
  <i>don't use these properties in your game, ever'.</i>This is to simply warn that heavy use of these properties can damage
  our system if it's trying to be a contest of decision-making. The following are things that designers intentionally put
  in their games, as opposed to imbalance which appears accidentally. The following are usually included as some easy way
  to avoid solvability. The extension is illusory, the game itself is no less solvable, there is now some unrelated obstacle
  in the way to stall the solution process.</p>
<h4>Labour / Chores</h4>
<p>A task that takes time but no thought. Grinding or delivering quests are examples.They typically don't involve decision-making.
  Any solved part of your game can be called labour. You CAN help the fact that you made your map so big that it's laborious
  to walk across it. Labour is for real-life. In games, we have the power to offer a solution to labour. Why include monotony
  when we don't have to? Grabbing a doughnut from the fridge is not as fun as eating it. Many FPS games with huge maps encourage
  a lot of
  <i>walking to the fridge.</i>Battles in RPGs can have the effect of an interruption to the interesting thing you were already
  doing. Try for your labour to be more than just
  <i>something to do while waiting for something interesting to happen.</i>Even moving a piece in chess is labour, it's near
  impossible to exclude completely, but it's something we can hope to minimize.</p>
<h4>Execution</h4>
<p>Execution is skill-based play. Aiming a throw to complete a pass or executing a long, precisely timed button-combo. Game
  designers should be aware that being able to execute an action is different to seeing that someone SHOULD execute an action.
  Games are systems of should:</p>
<ul>
  <li>Should I build this kind of unit?</li>
  <li>Should I move this piece here?</li>
  <li>Should I attack?</li>
  <li>Should I cash-in?</li>
</ul>
<p>It's a matter of making a decision, not simply finding out if you
  <i>can</i>do a certain thing.</p>
<p>Imagine Naughts and Crosses, except drawn in the sand, and the way to mark your square is by throwing a colored javelin form
  a distance. This introduces execution to an otherwise solved game. You can potentially miss, giving the other player a
  chance he otherwise wouldn't have had. We try to obfuscate the odds of success and give the player the possibility that
  they might mess-up.</p>
<p>The down-side is that the
  <i>mess up</i>creates noise in the system. You may choose a good move for a situation but fail to execute it. As the Final
  Feedback informs the meaning of all other feedback, the player could be led to believe that their decision was poor. An
  execution could be so obfuscated or difficult that it is merely
  <i>execution luck.</i>Contests are the truly correct place for these contests of execution, games are contests of decision-making.
  We need execution for a lot of things, the aim is to use it wisely.</p>
<h4>Memorization</h4>
<p>
  <img src="assets/images/design/clockwork-game-design/memorization.png">
</p>
<p>A single-player game needs randomness or procedurally generated content to function as a game. The player should not be able
  to simply run through motions on a second play-through. Memorization can override decision-making as a quality. If we are
  testing the user's memory with a game, then it's really more of a contest. Memory should definitely colour your decision-making,
  but not dominate it. As with before, this is not a quality we aim to remove, merely minimize and control. Useful memory
  should be as small and loose as possible.</p>
<h4>Output randomness</h4>
<p>
  <img src="assets/images/design/clockwork-game-design/output-randomness.png">
</p>
<p>Sometimes you make an optimal input or decision, but the success of this attempt hinges on a dice-roll which could give a
  very poor outcome. This kind of randomness is called output randomness: randomness that comes after a decision and can't
  be responded to by the decision maker, determining the outcome of your decision.</p>
<p>
  <i>Input randomness is the type that informs the player's decision-making, such as a procedurally generated map.</i>
</p>
<p>The main difference is when the info becomes public, and when it actually impacts the player. These two things ideally don't
  happen at once. Fog of war generally generates input randomness. You can often see a few tiles ahead. If you only saw a
  tile upon entering it, it would be output randomness.</p>
<p>Let's be clear about what
  <i>random</i>means exactly. Random is stuff WE can't predict. Dice rolls aren't random in reality. The dice simply responds
  to physics in ways we fail to predict. Random only needs to be random to us. A skilled player in
  <i>Risk</i>could potentially be beaten by an unskilled player if luck works out. The skill of decision-making is not efficiently
  measured in this case and it's a reason to avoid over-use of output randomness. Output randomness can create labour, see
  the drop-rates of rare items in many RPGs. It's hardly fair to the player. We should rather test their abilities rather
  than their patience.</p>
<p>Output randomness is bad to begin games with in certain cases. As far as the system is concerned, all players should have
  an equal chance of victory when the game begins. Card draws can almost determine the victor at the start of a game. Randomness
  should not determine who wins. Random placement in Worms could be an example of unfair input randomness.</p>
<p>See Keith Burgun's
  <a href="https://www.google.com/url?q=https://www.youtube.com/watch?v=2qfFEP_-LkI">video</a> on the topic.</p>
<h4>Visual Immersion</h4>
<p>Common practice is to use visuals to make our player feel as though they're really there. This is also one of the goals for
  a first-person perspective. This is not where immersion truly comes from, novels immerse people just fine. It's really,
  for games, quality interactions that immerse people. Meaningful decisions occurring frequently with meaningful feedback.
  Visual immersion might be good at getting people in the door, but the spectacle drops off quickly after that point.</p>
<h3>Deceiving the player</h3>
<p>The same things that deceive players can deceive us designers as well. High output randomness could make us think our system
  is good or has more to it than it does. Qualities that affect the designer especially, include the following.</p>
<h4>Mass content complexity</h4>
<p>Having dozens or hundreds of gems, or 500 spells could appear to surprise the player as they make combinations anew, but
  that's typically because players haven't played enough to memorize all of these rules. It holds for awhile, but eventually
  becomes easy to solve and to see for the noise-over-a-basic-system that it is. If you have a game with 200 characters,
  1/3 of them are wizards, 1/3 of them are knights, 1/3 of them are healers and you had to have one of each, you'll simply
  choose the ones you think will do the job and the other 197 won't matter. The man-hours gone in to 200 characters are immense
  and wasted when maybe you only needed 3 characters to provide value to your system to begin with.</p>
<h4>Novelty</h4>
<p>If we see someone dancing poorly, we may walk away unimpressed, but if we saw a bear doing the same dance, we're suddenly
  quite impressed. This is known as the dancing bear phenomenon. In games, this usually means the designer is starting out
  with some premise or technological platform that reduces our players expectations, like a game operated on a smart-watch
  that uses only sound. It's a gimmick that increases novelty while technological advances increase expectations. Art games
  tend to suffer from novelty, they may appear very pretty but with some rudimentary game mechanism trying to cover itself
  in the novelty of visual immersion, there's often a statement tied in like
  <i>'I love my dad'</i>or
  <i>'loneliness causes psychological damage'.</i>These can reduce our expectation and we'll sit through flat, boring game-play,
  any attempt to point it out would be met with '
  <i>but it's an art game</i>'. Call of Duty tends to re-release every year or so with the main selling point being the novelty
  of it it being the latest installment with very little adjustments made to the game itself which is a quality that tends
  to wear off quickly. I like Call of Duty, but will admit to buying the latest installments purely for the fact that they
  are that, new, with almost zero expectations that I'll get to explore a brand new system. The latest 2 installments have
  introduced jetpacks which were a game-changer, otherwise it's still the same. Novelty from a designer perspective can lead
  us to be less inventive and critical of our system.</p>
<h4>Genre</h4>
<p>This is another one that give us excuses for our work. '
  <i>Why does this RTS have map scrolling? I hate sliding my mouse around to fix the camera.'.</i>Answer:
  <i>'That's what you do in an RTS'.</i>Genres shouldn't be a crutch for features that don't feel right and don't serve us too
  well as design tools. Genres during design, usually, are actually completed game-designs. When we say
  <i>2D fighter,</i>it can sort of seem that our job is 90% done for us. Simply for saying this, it probably already has:
</p>
<ul>
  <li>Actors in a rectangle.</li>
  <li>Health bars.</li>
  <li>Attacks that deal damage to health.</li>
  <li>Blocking.</li>
  <li>Throwing that counters blocking.</li>
</ul>
<p>All the designer has to do is add special moves and add a new rule like a super-move bar. All done. Genres can be helpful
  for the first inception of a game, but beyond that, they lose their utility quickly.</p>
<h4>Toy</h4>
<p>Some games have more toy-like qualities. If there's enough complexity for the player to try new things, both the designer
  and the player may be deceived. Toy fun is different from game fun. This is mapping Vs. understanding. Physics-based interactive
  systems often fall into toy, puzzle or contest categories. A system prone to toy-fun is prone to novelty. Leaning on toy-fun
  can lead the designer to add more toy elements. This can snowball quickly. Toys can throw the ideas of balance, strategy
  and depth / elegance out the window.</p>
<h3>Moral choices</h3>
<p>It's tempting to add dialogue to your game and occasionally posing the question '
  <i>do you want to save this guy?</i>'. Say no, nothing happens to you, you carry on, he might die. However, if you say yes,
  he sits with your crew but kills them all in their sleep. This is more like choosing to flip a coin or not. Sometimes every
  option provided results in output randomness. This is not an interesting choice to make, it it's not random then there
  is some correct answer that can be memorized. Dressing this up with narrative doesn't fix this. This is fixed in games
  like KotOR or Fable where your morality is affected in the game state. Basically, moral choices mean nothing if your system
  doesn't process it. Take Call of Duty, we're not morally conflicted about killing anyone in that game. The thing is that
  this is NOT a reflection of real-life morality. When we play games, like Call of Duty, there's no such thing as morality
  built in to the rules. The rules say to kill your enemy. Morality is a set of rules that people made in reality, and in
  reality we play by those rules, but not in Call of Duty, because that rule does not exist, if it did, I am fully willing
  to believe we would play very differently.</p>